@{
    ViewBag.Title = "模具维修查询";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}
<span class="layui-breadcrumb" lay-separator=">">
    <a>@ViewBag.PreMenu</a>
    <a><cite>@ViewBag.Title</cite></a>
</span>
<br />
<br />
<div class="layui-form">
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_search">查询</button>
        <button class="layui-btn" id="btn_export">导出</button>
    </div>
    <br />
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">工厂：</label>
            <div class="layui-input-inline">
                <select id="Term_GC" lay-filter="Term_GC">
                    <option value="">请选择</option>
                </select>
            </div>
            <label class="layui-form-label1">工作中心：</label>
            <div class="layui-input-inline">
                <select id="Term_GZZXBH" lay-filter="Term_GZZXBH">
                    <option value="">请选择</option>
                </select>
            </div>
            <label class="layui-form-label1">模具号：</label>
            <div class="layui-input-inline">
                <select id="Term_MOULD">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">质量问题：</label>
            <div class="layui-input-inline">
                <select id="Term_QID" lay-filter="Term_QID">
                    <option value="0">请选择</option>
                </select>
            </div>
            <label class="layui-form-label1">维修内容：</label>
            <div class="layui-input-inline">
                <select id="Term_RID">
                    <option value="0">请选择</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label1">发起时间：</label>
        <div class="layui-input-inline">
            <input type="text" id="Term_DATESS" autocomplete="off" class="layui-input" placeholder="请选择">
        </div>
        <div class="layui-form-mid layui-word-aux">-</div>
        <div class="layui-input-inline">
            <input type="text" id="Term_DATESE" autocomplete="off" class="layui-input" placeholder="请选择">
        </div>
        <label class="layui-form-label1">关闭时间：</label>
        <div class="layui-input-inline">
            <input type="text" id="Term_DATEES" autocomplete="off" class="layui-input" placeholder="请选择">
        </div>
        <div class="layui-form-mid layui-word-aux">-</div>
        <div class="layui-input-inline">
            <input type="text" id="Term_DATEEE" autocomplete="off" class="layui-input" placeholder="请选择">
        </div>
    </div>
    <table class="layui-hide" id="tb_MTC" lay-filter="tb_MTC"></table>
</div>
@RenderPage("~/Areas/MES/Views/Shared/MOULD.cshtml")
@section scripts {
    <script>
        var all_fy = 1;
        var all_fysl = 10;
        var all_limits = [10, 20, 50, 100, 200, 500];
        var cacheData = [];
        layui.use(['table', 'layer', 'element', 'laydate', 'form', 'MES'], function () {
            var layer = layui.layer;
            var laydate = layui.laydate;
            var table = layui.table;
            var form = layui.form;
            var assist = sonluk.layui;
            var mouldCfm = layui.MES.MOULD.CFM;

            //table_init_MTC表头信息
            var mouldColsMTC = layui.MES.MOULD.COLS.MTC;
            mouldColsMTC[0].splice(mouldColsMTC[0].length - 1, 1);

            list_init_Term();
            table_init_MTC();

            laydate.render({
                elem: '#Term_DATESS',
                type: 'datetime'
            });
            laydate.render({
                elem: '#Term_DATESE',
                type: 'datetime'
            });
            laydate.render({
                elem: '#Term_DATEES',
                type: 'datetime'
            });
            laydate.render({
                elem: '#Term_DATEEE',
                type: 'datetime'
            });

            $("#btn_search").click(function () {
                table_init_MTC();
            });
            $("#btn_export").click(function () {
                if (cacheData.length !== undefined && cacheData.length != null && cacheData.length > 0) {
                    $.ajax({
                        type: "POST",
                        async: false,
                        url: "../MOULD/REP_SEARCH_Export",
                        data: {
                            datastring: JSON.stringify(cacheData)
                        },
                        success: function (data) {
                            rstData = JSON.parse(data);
                            if (rstData.TYPE == 'S') {
                                window.open("../MOULD/Export_Download" + "?filename=" + rstData.MESSAGE + "&filenameout=维护流程导出.xlsx", "_self");
                            }
                            else {
                                layer.alert(rstData.MESSAGE);
                            }
                        }
                    });
                }
            });

            table.on('tool(tb_MTC)', function (obj) { if (obj.event === 'ReadRep') mouldCfm.layer_init_readRep(obj.data.MES_PMM_MTC_REP); });

            form.on('select(Term_QID)', function (data) {
                if (data.value != "0") list_init_Term('AfterQID');
                else {
                    $('#Term_RID').empty();
                    $('#Term_RID').append(new Option("请选择", "0"));
                    form.render();
                }
            });
            form.on('select(Term_GC)', function (data) {
                if (data.value != "") list_init_Term('AfterGC');
                else {
                    $('#Term_GZZXBH').empty();
                    $('#Term_GZZXBH').append(new Option("请选择", ""));
                    $('#Term_MOULD').empty();
                    $('#Term_MOULD').append(new Option("请选择", ""));
                    form.render();
                }
            });
            form.on('select(Term_GZZXBH)', function (data) {
                if (data.value != "") list_init_Term('AfterGZZX');
                else {
                    $('#Term_MOULD').empty();
                    $('#Term_MOULD').append(new Option("请选择", ""));
                    form.render();
                }
            });

            function table_init_MTC() {
                var GC = $("#Term_GC").val();
                var DATESS = $("#Term_DATESS").val();
                var DATESE = $("#Term_DATESE").val();
                var DATEES = $("#Term_DATEES").val();
                var DATEEE = $("#Term_DATEEE").val();
                var postData = {
                    MES_PMM_MOULD: {
                        GC: GC,
                        GZZXBH: $("#Term_GZZXBH").val(),
                    },
                    MID: $("#Term_MOULD").val(),
                    QID: Number($("#Term_QID").val()),
                    RID: Number($("#Term_RID").val()),
                    DATESS: DATESS == "" ? "1800/1/1" : DATESS,
                    DATESE: DATESE == "" ? "1800/1/1" : DATESE,
                    DATEES: DATEES == "" ? "1800/1/1" : DATEES,
                    DATEEE: DATEEE == "" ? "1800/1/1" : DATEEE
                }
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "../MOULD/REP_SEARCH_Search",
                    data: {
                        datastring: JSON.stringify(postData)
                    },
                    success: function (data) {
                        var rstData = JSON.parse(data);
                        if (rstData.MES_RETURN.TYPE == "S") {
                            cacheData = rstData.MES_PMM_MTC;
                            assist.table.render({
                                elem: '#tb_MTC',
                                data: cacheData,
                                height: 'full-400',
                                cols: mouldColsMTC,
                                page: {
                                    limits: all_limits,
                                    limit: all_fysl,
                                    curr: all_fy,
                                    currfix: function (curr) { all_fy = curr; }
                                }
                            });
                        }
                        else if (rstData.MES_RETURN.TYPE == "E") layer.msg("查询失败，原因：" + rstData.MES_RETURN.MESSAGE);
                        else layer.msg("查询失败！");
                    }
                });
            }

            function list_init_Term(order) {
                order = order || "";
                switch (order) {
                    case "AfterGC":
                        $('#Term_MOULD').empty();
                        $('#Term_MOULD').append(new Option("请选择", ""));
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: "../MOULD/GZZXList",
                            data: {
                                GC: $('#Term_GC').val()
                            },
                            success: function (data) {
                                var rstData = JSON.parse(data);
                                $('#Term_GZZXBH').empty();
                                $('#Term_GZZXBH').append(new Option("请选择", ""));
                                $.each(rstData, function (index, item) {
                                    $('#Term_GZZXBH').append(new Option(item.GZZXBH + "-" + item.GZZXMS, item.GZZXBH));
                                });
                                if (rstData.length == 1) {
                                    $('#Term_GZZXBH').val(rstData[0].GZZXBH);
                                    list_init_Term("AfterGZZX");
                                }
                                form.render();
                            }
                        });
                        break;
                    case "AfterGZZX":
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: "../MOULD/MOULDList",
                            data: {
                                GC: $('#Term_GC').val(),
                                GZZXBH: $('#Term_GZZXBH').val()
                            },
                            success: function (data) {
                                var rstData = JSON.parse(data);
                                $('#Term_MOULD').empty();
                                $('#Term_MOULD').append(new Option("请选择", ""));
                                $.each(rstData, function (index, item) {
                                    $('#Term_MOULD').append(new Option(item.MOULD, item.MID));
                                });
                                form.render();
                            }
                        });
                        break;
                    case "AfterQID":
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: "../MOULD/RCODEList",
                            data: {
                                QID: $('#Term_QID').val()
                            },
                            success: function (data) {
                                var rstData = JSON.parse(data);
                                $('#Term_RID').empty();
                                $('#Term_RID').append(new Option("请选择", "0"));
                                $.each(rstData, function (index, item) {
                                    $('#Term_RID').append(new Option(item.RCODE + "-" + item.RNAME, item.RID));
                                });
                                form.render();
                            }
                        });
                        break;
                    default:
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: "../MOULD/GCList",
                            success: function (data) {
                                var rstData = JSON.parse(data);
                                $('#Term_GC').empty();
                                $('#Term_GC').append(new Option("请选择", ""));
                                $.each(rstData, function (index, item) {
                                    $('#Term_GC').append(new Option(item.GC + "-" + item.GCMS, item.GC));
                                });
                                if (rstData.length == 1) {
                                    $('#Term_GC').val(rstData[0].GC);
                                    list_init_Term("AfterGC");
                                }
                                form.render();
                            }
                        });
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: "../MOULD/QCODEList",
                            success: function (data) {
                                var rstData = JSON.parse(data);
                                $('#Term_QID').empty();
                                $('#Term_QID').append(new Option("请选择", "0"));
                                $.each(rstData, function (index, item) {
                                    $('#Term_QID').append(new Option(item.QCODE + "-" + item.QNAME, item.QID));
                                });
                                form.render();
                            }
                        });
                        break;
                }
            }
        });
    </script>
}
