@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-body">
    <div class="layui-row" id="LAY_demo1">
    </div>
</div>
<div class="layui-footer" align="right">
</div>

