@{
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "待办事项";
    Session["TITLENAME"] = "待办事项";
}

<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<br />
<h2 id="h1" style="margin:0 10px">待办事项</h2>
<h2 id="h2" style="margin:0 10px"></h2>

<br />
<hr class="layui-bg-black" />


<div class="layui-form">


    <div id="div_result" style="margin:0 10px">

    </div>
</div>


<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/layui2.2.5/layui.all.js"></script>



@section scripts {
    @Scripts.Render("~/bundles/CRM/BaiFang/BacklogMX")
}
