@{
    ViewBag.Title = "添加拜访日志";
    Session["TITLENAME"] = "添加拜访日志";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
}

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/html" id="KHtype_Tpl">
    {{# if(d.KHLX == 1){ }}
    经销商
    {{# }else if(d.KHLX == 2){ }}
    电商
    {{# }else if(d.KHLX == 3 && d.MCSX == 1){ }}
    直营卖场系统
    {{# }else if(d.KHLX == 3 && d.MCSX == 2){ }}
    直营卖场门店
    {{# }else if(d.KHLX == 4){ }}
    B2B
    {{# }else if(d.KHLX == 5){ }}
    网点终端
    {{# }else if(d.KHLX == 6){ }}
    批发
    {{# }else if(d.KHLX == 7 && d.MCSX == 1){ }}
    LKA系统
    {{# }else if(d.KHLX == 7 && d.MCSX == 2){ }}
    LKA门店
    {{# }else { }}
    error
    {{# } }}
</script>





<div id="from1">
    <div id="div1">

        <div class="layui-form-item" style="width:100%;margin:0;background-color:#009688">
            <button id="btn_cx" class="layui-btn" lay-submit lay-filter="formDemo" style="width:100%">查询</button>
        </div>


        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">查询条件</h2>
                <div id="div_select_tiaojian" class="layui-colla-content layui-show" style="padding-right: 0px;">


                    <div class="layui-form-item">

                        <label class="layui-form-label" style="width:100px; text-align:right;">客户类型：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="KHtype" lay-filter="KHtype">
                                <option value="0" selected="selected">请选择</option>
                                <option value="1">经销商</option>
                                <option value="2">电商</option>
                                <option value="4">B2B</option>
                                <option value="3">直营卖场</option>
                                <option value="5">网点终端</option>
                                <option value="6">批发</option>
                                <option value="7">LKA终端</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">客户编号：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <input id="KH_ID" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">客户名称：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <input id="KH_name" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">SAP编号：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <input id="sap" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">客户组：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="to_group008" lay-filter="to_group008">
                                <option value="0" selected="selected">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">

                        <label class="layui-form-label" style="width:100px; text-align:right;">省份：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="province4" lay-filter="province4">
                                <option value="0" selected>请选择</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">城市：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="city4" lay-filter="city4">
                                <option value="0" selected>请选择</option>
                            </select>
                        </div>

                    </div>
                    <div class="layui-form-item">

                        <label class="layui-form-label" style="width:100px; text-align:right;">销售组织：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="xszz" lay-filter="xszz">
                                <option value="0" selected="selected">请选择</option>
                                <option value="1100">1100</option>
                                <option value="1200">1200</option>
                                <option value="1400">1400</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">业务员：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="saler" lay-filter="saler" lay-search>
                                <option value="0" selected="selected">请选择</option>
                            </select>
                        </div>

                    </div>

                    <div class="layui-form-item">

                        <label class="layui-form-label" style="width:100px; text-align:right;">提交状态：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="submit_status" lay-filter="submit_status">
                                <option value="0">全部</option>
                                <option value="1">未提交</option>
                                <option value="2">已提交</option>

                            </select>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <br /><br />
        <div id="div_result" style="margin:0 10px">
        </div>
    </div>
</div>


<div id="div_xjbfrz" class="layui-form" hidden>
    <div class="layui-form-item" style="width:100%;margin:0;background-color:#009688">
        <button id="btn_addbfrz" class="layui-btn" lay-submit lay-filter="formDemo" style="width:100%"> 保存</button>
    </div>
    <div class="layui-collapse">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">拜访ID：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" id="in_add_bfrz_bfid" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">拜访类型：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <select id="in_add_bfrz_bflx" lay-filter="in_kh_khfz">
                    <option value="0" selected="selected">请选择</option>
                    <option value="1">日常拜访</option>
                    <option value="2">任务指派</option>
                    <option value="3">新客户开发</option>
                    <option value="4">客户日常检查</option>
                    <option value="5">指定下次拜访</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">客户编号：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" id="in_add_bfrz_khid" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">CRM编号：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" id="in_add_bfrz_crmid" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">客户名称：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" id="in_add_bfrz_khmc" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">客户类型：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <select id="in_add_bfrz_khlx" lay-filter="in_add_bfrz_khlx">
                    <option value="0" selected="selected">请选择</option>
                    <option value="1">经销商</option>
                    <option value="2">电商</option>
                    <option value="4">B2B</option>
                    <option value="3">直营卖场</option>
                    <option value="5">网点终端</option>
                    <option value="6">批发</option>
                    <option value="7">LKA终端</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">销售渠道：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <select id="in_add_bfrz_xsqd" lay-filter="in_add_bfrz_khlx">
                    <option value="0" selected="selected">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">拜访地址：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" name="in_add_bfrz_bfdz" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">拜访时间：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" id="in_add_bfrz_bfsj" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">是否签到：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" id="in_add_bfrz_sfqd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">联系人：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" id="in_add_bfrz_lxr" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">拜访次数：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" id="in_add_bfrz_bfcs" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">电话：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" id="in_add_bfrz_dh" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">职务：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <select id="in_add_bfrz_zw" lay-filter="in_add_bfrz_zw">
                    <option value="0" selected="selected">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">拜访目的：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <select id="in_add_bfrz_bfmd" lay-filter="in_add_bfrz_bfmd">
                    <option value="0" selected="selected">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">拜访结果：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <select id="in_add_bfrz_bfjg" lay-filter="in_add_bfrz_bfjg">
                    <option value="0" selected="selected">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">下次拜访时间：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" id="in_add_bfrz_xcbfsj" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">下次拜访内容：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" id="in_add_bfrz_xcbfnr" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">其他信息：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" id="in_add_bfrz_qtxx" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">拜访状态：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <select id="in_add_bfrz_bfzt" lay-filter="in_add_bfrz_bfzt">
                    <option value="0" selected="selected">请选择</option>
                    <option value="1">未完成</option>
                    <option value="2">完成</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px; text-align:right;">备注：</label>
            <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                <input type="text" name="title" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/CRM/BaiFang/bf_log")
}
