@{
    ViewBag.Title = "拜访管理";
    Session["TITLENAME"] = "拜访管理";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
        <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
            <a href="@Url.Action("Backlog", "BaiFang")">
                <img class="layui-nav-img" src="~/Image/baifang/guanli.png" />
            </a>
            <br />
            <label class="layui-form-label-img">待办事项</label>
        </div>
    </div>

    <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
        <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
            <a href="@Url.Action("Select_KeHu_ToBaiFang", "BaiFang")">
                <img class="layui-nav-img" src="~/Image/baifang/qiandao.png" />
            </a>
            <br />
            <label class="layui-form-label-img">拜访登记</label>
        </div>
    </div>
    <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
        <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
            <a href="@Url.Action("BaiFangManage", "BaiFang")">
                <img class="layui-nav-img" src="~/Image/baifang/guanli.png" />
            </a>
            <br />
            <label class="layui-form-label-img">拜访管理</label>
        </div>
    </div>
    <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
        <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
            <a href="@Url.Action("CX_BaiFang", "BaiFang")">
                <img class="layui-nav-img" src="~/Image/baifang/chaxun.png" />
            </a>
            <br />
            <label class="layui-form-label-img">拜访查询</label>
        </div>
    </div>



</div>
