@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "公告";
    string netpath = System.Configuration.ConfigurationManager.AppSettings["NETPATH"];
}

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="watch">查看</a>
    @*<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>*@
    @*<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>*@
</script>
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>



<script type="text/html" id="zhuangtai">
    {{# if(d.ISACTIVE == 1){ }}
    未提交
    {{# }else if(d.ISACTIVE == 2){ }}
    审核中
    {{# }else if(d.ISACTIVE == 3){ }}
    已审核
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="official">
    {{# if(d.IsOfficial == 10){ }}
    潜在客户
    {{# }else if(d.IsOfficial == 20){ }}
    签约客户
    {{# }else if(d.IsOfficial == 30){ }}
    非签约客户
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="havepower">
    {{# if(d.GIDSTATUS == 1){ }}
    是
    {{# }else if(d.GIDSTATUS == 0){ }}
    否
    {{# }else { }}

    {{# } }}
</script>

<style type="text/css">
    body .layui-tree-skin-shihuang .layui-tree-branch {
        color: #EDCA50;
    }

    .downpanel .layui-select-title span {
        line-height: 38px;
    }

    /*继承父类颜色*/
    .downpanel dl dd:hover {
        background-color: inherit;
    }
</style>

<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>消息管理</a>
    <a><cite>公告</cite></a>
</span>
<br />
<br />
<div id="from1" class="layui-form">

    <h1 id="title" style="text-align:center;"></h1>
    <div id="txt">

    </div>

    <br /><br /><br />

    <hr class="layui-bg-black" />
    <table id="tb_fujian" lay-filter="tb_fujian" class="layui-table"></table>
</div>




<input id="netpath" hidden />





<script src="~/Scripts/layui2.2.5/layui.all.js"></script>




<script>
    $(document).ready(function () {
        $("#netpath").val("@netpath");
        $("#daochu").click(function () {
            //新增区域信息
            return false;
        });
    });
</script>
<script>


    



</script>


@section scripts {
    @Scripts.Render("~/bundles/CRM/MSG/Show_Notice")
}