@{
    ViewBag.Title = "包装关联替换";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-body">
    <div id="bodydiv">
        <div class="layui-form-item">
            <label class="layui-form-label">源条码：</label>
            <div class="layui-input-block">
                <input id="txt_ytm" type="text" class="layui-input" autocomplete="off" maxlength="12" onkeypress="if(window.event.keyCode==13) this.blur()">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">目标码：</label>
            <div class="layui-input-block">
                <input id="txt_mtm" type="text" class="layui-input" autocomplete="off" maxlength="12" onkeypress="if(window.event.keyCode==13) this.blur()">
            </div>
        </div>
    </div>
</div>
<div id="div_foot" class="layui-footer" align="right">
    <button class="layui-btn" id="btn_qr">确认</button>
</div>


@section scripts {
    @Scripts.Render("~/bundles/MES/TM_Manage/TPM_CHANGE")
}
