@{
    ViewBag.Title = "操作手册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="content-header-nav">
        <a href="#">设置</a>
        >
        <a href="#">操作手册</a>
    </div>
</div>
