@{
    ViewBag.Title = "零件报工查询";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}


    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-input-block-title">
                <input type="text" name="in_wlh" placeholder="请扫描网络号" autocomplete="off" class="layui-input" id="in_wlh" onkeypress="if(window.event.keyCode==13) this.blur()">
            </div>
        </div>
    </div>
    <div id="ljcxlist">
    </div>




@section scripts {
    @Scripts.Render("~/bundles/PS/ljCX")
}