@{
    ViewBag.Title = "零件进度查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-body">
    <div class="layui-row">
        <form class="layui-form" action="@Url.Action("Verify", "PS")" met method="post" id="sign-in-form">
            <button class="layui-btn" value="HG" name="action">合格零件报告</button>
            <button class="layui-btn" value="BF" name="action">报废零件报工</button>
            <button class="layui-btn" value="CX" name="action">零件报工查询</button>
        </form>
    </div>
</div>
<div class="layui-footer" align="right">
</div>




