@{
    //ViewBag.Title = "OutSource_out";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "外协发出";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}


    <div class="layui-form-item">
        <div class="layui-inline">
            <button class="layui-btn layui-btn-big" id="btn_qrbg">确认报工</button>
            <button class="layui-btn layui-btn-big" id="btn_qx">取消</button>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-input-block-title">
                <input type="text" name="in_wlh" placeholder="请扫描网络号或员工号" autocomplete="off" class="layui-input" id="in_wlh" onkeypress="if(window.event.keyCode==13) this.blur()" style="width: 940px;">
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="div_staffinfo">
        <div class="layui-inline">
            <label class="layui-form-label">员工号</label>
            <div class="layui-input-inline" style="width: 300px;">
                <input type="text" name="in_ygh" placeholder="" autocomplete="off" class="layui-input" readonly="readonly" id="in_ygh">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline" style="width: 400px;">
                <input type="text" name="in_name" placeholder="" autocomplete="off" class="layui-input" readonly="readonly" id="in_name">
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="div_networkinfo">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">网络号</label>
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" name="in_Aufnr" id="in_Aufnr" placeholder="" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">网络名称</label>
                <div class="layui-input-inline" style="width: 400px;">
                    <input type="text" name="in_Ktext" id="in_Ktext" placeholder="" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">WBS号</label>
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" name="in_Posid" id="in_Posid" placeholder="" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">WBS名称</label>
                <div class="layui-input-inline" style="width: 400px;">
                    <input type="text" name="in_Post1" id="in_Post1" placeholder="" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">物料号</label>
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" name="in_Zmatnr" id="in_Zmatnr" placeholder="" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">物料名称</label>
                <div class="layui-input-inline" style="width: 400px;">
                    <input type="text" name="in_Maktx" id="in_Maktx" placeholder="" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">当前工序</label>
            <div class="layui-input-inline" style="width: 835px;">
                <input type="text" name="in_dqgx" id="in_dqgx" placeholder="" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">下道工序</label>
            <div class="layui-input-inline" style="width: 835px;">
                <input type="text" name="in_xdgx" id="in_xdgx" placeholder="" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">计划数量</label>
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" name="in_jhsl" id="in_jhsl" placeholder="" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">发出数量</label>
                <div class="layui-input-inline" style="width: 180px;">
                    <input type="text" name="in_fcsl" id="in_fcsl" placeholder="" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">数量单位</label>
                <div class="layui-input-inline" style="width: 88px;">
                    <input type="text" name="in_Zmeins" id="in_Zmeins" placeholder="" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
        </div>
    <input type="hidden" id="in_Vornr">
    <input type="hidden" id="in_Arbpl">
    <input type="hidden" id="in_KTSCH">


    @section scripts {
        @Scripts.Render("~/bundles/PS/OutSource_out")
    }
