@using Sonluk.UI.Model.CRM.PRODUCT_PRODUCT_HHService;
@{
    ViewBag.Title = "Select_MultiProduct";
    List<CRM_PRODUCT_PRODUCT_HH> data = ViewBag.data;
}

<option value="0" selected="selected">请选择</option>
@for (int i = 0; i < data.Count; i++)
{
    <option value="@data[i].CPPH">@(data[i].CPPH)|@(@data[i].SAPMX)|@(data[i].DDDW)</option>
}


