
<div class="drop-list-body">
    <ul>
        <li>
            <div class="drop-list-item">默认</div>
            <input type="hidden" value="0">
        </li>
        <li>
            <div class="drop-list-item">民品</div>
            <input type="hidden" value="1">
        </li>
        <li>
            <div class="drop-list-item">OEM</div>
            <input type="hidden" value="2">
        </li>
        <li>
            <div class="drop-list-item">外销</div>
            <input type="hidden" value="3">
        </li>
        <li>
            <div class="drop-list-item">短驳</div>
            <input type="hidden" value="4">
        </li>
        <li>
            <div class="drop-list-item">不计运费</div>
            <input type="hidden" value="5">
        </li>

    </ul>
</div>