@using Sonluk.UI.Model.LE.TRA.SenderService
@model IEnumerable<CompanyInfo>
<div class="drop-list-body">
    <ul>
        @foreach (CompanyInfo com in Model)
        {
            <li>
                <div class="drop-list-item">@com.City</div>
                <input type="hidden" value="@com.CityID">
            </li>
        }
    </ul>
</div>