@using Sonluk.UI.Model.CRM.ORDER_TTService;
@{
    ViewBag.Title = "Select_Order_Part";

    CRM_ORDER_TT[] TTdata = ViewBag.TTdata;
}


@for (int i = 0; i < TTdata.Length; i++)
{
    string isactive = "";
    switch (TTdata[i].ISACTIVE)
    {
        case 10:
            isactive = "未提交";
            break;
        case 20:
            isactive = "已提交";
            break;
        case 30:
            isactive = "";
            break;
        case 40:
            isactive = "";
            break;
        case 50:
            isactive = "已审核";
            break;
        case 60:
            isactive = "已归档";
            break;
        default:
            isactive = "";
            break;
    }

    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <em class="weui-form-preview__value">@TTdata[i].SDFNAME</em>
        </div>
        <div class="weui-form-preview__bd">
            <p>
                <label class="weui-form-preview__label">售达方名称</label>
                <span class="weui-form-preview__value">&nbsp;@TTdata[i].SDFNAME</span>
            </p>
            <p>
                <label class="weui-form-preview__label">售达方SAP编号</label>
                <span class="weui-form-preview__value">&nbsp;@TTdata[i].SDFID</span>
            </p>
            <p>
                <label class="weui-form-preview__label">发起时间</label>
                <span class="weui-form-preview__value">&nbsp;@TTdata[i].CJSJ</span>
            </p>
            <p>
                <label class="weui-form-preview__label">订单类型</label>
                <span class="weui-form-preview__value">&nbsp;@TTdata[i].DDLXDES</span>
            </p>
            <p>
                <label class="weui-form-preview__label">订单状态</label>
                <span class="weui-form-preview__value">&nbsp;@isactive</span>
            </p>
            <p>
                <label class="weui-form-preview__label">备注</label>
                <span class="weui-form-preview__value">&nbsp;@TTdata[i].BEIZ</span>
            </p>
            <p>
                <label class="weui-form-preview__label">业务员备注</label>
                <span class="weui-form-preview__value">&nbsp;@TTdata[i].BEIZ2</span>
            </p>
        </div>
        <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" onclick="Link_watch(@Newtonsoft.Json.JsonConvert.SerializeObject(TTdata[i]))">查看</a>
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" onclick="Link(@Newtonsoft.Json.JsonConvert.SerializeObject(TTdata[i]))">编辑</a>
            <a class="weui-form-preview__btn weui-form-preview__btn" style="color:#E64340;" onclick="Delete_Order(@TTdata[i].ORDERTTID)">删除</a>
        </div>
    </div>
    <br />
}


