@{
    ViewBag.Title = "Insert";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
}

<script type="text/html" id="bar_select_jxs">
    <a class="layui-btn layui-btn-xs" lay-event="confirm">确认</a>
</script>

<script type="text/html" id="bar_select_market">
    <a class="layui-btn layui-btn-xs" lay-event="confirm">确认</a>
</script>

<script type="text/html" id="bar_select_lka">
    <a class="layui-btn layui-btn-xs" lay-event="confirm">确认</a>
</script>

<div>

    
    <br />
    <div class="layui-form-item">
        <label id="lb_KHtype" class="layui-form-label" style="width:120px; text-align:right;">客户类型：</label>
        <div id="lbdiv_KHtype" class="layui-input-block">
            <select id="Insert_KHtype" lay-filter="Insert_KHtype">
                <option value="0" selected="selected">客户类型</option>
                <option value="1">经销商</option>
                <option value="2">电商</option>
                <option value="4">B2B</option>
                <option value="3">直营卖场</option>
                <option value="5">网点终端</option>
                <option value="6">批发</option>
                <option value="7">LKA终端</option>
            </select>
        </div>
    </div>
    <div id="LKAtype" class="layui-form-item" hidden>
        <label class="layui-form-label" style="width:120px;text-align:right;">LKA类型：</label>
        <div class="layui-input-block">
            <select id="Insert_LKAtype" lay-filter="Insert_LKAtype">
                <option value="0" selected="selected"></option>
                <option value="1">LKA系统</option>
                <option value="2">LKA网点</option>
            </select>
        </div>
    </div>


</div>

<div id="from1">



    @* 经销商/电商/B2B *@
    <div id="div1" hidden>
        @* 第1行 *@
        @*<div class="layui-form-item">
                <label class="layui-form-label" style="width:130px;">客户ID：</label>
                <div class="layui-input-inline" style="width:200px;">
                    <input id="CRMid1" type="text" placeholder="不填则由系统生成" autocomplete="off" class="layui-input">
                </div>
            </div>*@

        @* 第2行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px; text-align:right;">客户名称：</label>
            <div class="layui-input-block">
                <input id="name1" type="text" maxlength="45" placeholder="必填" autocomplete="off" class="layui-input">
            </div>


        </div>

        <div class="layui-form-item">

            <label class="layui-form-label" style="width:120px;text-align:right;">开票性质：</label>
            <div class="layui-input-block">
                <select id="KP_xingzhi1" lay-filter="KP_xingzhi1">
                    <option value="0" selected="selected"></option>
                    <option value="1">增值税专用发票</option>
                    <option value="2">普通发票</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px; text-align:right;">纳税人识别号：</label>

            <div class="layui-input-block">
                <input id="nsr1" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>


        </div>

        @* 第7行 *@
        <div class="layui-form-item">


            <label class="layui-form-label" style="width:120px; text-align:right;">开票地址：</label>
            <div class="layui-input-block">
                <input id="KP_address1" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">开票电话：</label>
            <div class="layui-input-block">
                <input id="KP_tel1" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>


        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">银行帐号：</label>
            <div class="layui-input-block">
                <input id="bank_account1" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">银行名称：</label>
            <div class="layui-input-block">
                <input id="bank_name1" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>


        </div>
        @* 第3行 *@
        <div class="layui-form-item">


            <label class="layui-form-label" style="width:120px;text-align:right;">公司联系人：</label>
            <div class="layui-input-block">
                <input id="company_lxr1" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">公司联系电话：</label>
            <div class="layui-input-block">
                <input id="company_tel1" type="text" placeholder="必填" class="layui-input">
            </div>
        </div>
        @* 第4行 *@
        <div class="layui-form-item">


            <label class="layui-form-label" style="width:120px;text-align:right;">公司法人：</label>
            <div class="layui-input-block">
                <input id="company_faren1" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">联系人法人关系：</label>
            <div class="layui-input-block">
                <input id="company_guanxi1" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
        </div>

        @* 第6行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">快递寄送地址：</label>
            <div class="layui-input-block">
                <input id="KD_address1" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">快递联系人：</label>
            <div class="layui-input-block">
                <input id="KD_staff1" type="text" autocomplete="off" class="layui-input">
            </div>


        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">快递联系电话：</label>
            <div class="layui-input-block">
                <input id="KD_tel1" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>

        @* 第8行 *@
        <div class="layui-form-item">


            <label class="layui-form-label" style="width:120px;text-align:right;">销售任务(万)：</label>
            <div class="layui-input-block">
                <input id="mission1" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">碱性任务(万)：</label>
            <div class="layui-input-block">
                <input id="JXmission1" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
        </div>
        @* 第9行 *@

        @* 第10行 *@
        <div class="layui-form-item">

            <label class="layui-form-label" style="width:120px;text-align:right;">销售数据说明：</label>
            <div class="layui-input-block">
                <input id="data_explain1" type="text" placeholder="销售及返利需计入或合并到其他客户" autocomplete="off" class="layui-input">
            </div>




        </div>
        @* 第11行 *@
        <div class="layui-form-item">

            <label class="layui-form-label" style="width:120px;text-align:right;">是否出厂价：</label>
            <div class="layui-input-block">
                <select id="sfccj1" lay-filter="sfccj1">
                    <option value="1" selected="selected">是</option>
                    <option value="0">否</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">价格说明：</label>
            <div class="layui-input-block">
                <input id="price_content" type="text" placeholder="不是出厂价则必填" autocomplete="off" class="layui-input">
            </div>
        </div>



        @* 第12行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">客户收货地址：</label>
            <div class="layui-input-block">
                <input id="receive_address1" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">收货联系人：</label>
            <div class="layui-input-block">
                <input id="receive_staff1" type="text" autocomplete="off" class="layui-input">
            </div>


        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">收货联系电话：</label>
            <div class="layui-input-block">
                <input id="receive_tel1" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>

        @* 第13行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">特殊情况说明：</label>
            <div class="layui-input-block">
                <input id="situation_explain1" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>

        @* 第14行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;">对现经销商影响：</label>
            <div class="layui-input-block">
                <select id="haveeffect1" lay-filter="haveeffect1">
                    <option value="1">是</option>
                    <option value="0" selected="selected">否</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">影响说明：</label>
            <div class="layui-input-block">
                <input id="effect_content" type="text" placeholder="有影响则必填" autocomplete="off" class="layui-input">
            </div>
        </div>




    </div>

    @*直营卖场*@
    <div id="div2" hidden>

        @*<div class="layui-form-item">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:130px;">客户ID：</label>
                    <div class="layui-input-inline" style="width:230px;">
                        <input id="CRMid2" type="text" placeholder="不填则由系统生成" autocomplete="off" class="layui-input">
                    </div>
                </div>

            </div>*@

        <div id="div_market_up" class="layui-form-item" hidden>
            <label class="layui-form-label" style="width:120px;text-align:right;">上级客户名称：</label>
            <div class="layui-input-block">
                <input id="up_name2" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">上级客户编号：</label>
            <div class="layui-input-block">
                <input id="up_id2" type="text" autocomplete="off" class="layui-input" disabled="disabled">
            </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">SAP编号：</label>
            <div class="layui-input-block">
                <input id="sapsn2" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

        </div>


        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">客户名称：</label>
            <div class="layui-input-block">
                <input id="name2" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">直营卖场类型：</label>
            <div class="layui-input-block">
                <select id="type_maichang2" lay-filter="type_maichang2" required>
                    <option value="1" selected>系统</option>
                    <option value="2">门店</option>
                </select>
            </div>
        </div>
        @* 第二行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">付款条件：</label>
            <div class="layui-input-block">
                <input id="FK_tiaojian2" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">公司联系人：</label>
            <div class="layui-input-block">
                <input id="company_lxr2" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">公司联系电话：</label>
            <div class="layui-input-block">
                <input id="company_tel2" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
        </div>
        @* 第三行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">开票地址：</label>
            <div class="layui-input-block">
                <input id="KP_address2" type="text" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">开票电话：</label>
            <div class="layui-input-block">
                <input id="KP_tel2" type="text" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">开票性质：</label>
            <div class="layui-input-block">
                <select id="KP_xingzhi2" lay-filter="KP_xingzhi2">
                    <option value="1">增值税专用发票</option>
                    <option value="2">普通发票</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">银行帐号：</label>
            <div class="layui-input-block">
                <input id="bank_account2" type="text" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">银行名称：</label>
            <div class="layui-input-block">
                <input id="bank_name2" type="text" autocomplete="off" class="layui-input">
            </div>


        </div>
        @* 第四行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">纳税人识别号：</label>
            <div class="layui-input-block">
                <input id="nsr2" type="text" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">公司法人：</label>
            <div class="layui-input-block">
                <input id="company_faren2" type="text" autocomplete="off" class="layui-input">
            </div>

        </div>
        @* 第四行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">快递寄送地址：</label>
            <div class="layui-input-block">
                <input id="KD_address2" type="text" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">快递联系人：</label>
            <div class="layui-input-block">
                <input id="KD_staff2" type="text" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">快递联系电话：</label>
            <div class="layui-input-block">
                <input id="KD_tel2" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        @* 第五行 *@







    </div>

    @* 网点终端/批发 *@
    <div id="div4" hidden>

        @*<div class="layui-form-item">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:130px;">客户ID：</label>
                    <div class="layui-input-inline" style="width:230px;">
                        <input id="CRMid4" type="text" placeholder="不填则由系统生成" autocomplete="off" class="layui-input">
                    </div>
                </div>

            </div>*@

        <div class="layui-form-item">
            @*<label class="layui-form-label" style="width:130px;">业务员：</label>
            <div class="layui-input-inline" style="width:230px;">
                <input id="staff4" type="text" autocomplete="off" class="layui-input">
            </div>*@

            <label class="layui-form-label" style="width:120px;text-align:right;">省份：</label>
            <div class="layui-input-block">
                <select id="province4" lay-filter="province4" required lay-search>
                    <option value="0" selected="selected"></option>
                </select>
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">城市：</label>
            <div class="layui-input-block">
                <select id="city4" lay-filter="city4" required lay-search>
                    <option value="0" selected="selected"></option>
                </select>
            </div>
        </div>
        @* 第二行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">上级客户名称：</label>
            <div class="layui-input-block">
                <input id="jxs_name4" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">上级客户编号：</label>
            <div class="layui-input-block">
                <input id="jxs_id4" type="text" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">客户名称：</label>
            <div class="layui-input-block">
                <input id="name4" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
        </div>
        @* 第三行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">地址：</label>
            <div class="layui-input-block">
                <input id="address4" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">联系人：</label>
            <div class="layui-input-block">
                <input id="lxr4" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">联系电话：</label>
            <div class="layui-input-block">
                <input id="tel4" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
        </div>
        @* 第四行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">网点类型：</label>
            <div class="layui-input-block">
                <select id="type_wangdian4" lay-filter="type_wangdian4" required>
                    <option value="0" selected="selected"></option>
                </select>
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">是否标准网点：</label>
            <div class="layui-input-block">
                <select id="is_bzwd4" lay-filter="is_bzwd4">
                    <option value="1" selected="selected">是</option>
                    <option value="0">否</option>
                </select>
            </div>
        </div>

        @*暂时不要这个字段*@
        <div class="layui-form-item" hidden>
            <label class="layui-form-label" style="width:120px;text-align:right;">是否直销商：</label>
            <div class="layui-input-block">
                <select id="is_zxs4" lay-filter="is_zxs4">
                    <option value="1">是</option>
                    <option value="0" selected="selected">否</option>
                </select>
            </div>


        </div>


        @* 第五行 *@


        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">备注：</label>
            <div class="layui-input-block">
                <input id="remark4" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>



    </div>

    @* LKA *@
    <div id="div5" hidden>



        <div class="layui-form-item">
            @*<label class="layui-form-label" style="width:130px;">业务员：</label>
                <div class="layui-input-inline" style="width:230px;">
                    <input id="staff5" type="text" autocomplete="off" class="layui-input">
                </div>*@

            <label class="layui-form-label" style="width:120px;text-align:right;">经销商名称：</label>
            <div class="layui-input-block">
                <input id="jxs_name5" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">经销商编号：</label>
            <div class="layui-input-block">
                <input id="jxs_id5" type="text" autocomplete="off" class="layui-input" disabled="disabled">
            </div>

        </div>
        @* 第三行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">卖场名称：</label>
            <div class="layui-input-block">
                <input id="maichang_name5" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">门店进场数量：</label>
            <div class="layui-input-block">
                <input id="store_jcsl5" type="text" autocomplete="off" class="layui-input">
            </div>


        </div>
        @* 第四行 *@
        <div class="layui-form-item">

            <label class="layui-form-label" style="width:120px;text-align:right;">卖场类型：</label>
            <div class="layui-input-block">
                <select id="maichang_type5" lay-filter="maichang_type5">
                    <option value="0" selected="selected"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">卖场总部地址：</label>
            <div class="layui-input-block">
                <input id="address5" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

        </div>


        @* 第五行 *@

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">备注：</label>
            <div class="layui-input-block">
                <input id="remark5" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>



    </div>

    @* LKA网点 *@
    <div id="div5p" class="layui-form" hidden>

        @* 第三行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">卖场名称：</label>
            <div class="layui-input-block">
                <input id="maichang_name5p" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">卖场编号：</label>
            <div class="layui-input-block">
                <input id="maichang_id5p" type="text" autocomplete="off" class="layui-input" disabled="disabled">
            </div>

        </div>
        @* 第四行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">门店名称：</label>
            <div class="layui-input-block">
                <input id="store_name5p" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:120px;text-align:right;">门店地址：</label>
            <div class="layui-input-block">
                <input id="address5p" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
        </div>
        @* 第五行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">进场单品数量：</label>
            <div class="layui-input-block">
                <input id="jcdpsl5p" type="text" autocomplete="off" class="layui-input">
            </div>


        </div>

        @* 第五行 *@

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">备注：</label>
            <div class="layui-input-block">
                <input id="remark5p" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>



    </div>





</div>

<br /><br /><br /><br />
<div class="layui-footer" style="left:0;background: none;padding: 0;">
    <div id="div8" class="layui-form" hidden>
        
        <div class="layui-input-inline" style="width:100%;margin:0">
            <button id="btn_save_kehu" class="layui-btn" lay-submit="" style="width:100%">保存</button>
        </div>

    </div>
</div>

@*检索经销商*@
<div id="div_select_jxs" class="layui-form" style="width:100%" hidden>
    <div class="layui-form-item">
        <button id="select_jxs_cx" class="layui-btn" lay-submit lay-filter="formDemo">查询</button>

    </div>
    <div>
        <label class="layui-form-label" style="width:130px;">客户类型：</label>
        <div class="layui-input-inline" style="width:230px;">
            <select id="select_jxs_type" lay-filter="select_jxs_type">
                <option value="1">经销商</option>
                <option value="6">批发</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:130px;">上级客户名称：</label>
        <div class="layui-input-inline" style="width:230px;">
            <input id="select_jxs_name" type="text" autocomplete="off" class="layui-input">
        </div>

    </div>

    <table id="select_jxs_result" lay-filter="select_jxs_result"></table>

</div>

@*检索直营卖场系统*@
<div id="div_select_market" class="layui-form" style="width:100%" hidden>
    <div class="layui-form-item">
        <button id="select_market_cx" class="layui-btn" lay-submit lay-filter="formDemo">查询</button>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:130px;">系统名称：</label>
        <div class="layui-input-inline" style="width:230px;">
            <input id="select_market_name" type="text" autocomplete="off" class="layui-input">
        </div>

    </div>

    <table id="select_market_result" lay-filter="select_market_result"></table>

</div>

@*检索LKA*@
<div id="div_select_lka" class="layui-form" style="width:100%" hidden>
    <div class="layui-form-item">
        <button id="select_lka_cx" class="layui-btn" lay-submit lay-filter="formDemo">查询</button>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:130px;">LKA名称：</label>
        <div class="layui-input-inline" style="width:230px;">
            <input id="select_lka_name" type="text" autocomplete="off" class="layui-input">
        </div>

    </div>

    <table id="select_lka_result" lay-filter="select_lka_result"></table>

</div>

@*检索lka经销商*@
<div id="div_select_lkajxs" class="layui-form" style="width:100%" hidden>
    <div class="layui-form-item">
        <button id="select_lkajxs_cx" class="layui-btn" lay-submit lay-filter="formDemo">查询</button>

    </div>
    <div>
        <label class="layui-form-label" style="width:130px;">客户类型：</label>
        <div class="layui-input-inline" style="width:230px;">
            <select id="select_lkajxs_type" lay-filter="select_lkajxs_type">
                <option value="1">经销商</option>
                <option value="6">批发</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:130px;">经销商名称：</label>
        <div class="layui-input-inline" style="width:230px;">
            <input id="select_lkajxs_name" type="text" autocomplete="off" class="layui-input">
        </div>

    </div>

    <table id="select_lkajxs_result" lay-filter="select_lkajxs_result"></table>

</div>






<script src="~/Scripts/jquery-1.8.2.js"></script>
@*<script>
        layui.use(['form', 'layer', 'element', 'table'], function () {
            var form = layui.form;
            var element = layui.element;
            var table = layui.table;
        });
    </script>*@


@section scripts {
    @Scripts.Render("~/bundles/CRM/KeHu/Insert")
}
