@{
    ViewBag.Title = "注塑追溯查询";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}
@using Sonluk.PC.Areas.MES.Models;
@model Sonluk.PC.Areas.MES.Models.MODEL_Assign_WorkOrder
<span class="layui-breadcrumb" lay-separator=">">
    <a>注塑管理</a>
    <a><cite>注塑追溯查询</cite></a>
</span>
<script type="text/html" id="QJCOUNT_Tpl">
    {{# if(d.QJCOUNT>0){ }}
    X
    {{# }else { }}

    {{# } }}
</script>
<script type="text/html" id="FGCOUNT_Tpl">
    {{# if(d.FGCOUNT>0){ }}
    X
    {{# }else { }}

    {{# } }}
</script>
<script type="text/html" id="THCOUNT_Tpl">
    {{# if(d.THCOUNT>0){ }}
    X
    {{# }else { }}

    {{# } }}
</script>
<script type="text/html" id="BFCOUNT_Tpl">
    {{# if(d.BFCOUNT>0){ }}
    X
    {{# }else { }}

    {{# } }}
</script>
<script type="text/html" id="ISFIM_Tpl">
    {{# if(d.ISFIM==0){ }}
    否
    {{# }else { }}
    是
    {{# } }}
</script>

<div class="layui-form">
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_DAORU">批量导入</button>
        <button class="layui-btn" id="btn_find">查询</button>
        <button class="layui-btn" id="btn_daochu">导出</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">工厂：</label>
            <div class="layui-input-inline">
                <select id="find_gc" lay-filter="find_gc"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">工作中心：</label>
            <div class="layui-input-inline">
                <select id="find_gzzx" lay-filter="find_gzzx" lay-search=""></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">设备号：</label>
            <div class="layui-input-inline">
                <select id="find_sbh" lay-filter="find_sbh"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">模具号：</label>
            <div class="layui-input-inline">
                <select id="find_mould" lay-filter="find_mould" lay-search></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">材料配比代码：</label>
            <div class="layui-input-inline">
                <input type="text" id="find_clpbdm" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">物料信息：</label>
            <div class="layui-input-inline">
                <input type="text" id="find_wlms" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">条码：</label>
            <div class="layui-input-inline">
                <input type="text" id="find_tm" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">批次：</label>
            <div class="layui-input-inline">
                <input type="text" id="find_pc" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">生产日期：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="date" id="find_scrq_s" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="date" id="find_scrq_e" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <table class="layui-hide" id="tb_TMINFO" lay-filter="tb_TMINFO"></table>
    </div>
</div>
<div id="div_daoru" class="layui-form" style="padding:30px;text-align:center" hidden>
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_download" style="width:150px">下载模版</button>
        <button class="layui-btn" id="btn_drmb" style="width:150px">导入</button>
    </div>
</div>
<script>
    var all_fy = 1;
    var all_fysl = 10;
    var all_limits = [10, 50, 100, 500, 1000, 2000, 3000];
    var isshowqx = 0;
    var finddata = [];
    layui.use(['form', 'laydate', 'element', 'laydate', 'table', 'jquery', 'upload'], function () {
        var layer = layui.layer
        var laydate = layui.laydate;
        var table = layui.table;
        var form = layui.form;
        var formSelects = layui.formSelects;
        laydate.render({
            elem: '#find_scrq_s'
        });
        laydate.render({
            elem: '#find_scrq_e'
        });
        band_find_gc();
        form.on('select(find_gc)', function (data) {
            band_find_mould();
            band_find_gzzx();
        });
        form.on('select(find_gzzx)', function (data) {
            band_find_sbh();
        });
        $("#btn_find").click(function () {
            banddate();
        });
        $('#find_mould').bind('keyup', function (event) {
            if (event.keyCode == "13") {
                banddate();
            }
        });
        $('#find_clpbdm').bind('keyup', function (event) {
            if (event.keyCode == "13") {
                banddate();
            }
        });
        $('#find_wlms').bind('keyup', function (event) {
            if (event.keyCode == "13") {
                banddate();
            }
        });
        $('#find_tm').bind('keyup', function (event) {
            if (event.keyCode == "13") {
                banddate();
            }
        });
        $('#find_pc').bind('keyup', function (event) {
            if (event.keyCode == "13") {
                banddate();
            }
        });

        $("#btn_DAORU").click(function () {
            layer.open({
                skin: 'select_out',
                type: 1,
                shade: 0,
                btn: ['取消'],
                area: ['400px', '200px'],
                content: $('#div_daoru'),
                title: '导入',
                moveOut: true,
                success: function (layero, index) {
                },
                yes: function (index, layero) {
                    layer.close(index);
                },
                end: function () {
                }
            })
        });

        var upload = layui.upload;
        upload.render({
            elem: '#btn_drmb', //绑定元素
            method: 'post',
            url: '../ZS/IMPORT_READ_ZS_TM_SELECT', //上传接口
            accept: 'file',
            before: function () {
                index_befo = layer.load();
                this.data = {
                }
            },
            done: function (res, index, upload) {
                if (res.MES_RETURN.TYPE === "S") {
                    band_table(res.DATALIST);
                }
                else {
                    layer.alert(res.MES_RETURN.MESSAGE);
                }
                layer.close(index_befo);
                layer.closeAll();
            },
            error: function () {
                layer.msg("上传失败");
                layer.close(index_befo);
                layer.closeAll();
            }
        });
        $("#btn_daochu").click(function () {
            if (finddata.length > 0) {
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "../ZS/EXPOST_ZS_TM_FH_SELECT",
                    data: {
                        datastring: JSON.stringify(finddata),
                    },
                    success: function (data) {
                        var resdata = JSON.parse(data);
                        if (resdata.TYPE === "S") {
                            window.open("../ZS/EXPORT_DOWNLOAD" + "?filename=" + resdata.MESSAGE + "&filenameout=注塑追溯查询导出", "_self");
                        }
                        else {
                            layer.alert(resdata.MESSAGE);
                        }
                    }
                });
            }
            else {
                layer.msg("无导出数据");
            }
        });
        $("#btn_download").click(function () {
            $.ajax({
                type: "POST",
                async: false,
                url: "../ZS/EXPOST_TM_FH_SELECT_MB",
                data: {
                    datastring: JSON.stringify(finddata),
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    if (resdata.TYPE === "S") {
                        window.open("../ZS/EXPORT_DOWNLOAD_Session" + "?filename=" + resdata.MESSAGE + "&sessionname=EXPOST_TM_FH_SELECT_MB", "_self");
                    }
                    else {
                        layer.alert(resdata.MESSAGE);
                    }
                }
            });
        });
        form.on('checkbox(find_isshowqx)', function (data) {
            if (data.elem.checked === true) {
                isshowqx = 1;
            }
            else {
                isshowqx = 0;
            }
        });
    });
    function banddate() {
        var table = layui.table;
        var datastring = {
            LB: 1,
            GC: $("#find_gc").val(),
            GZZXBH: $("#find_gzzx").val(),
            SBBH: $("#find_sbh").val(),
            MID: $("#find_mould").val(),
            CLPBDM: $("#find_clpbdm").val(),
            SCDATES: $("#find_scrq_s").val(),
            SCDATEE: $("#find_scrq_e").val(),
            WLMS: $("#find_wlms").val(),
            TM: $("#find_tm").val(),
            PC: $("#find_pc").val()
        };
        $.ajax({
            type: "POST",
            async: false,
            url: "../ZS/MES_TM_TMINFO_SELECT_LIST_datatable",
            data: {
                datastring: JSON.stringify(datastring)
            },
            success: function (data) {
                var resdata = JSON.parse(data);
                if (resdata.MES_RETURN.TYPE === "S") {
                    band_table(resdata.DATALIST);
                }
                else {
                    layer.alert(resdata.MES_RETURN.MESSAGE);
                    return false;
                }
            }
        });
    }
    function band_table(data) {
        var table = layui.table;
        var fyall = Math.ceil(data.length / all_fysl);
        if (fyall > all_fy - 1) {
        }
        else {
            all_fy = Number(fyall);
        }
        finddata = data;
        table.render({
            done: function (res, curr, count) {
                for (var i = 0; i < all_limits.length; i++) {
                    if (all_limits[i] >= res.data.length) {
                        all_fysl = all_limits[i];
                        break;
                    }
                }
                all_fy = curr;
            },
            elem: '#tb_TMINFO',
            data: data,
            cols: [[ //表头
                { type: 'numbers', title: '序号' },
                { field: 'GC', title: '工厂', width: 100 },
                { field: 'TM', title: 'LOT表条码', width: 130 },
                { field: 'SCDATE', title: '生产日期', width: 120 },
                { field: 'BCMS', title: '班次', width: 100 },
                { field: 'GZZXBH', title: '工作中心', width: 120 },
                { field: 'GZZXMS', title: '工作中心描述', width: 120 },
                { field: 'SBHMS', title: '设备号', width: 120 },
                { field: 'WLH', title: '物料编码', width: 150 },
                { field: 'WLMS', title: '物料描述', width: 150 },
                { field: 'CPZTNAME', title: '产品状态', width: 120 },
                { field: 'SL', title: '数量', width: 120 },
                { field: 'UNITSNAME', title: '单位', width: 120 },
                { field: 'DCXHMS', title: '电池型号', width: 120 },
                { field: 'REMARK', title: '备注', width: 120 },
                { field: 'MOULD', title: '模具', width: 120 },
                { field: 'ISFIM', title: '是否全检', width: 120, templet: '#ISFIM_Tpl' },
                { field: 'CPTYPENAME', title: '类型', width: 120 },
                { field: 'WQH', title: '无腔号', width: 120 },
                { field: 'MFQCOLORNAME', title: '颜色', width: 120 },
                { field: 'CLPBDM', title: '材料配比代码', width: 120 },
                { field: 'KSTIME', title: '开始时间', width: 120 },
                { field: 'JSTIME', title: '结束时间', width: 120 },
                { field: 'QJCOUNT', title: '全检标记', width: 120, templet: '#QJCOUNT_Tpl' },
                { field: 'QJCOUNT', title: '全检次数', width: 120 },
                { field: 'QJLASTTIME', title: '最近全检时间', width: 120 },
                { field: 'FGCOUNT', title: '返工标记', width: 120, templet: '#FGCOUNT_Tpl' },
                { field: 'FGCOUNT', title: '返工次数', width: 120 },
                { field: 'FGLASTTIME', title: '最近返工时间', width: 120 },
                { field: 'THCOUNT', title: '退货标记', width: 120, templet: '#THCOUNT_Tpl' },
                { field: 'BFCOUNT', title: '报废标记', width: 120, templet: '#BFCOUNT_Tpl' },
                { field: 'FTM', title: '标识卡条码', width: 120 },
                { field: 'FTMPC', title: '批次', width: 120 },
                { field: 'KCDDGC', title: '工厂', width: 120 },
                { field: 'KCDDNAME', title: '库存地点', width: 120 },
                { field: 'KHNO', title: '客户', width: 120 },
                { field: 'KHMS', title: '客户名称', width: 120 },
                { field: 'FHTIME', title: '出库时间', width: 120 }
            ]]
            , page: {
                limits: all_limits,
                limit: all_fysl,
                curr: all_fy
            }
            , height: 'full-350'
        });
    }
    function band_find_gc() {
        var form = layui.form;
        $("#find_gc").html("");
        $.ajax({
            type: "POST",
            async: false,
            url: "../System/Data_Select_GC_ROLE",
            data: {
            },
            success: function (data) {
                var resdata = JSON.parse(data);
                if (data.length === 1) {
                    $('#find_gc').append(new Option(resdata[a].GC + "-" + resdata[a].GCMS, resdata[a].GC));
                    band_find_gzzx();
                }
                else {
                    $('#find_gc').append(new Option("请选择", ""));
                    for (var a = 0; a < resdata.length; a++) {
                        $('#find_gc').append(new Option(resdata[a].GC + "-" + resdata[a].GCMS, resdata[a].GC));
                    }
                }
            }
        });
        form.render();
    }
    function band_find_gzzx() {
        var form = layui.form;
        var GC = $('#find_gc').val();
        $("#find_gzzx").html("");
        if (GC !== "") {
            $.ajax({
                type: "POST",
                async: false,
                url: "../TMManage/GET_GZZX_BY_ROLE",
                data: {
                    GC: GC
                },
                success: function (data) {
                    var resdata = JSON.parse(data);

                    var rstcount = resdata.length;
                    if (rstcount == 1) {
                        $('#find_gzzx').append(new Option(resdata[0].GZZXBH + "-" + resdata[0].GZZXMS, resdata[0].GZZXBH));
                        band_find_mould();
                    }
                    else {
                        $('#find_gzzx').append(new Option("请选择", ""));
                        for (var i = 0; i < resdata.length; i++) {
                            $('#find_gzzx').append(new Option(resdata[i].GZZXBH + "-" + resdata[i].GZZXMS, resdata[i].GZZXBH));
                        }
                    }
                    form.render();
                }
            });
        }
        else {
            $('#find_kcdd').append(new Option("请选择", ""));
        }
        form.render();
        band_find_sbh();
    }

    function band_find_sbh() {
        var form = layui.form;
        var GC = $('#find_gc').val();
        var gzzxbh = $('#find_gzzx').val();
        $("#find_sbh").html("");
        if (gzzxbh === "" || GC === "") {
            $('#find_sbh').append(new Option("请选择", ""));
            form.render();
        }
        else {
            $.ajax({
                type: "POST",
                async: false,
                url: "../MESSelect/GET_SBBH",
                data: {
                    GC: GC,
                    GZZXBH: gzzxbh
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    $("#find_sbh").html("");

                    var rstcount = resdata.length;
                    if (rstcount === 1) {
                        $('#find_sbh').append(new Option(resdata[0].SBMS, resdata[0].SBBH));
                    }
                    if (rstcount > 0) {
                        $('#find_sbh').append(new Option("请选择", ""));
                        for (var i = 0; i < resdata.length; i++) {
                            $('#find_sbh').append(new Option(resdata[i].SBMS, resdata[i].SBBH));
                        }
                    }
                    form.render();
                }
            });
        }
    }
    function band_find_mould() {
        var form = layui.form;
        var GC = $('#find_gc').val();
        if (GC === "") {
            $("#find_mould").html("");
            $('#find_mould').append(new Option("请选择", ""));
        }
        else {
            var datastring = {
                GC: GC
            }
            $.ajax({
                type: "POST",
                async: false,
                url: "../ZS/PMM_MOULD_SELECT",
                data: {
                    datastring: JSON.stringify(datastring)
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    if (resdata.MES_RETURN.TYPE === "S") {
                        if (resdata.MES_PMM_MOULD.length === 1) {
                            $('#find_mould').append(new Option(resdata.MES_PMM_MOULD[0].MID + "-" + resdata.MES_PMM_MOULD[0].MOULD, resdata.MES_PMM_MOULD[0].MID));
                        }
                        else {
                            $('#find_mould').append(new Option("请选择", ""));
                            for (var a = 0; a < resdata.MES_PMM_MOULD.length; a++) {
                                $('#find_mould').append(new Option(resdata.MES_PMM_MOULD[a].MID + "-" + resdata.MES_PMM_MOULD[a].MOULD, resdata.MES_PMM_MOULD[a].MID));
                            }
                        }
                    }
                    else {
                        layer.alert(resdata.MESSAGE);
                    }
                }
            });
        }
        form.render();
    }
</script>