@{
    ViewBag.Title = "检测记录查询";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<span class="layui-breadcrumb" lay-separator=">">
    <a>注塑追溯管理</a>
    <a><cite>检测记录查询</cite></a>
</span>
<div class="layui-form">
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_dc">导出</button>
        <button class="layui-btn" id="btn_mxfind">明细查询</button>
        <button class="layui-btn" id="btn_find">查询</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">工厂：</label>
            <div class="layui-input-inline">
                <select id="find_gc" lay-filter="find_gc"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">工作中心：</label>
            <div class="layui-input-inline">
                <select id="find_gzzx" lay-filter="find_gzzx"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">设备号：</label>
            <div class="layui-input-inline">
                <select id="find_sbbh" lay-filter="find_sbbh" lay-search></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">班次：</label>
            <div class="layui-input-inline">
                <select id="find_bc" lay-filter="find_bc"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">模具号：</label>
            <div class="layui-input-inline">
                <select id="find_mould" lay-filter="find_mould" lay-search></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">检测日期：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="date" id="find_rqs" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="date" id="find_rqe" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
        </div>
    </div>
    <table class="layui-hidden" id="tb_info" lay-filter="tb_info"></table>

</div>
<script>
    var all_fy = 1;
    var all_fysl = 10;
    var all_limits = [15, 50, 100, 500, 1000, 2000, 3000];
    layui.use(['form', 'laydate', 'element', 'laydate', 'table', 'jquery', 'upload'], function () {
        var layer = layui.layer
        var laydate = layui.laydate;
        var table = layui.table;
        var form = layui.form;
        laydate.render({
            elem: '#find_rqs'
        });
        laydate.render({
            elem: '#find_rqe'
        });
        band_find_gc();
        form.on('select(find_gc)', function (data) {
            band_find_gzzx();
            band_find_mould();
            band_find_bc();
        });
        form.on('select(find_gzzx)', function (data) {
            band_find_sbbh();
        });
        banddate();
        $("#btn_mxfind").click(function () {
            var datastring = {
                GC: $("#find_gc").val(),
                GZZXBH: $("#find_gzzx").val(),
                SBBH: $("#find_sbbh").val(),
                MID: $("#find_mould").val(),
                DATEKS: $("#find_rqs").val(),
                DATEJS: $("#find_rqe").val(),
                BC: $("#find_bc").val()
            }
            $.ajax({
                type: "POST",
                async: false,
                url: "../ZS/set_session",
                data: {
                    datastring: JSON.stringify(datastring),
                    sessionname: "ZS_JCJLSELECT"
                },
                success: function (data) {
                }
            });
            window.open("../ZS/ZS_JCJLSELECTMX", "_blank");
        });
        $("#btn_find").click(function () {
            banddate();
        });
        $("#btn_dc").click(function () {
            if ($("#find_rqs").val() === "") {
                layer.msg("开始日期不能为空");
            }
            else if ($("#find_rqe").val() === "") {
                layer.msg("结束日期不能为空");
            }
            else if ($("#find_rqs").val() > $("#find_rqe").val()) {
                layer.msg("开始时间不能大于结束时间");
            }
            else {
                var datastring = {
                    LB: 1,
                    GC: $("#find_gc").val(),
                    GZZXBH: $("#find_gzzx").val(),
                    SBBH: $("#find_sbbh").val(),
                    MID: $("#find_mould").val(),
                    DATEKS: $("#find_rqs").val(),
                    DATEJS: $("#find_rqe").val(),
                    BC: $("#find_bc").val()
                };
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "../ZS/EXPOST_ZS_JCJL",
                    data: {
                        datastring: JSON.stringify(datastring)
                    },
                    success: function (data) {
                        var resdata = JSON.parse(data);
                        if (resdata.TYPE === "S") {
                            window.open("../ZS/EXPORT_DOWNLOAD_Session" + "?filename=" + resdata.MESSAGE + "&sessionname=EXPOST_ZS_JCJL", "_self");
                        }
                        else {
                            layer.alert(resdata.MESSAGE);
                        }
                    }
                });
            }
        });
    });
    function banddate() {
        var table = layui.table;
        if ($("#find_rqs").val() === "") {
            layer.msg("开始日期不能为空");
        }
        else if ($("#find_rqe").val() === "") {
            layer.msg("结束日期不能为空");
        }
        else if ($("#find_rqs").val() > $("#find_rqe").val()) {
            layer.msg("开始时间不能大于结束时间");
        }
        else {
            var jz = layer.open({
                type: 1,
                zIndex: 10000,
                title: "正在加载..."
            });
            var datastring = {
                LB: 1,
                GC: $("#find_gc").val(),
                GZZXBH: $("#find_gzzx").val(),
                SBBH: $("#find_sbbh").val(),
                MID: $("#find_mould").val(),
                DATEKS: $("#find_rqs").val(),
                DATEJS: $("#find_rqe").val(),
                BC: $("#find_bc").val()
            };
            $.ajax({
                type: "POST",
                async: true,
                url: "../ZS/ZS_SY_JL_SELECT_QJQXJL",
                data: {
                    datastring: JSON.stringify(datastring)
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    if (resdata.MES_RETURN.TYPE === "S") {
                        var fyall = Math.ceil(resdata.DATALIST.length / all_fysl);
                        if (fyall > all_fy - 1) {
                        }
                        else {
                            all_fy = Number(fyall);
                        }
                        table.render({
                            done: function (res, curr, count) {
                                for (var i = 0; i < all_limits.length; i++) {
                                    if (all_limits[i] >= res.data.length) {
                                        all_fysl = all_limits[i];
                                        break;
                                    }
                                }
                                all_fy = curr;
                            },
                            elem: '#tb_info',
                            data: resdata.DATALIST,
                            totalRow: true,
                            cols: [[ //表头
                                { type: 'numbers', title: '序号' },
                                { field: 'GC', title: '工厂', width: 90 },
                                { field: 'GZZXMS', title: '工作中心', width: 120 },
                                { field: 'SBMS', title: '设备描述', width: 120 },
                                { field: 'MOULD', title: '模具号', width: 120 },
                                { field: 'QJBCNAME', title: '班次', width: 120 },
                                { field: 'JLMXLBNAME', title: '类别', width: 120 },
                                { field: 'JLSL', title: '检测数', width: 150, totalRow: true },
                                { field: 'QXSL', title: '异常品数', width: 170, totalRow: true },
                                { field: 'QXNOHGSL', title: '不合格品数', width: 120, totalRow: true },
                                { field: 'UNITSNAME', title: '库存单位', width: 120 }
                            ]]
                            , page: {
                                limits: all_limits,
                                limit: all_fysl,
                                curr: all_fy
                            }
                            , height: 'full-350'
                        });
                        layer.close(jz);
                    }
                    else {
                        layer.alert(resdata.MES_RETURN.MESSAGE);
                        layer.close(jz);
                        return false;
                    }
                }
            });
        }
    }
    function band_find_gc() {
        var form = layui.form;
        $("#find_gc").html("");
        $.ajax({
            type: "POST",
            async: false,
            url: "../System/Data_Select_GC_ROLE",
            data: {
            },
            success: function (data) {
                var resdata = JSON.parse(data);
                if (data.length === 1) {
                    $('#find_gc').append(new Option(resdata[0].GC + "-" + resdata[0].GCMS, resdata[0].GC));
                }
                else {
                    $('#find_gc').append(new Option("请选择", ""));
                    for (var a = 0; a < resdata.length; a++) {
                        $('#find_gc').append(new Option(resdata[a].GC + "-" + resdata[a].GCMS, resdata[a].GC));
                    }
                }
            }
        });
        band_find_gzzx();
        band_find_mould();
        band_find_bc();
        form.render();
    }
    function band_find_mould() {
        var form = layui.form;
        var GC = $('#find_gc').val();
        $("#find_mould").html("");
        if (GC === "") {
            $('#find_mould').append(new Option("请选择", ""));
        }
        else {
            var datastring = {
                GC: GC
            }
            $.ajax({
                type: "POST",
                async: false,
                url: "../ZS/PMM_MOULD_SELECT",
                data: {
                    datastring: JSON.stringify(datastring)
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    if (resdata.MES_RETURN.TYPE === "S") {
                        if (resdata.MES_PMM_MOULD.length === 1) {
                            $('#find_mould').append(new Option(resdata.MES_PMM_MOULD[0].MID + "-" + resdata.MES_PMM_MOULD[0].MOULD, resdata.MES_PMM_MOULD[0].MID));
                        }
                        else {
                            $('#find_mould').append(new Option("请选择", ""));
                            for (var a = 0; a < resdata.MES_PMM_MOULD.length; a++) {
                                $('#find_mould').append(new Option(resdata.MES_PMM_MOULD[a].MID + "-" + resdata.MES_PMM_MOULD[a].MOULD, resdata.MES_PMM_MOULD[a].MID));
                            }
                        }
                    }
                    else {
                        layer.alert(resdata.MESSAGE);
                    }
                }
            });
        }
        form.render();
    }
    function band_find_gzzx() {
        var form = layui.form;
        var GC = $('#find_gc').val();
        $("#find_gzzx").html("");
        if (GC === "") {
            $('#find_gzzx').append(new Option("请选择", ""));
        }
        else {
            $.ajax({
                type: "POST",
                async: false,
                url: "../TMManage/GET_GZZX_BY_ROLE",
                data: {
                    GC: GC
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    if (resdata.length === 1) {
                        $('#find_gzzx').append(new Option(resdata[0].GZZXBH + "-" + resdata[0].GZZXMS, resdata[0].GZZXBH));

                    }
                    else {
                        $('#find_gzzx').append(new Option("请选择", ""));
                        for (var a = 0; a < resdata.length; a++) {
                            $('#find_gzzx').append(new Option(resdata[a].GZZXBH + "-" + resdata[a].GZZXMS, resdata[a].GZZXBH));
                        }
                    }

                }
            });
        }
        band_find_sbbh();
        form.render();
    }
    function band_find_bc() {
        var form = layui.form;
        var GC = $('#find_gc').val();
        $("#find_bc").html("");
        if (GC === "") {
            $('#find_bc').append(new Option("请选择", "0"));
        }
        else {
            $.ajax({
                type: "POST",
                async: false,
                url: "../MESSelect/GET_TYPEMX",
                data: {
                    GC: GC,
                    TYPEID: 5
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    if (resdata.length === 1) {
                        $('#find_bc').append(new Option(resdata[0].MXNAME, resdata[0].ID));
                    }
                    else {
                        $('#find_bc').append(new Option("请选择", "0"));
                        for (var a = 0; a < resdata.length; a++) {
                            $('#find_bc').append(new Option(resdata[a].MXNAME, resdata[a].ID));
                        }
                    }

                }
            });
        }
        form.render();
    }
    function band_find_sbbh() {
        var form = layui.form;
        var GC = $('#find_gc').val();
        var gzzxbh = $('#find_gzzx').val();
        $("#find_sbbh").html("");
        if (gzzxbh === "") {
            $('#find_sbbh').append(new Option("请选择", ""));
            form.render();
        }
        else {
            var datastring = {
                GC: GC,
                GZZXBH: gzzxbh,
                LB: 1
            }
            $.ajax({
                type: "POST",
                async: false,
                url: "../ZS/ZS_QJ_QJJL_QJSB_SELECT",
                data: {
                    datastring: JSON.stringify(datastring)
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    var rstcount = resdata.MES_ZS_QJ_QJSB.length;
                    if (rstcount > 0) {
                        if (resdata.MES_ZS_QJ_QJSB.length === 1) {
                            $('#find_sbbh').append(new Option(resdata.MES_ZS_QJ_QJSB[0].SBMS, resdata.MES_ZS_QJ_QJSB[0].SBBH));
                        }
                        else {
                            $('#find_sbbh').append(new Option("请选择", ""));
                            for (var i = 0; i < resdata.MES_ZS_QJ_QJSB.length; i++) {
                                $('#find_sbbh').append(new Option(resdata.MES_ZS_QJ_QJSB[i].SBMS, resdata.MES_ZS_QJ_QJSB[i].SBBH));
                            }
                        }
                    }
                }
            });
        }
        form.render();
    }
</script>