@{
    ViewBag.Title = "检测记录管理";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<span class="layui-breadcrumb" lay-separator=">">
    <a>注塑追溯管理</a>
    <a><cite>检测记录管理</cite></a>
</span>
<script type="text/html" id="barkh">
    <a class="layui-btn layui-btn-xs" lay-event="modify">编辑</a>
</script>
<div class="layui-form">
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_find">查询</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">工厂：</label>
            <div class="layui-input-inline">
                <select id="find_gc" lay-filter="find_gc"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">工作中心：</label>
            <div class="layui-input-inline">
                <select id="find_gzzx" lay-filter="find_gzzx"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">设备号：</label>
            <div class="layui-input-inline">
                <select id="find_sbbh" lay-filter="find_sbbh" lay-search></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">班次：</label>
            <div class="layui-input-inline">
                <select id="find_bc" lay-filter="find_bc"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">模具号：</label>
            <div class="layui-input-inline">
                <select id="find_mould" lay-filter="find_mould" lay-search></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">条码：</label>
            <div class="layui-input-inline">
                <input type="text" id="find_tm" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">物料信息：</label>
            <div class="layui-input-inline">
                <input type="text" id="find_wlms" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">检测日期：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="date" id="find_rqs" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="date" id="find_rqe" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
        </div>
    </div>
    <table class="layui-hidden" id="tb_info" lay-filter="tb_info"></table>
</div>
<div class="layui-form" id="div_jlinfo" hidden>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;">设备号：</label>
            <div class="layui-input-inline">
                <input type="text" id="info_sbms" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;">模具号：</label>
            <div class="layui-input-inline">
                <input type="text" id="info_mould" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;">物料信息：</label>
            <div class="layui-input-inline" style="width: 520px;">
                <input type="text" id="info_wlh" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;"></label>
            <div class="layui-input-inline" style="width: 520px;">
                <input type="text" id="info_wlms" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;">检测数：</label>
            <div class="layui-input-inline" style="width: 120px;">
                <input type="text" id="info_jcs" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
            <div class="layui-form-mid"></div>
            <div class="layui-input-inline" style="width: 50px;">
                <label class="layui-form-label" id="lb_dw" style="width: 50px;"></label>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;">检测日期：</label>
            <div class="layui-input-inline">
                <input type="text" id="info_jcrq" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;">班次：</label>
            <div class="layui-input-inline">
                <select id="info_bc" lay-filter="info_bc"></select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;">检测时间：</label>
            <div class="layui-input-inline">
                <input type="text" id="info_jcsjs" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;">-</label>
            <div class="layui-input-inline">
                <input type="text" id="info_jcsje" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;">异常品数：</label>
            <div class="layui-input-inline">
                <input type="text" id="info_ycs" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;">不合格品数：</label>
            <div class="layui-input-inline">
                <input type="text" id="info_nohg" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;">不良原因：</label>
            <div class="layui-input-inline">
                <input type="text" id="info_qxyy" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 90px;">备注：</label>
            <div class="layui-input-inline">
                <input type="text" id="info_remark" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
</div>
<div class="layui-form" id="div_btnlist" hidden>

</div>
<script>
    var all_fy = 1;
    var all_fysl = 10;
    var all_limits = [15, 50, 100, 500, 1000, 2000, 3000];
    var qxyy = [];
    var checkqxyy = [];
    var checkindexyy = 0;
    layui.use(['form', 'laydate', 'element', 'laydate', 'table', 'jquery', 'upload'], function () {
        var layer = layui.layer
        var laydate = layui.laydate;
        var table = layui.table;
        var form = layui.form;
        laydate.render({
            elem: '#find_rqs'
        });
        laydate.render({
            elem: '#find_rqe'
        });
        laydate.render({
            elem: '#info_jcsjs'
            , type: 'datetime'
        });
        laydate.render({
            elem: '#info_jcsje'
            , type: 'datetime'
        });
        laydate.render({
            elem: '#info_jcrq'
        });
        band_find_gc();
        form.on('select(find_gc)', function (data) {
            band_find_gzzx();
            band_find_mould();
            band_find_bc();
        });
        form.on('select(find_gzzx)', function (data) {
            band_find_sbbh();
        });
        banddate();
        $("#btn_find").click(function () {
            banddate();
        });
        $('#find_tm').bind('keyup', function (event) {
            if (event.keyCode == "13") {
                banddate();
            }
        });
        $('#find_wlms').bind('keyup', function (event) {
            if (event.keyCode == "13") {
                banddate();
            }
        });
        table.on('tool(tb_info)', function (obj) {
            var dataline = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'modify') {
                layer.open({
                    skin: 'select_out',
                    type: 1,
                    shade: 0,
                    btn: ['保存', '取消'],
                    area: ['675px', '535px'],
                    content: $('#div_jlinfo'),
                    title: '修改',
                    moveOut: true,
                    success: function (layero, index) {
                        $("#info_sbms").val(dataline.SBMS);
                        $("#info_mould").val(dataline.MOULD);
                        $("#info_wlh").val(dataline.WLH);
                        $("#info_wlms").val(dataline.WLMS);
                        $("#info_jcs").val(dataline.JLSL);
                        $("#lb_dw").html(dataline.UNITSNAME);
                        $("#info_jcrq").val(dataline.QJRQ);
                        band_info_bc(dataline.GC);
                        $("#info_bc").val(dataline.QJBC);
                        $("#info_jcsjs").val(dataline.QJKSTIME);
                        $("#info_jcsje").val(dataline.QJJSTIME);
                        $("#info_ycs").val(dataline.QXSL);
                        $("#info_nohg").val(dataline.QXNOHGSL);
                        $("#info_qxyy").val(dataline.NOHGYYNAME);
                        $("#info_remark").val(dataline.REMARK);
                        qxyy = [];
                        checkqxyy = [];
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: "../MESSelect/GET_TYPEMX",
                            data: {
                                GC: dataline.GC,
                                TYPEID: 35
                            },
                            success: function (data) {
                                var resdata = JSON.parse(data);
                                qxyy = resdata;
                                if (resdata.length > 0) {
                                    $("#div_btnlist").empty();
                                    var js = 0;
                                    for (var i = 0; i < resdata.length; i++) {
                                        if (js == 0) {
                                            $("#div_btnlist").append('<div class="layui-form-item">');
                                        }
                                        $("#div_btnlist").append('<button class="layui-btn" id="btn_yy' + resdata[i].ID + '" style="width: 130px;">' + resdata[i].MXNAME + '</button>');
                                        js = js + 1;
                                        if (js == 3) {
                                            $("#div_btnlist").append('</div>');
                                            js = 0;
                                        }
                                    }
                                    if (js > 0) {
                                        $("#div_btnlist").append('</div>');
                                        js = 0;
                                    }
                                }
                                form.render();
                            }
                        });
                        var datastring_1 = {
                            LB: 3,
                            QJJLID: dataline.QJJLID,
                        };
                        $.ajax({
                            type: "POST",
                            async: true,
                            url: "../ZS/ZS_SY_JL_SELECT_QJQXJL",
                            data: {
                                datastring: JSON.stringify(datastring_1)
                            },
                            success: function (data) {
                                var resdata = JSON.parse(data);
                                if (resdata.MES_RETURN.TYPE === "S") {
                                    checkqxyy = resdata.DATALIST;
                                }
                                else {
                                    layer.alert(resdata.MES_RETURN.MESSAGE);
                                    return false;
                                }
                            }
                        });
                        form.render();
                    },
                    yes: function (index, layero) {
                        var QJRQ = $("#info_jcrq").val();
                        var QJBC = $("#info_bc").val();
                        var QJKSTIME = $("#info_jcsjs").val();
                        var QJJSTIME = $("#info_jcsje").val();
                        var QXSL = $("#info_ycs").val();
                        var QXNOHGSL = $("#info_nohg").val();
                        var NOHGYYNAME = $("#info_qxyy").val();
                        var REMARK = $("#info_remark").val();

                        if (QJRQ === "") {
                            layer.alert("检测日期不能为空");
                            return false;
                        }
                        if (QJBC === "0") {
                            layer.alert("班次不能为空");
                            return false;
                        }
                        if (QJKSTIME === "") {
                            layer.alert("开始时间不能为空");
                            return false;
                        }
                        if (QJJSTIME === "") {
                            layer.alert("结束时间不能为空");
                            return false;
                        }
                        if (QJKSTIME > QJJSTIME) {
                            layer.alert("开始时间不能大于结束时间");
                            return false;
                        }
                        if (QXSL === "") {
                            layer.alert("缺陷数量不能为空");
                            return false;
                        }
                        if (QXNOHGSL === "") {
                            layer.alert("不合格数量不能为空");
                            return false;
                        }
                        if (NOHGYYNAME === "") {
                            layer.alert("不合格原因不能为空");
                            return false;
                        }
                        if (isNaN(Number(QXSL))) {
                            layer.alert("缺陷数量需要时数字");
                            return false;
                        }
                        if (isNaN(Number(QXNOHGSL))) {
                            layer.alert("不合格数量需要为数字");
                            return false;
                        }
                        if (Number(QXSL) < Number(QXNOHGSL)) {
                            layer.alert("不合格数量不能大于缺陷数量");
                            return false;
                        }
                        dataline.QJRQ = QJRQ;
                        dataline.QJBC = QJBC;
                        dataline.QJKSTIME = QJKSTIME;
                        dataline.QJJSTIME = QJJSTIME;
                        dataline.QXSL = QXSL;
                        dataline.QXNOHGSL = QXNOHGSL;
                        dataline.NOHGYYNAME = NOHGYYNAME;
                        dataline.REMARK = REMARK;
                        dataline.LB = 1;
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: "../ZS/ZS_SY_JL_UPDATEQJQXJL",
                            data: {
                                datastring: JSON.stringify(dataline),
                                datastring1: JSON.stringify(checkqxyy),
                            },
                            success: function (data) {
                                var resdata = JSON.parse(data);
                                if (resdata.TYPE === "S") {
                                    layer.close(index);
                                    layer.msg("修改成功！");
                                    banddate();
                                    if (checkindexyy != 0) {
                                        layer.close(Number(checkindexyy));
                                        checkindexyy = 0;
                                    }
                                }
                                else {
                                    layer.alert(resdata.MESSAGE);
                                    return;
                                }
                            }
                        });
                    },
                    end: function () {
                        if (checkindexyy != 0) {
                            layer.close(Number(checkindexyy));
                            checkindexyy = 0;
                        }
                    }
                });
            }
        });
        $('#info_qxyy').on('focus', function () {
            layer.open({
                type: 1,
                shade: 0,
                btn: ['取消'],
                offset: 'r',
                area: ['420px', '300px'],
                content: $('#div_btnlist'),
                moveOut: true,
                title: '缺陷选择',
                success: function (layero, index) {
                    checkindexyy = index;
                    for (var a = 0; a < checkqxyy.length; a++) {
                        $("#btn_yy" + checkqxyy[a].NOHGYY).addClass("layui-btn-danger");
                    }
                    form.render();
                },
                end: function () {
                    checkindexyy = 0;
                }
            });
        });
        $('#div_btnlist').on('click', 'button', function () {
            var btnId = $(this).attr('id');
            if (btnId.substring(0, 6) == "btn_yy") {
                var sz = btnId.substring(6, btnId.length);
                var mxname = "";
                for (var a = 0; a < qxyy.length; a++) {
                    if (qxyy[a].ID == Number(sz)) {
                        mxname = qxyy[a].MXNAME;
                    }
                }
                var checkqxyyline = {}
                if (checkqxyy.length == 0) {
                    checkqxyyline = {
                        NOHGYY: sz,
                        NOHGYYNAME: mxname
                    };
                    checkqxyy.push(checkqxyyline);
                    $("#" + btnId).addClass("layui-btn-danger");
                    form.render();
                }
                else {
                    var czcount = 0
                    for (var a = 0; a < checkqxyy.length; a++) {
                        if (checkqxyy[a].NOHGYY == Number(sz)) {
                            czcount = 1;
                            break;
                        }
                    }
                    if (czcount === 0) {
                        checkqxyyline = {
                            NOHGYY: sz,
                            NOHGYYNAME: mxname
                        };
                        checkqxyy.push(checkqxyyline);
                        $("#" + btnId).addClass("layui-btn-danger");
                        form.render();
                    }
                    else {
                        for (var a = 0; a < checkqxyy.length; a++) {
                            if (checkqxyy[a].NOHGYY == Number(sz)) {
                                checkqxyy.splice(a, 1);
                                $("#" + btnId).removeClass("layui-btn-danger");
                                break;
                            }
                        }
                    }
                }
                var yy = "";
                for (var a = 0; a < checkqxyy.length; a++) {
                    if (yy == "") {
                        yy = checkqxyy[a].NOHGYYNAME;
                    }
                    else {
                        yy = yy + "," + checkqxyy[a].NOHGYYNAME;
                    }
                }
                $('#info_qxyy').val(yy);
            }
        });
    });
    function banddate() {
        var table = layui.table;
        if ($("#find_rqs").val() === "") {
            layer.msg("开始日期不能为空");
        }
        else if ($("#find_rqe").val() === "") {
            layer.msg("结束日期不能为空");
        }
        else if ($("#find_rqs").val() > $("#find_rqe").val()) {
            layer.msg("开始时间不能大于结束时间");
        }
        else {
            var jz = layer.open({
                type: 1,
                zIndex: 10000,
                title: "正在加载..."
            });
            var datastring = {
                LB: 2,
                GC: $("#find_gc").val(),
                GZZXBH: $("#find_gzzx").val(),
                SBBH: $("#find_sbbh").val(),
                MID: $("#find_mould").val(),
                DATEKS: $("#find_rqs").val(),
                DATEJS: $("#find_rqe").val(),
                BC: $("#find_bc").val(),
                TM: $("#find_tm").val(),
                WLH: $("#find_wlms").val()
            };
            $.ajax({
                type: "POST",
                async: true,
                url: "../ZS/ZS_SY_JL_SELECT_QJQXJL",
                data: {
                    datastring: JSON.stringify(datastring)
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    if (resdata.MES_RETURN.TYPE === "S") {
                        var fyall = Math.ceil(resdata.DATALIST.length / all_fysl);
                        if (fyall > all_fy - 1) {
                        }
                        else {
                            all_fy = Number(fyall);
                        }
                        table.render({
                            done: function (res, curr, count) {
                                for (var i = 0; i < all_limits.length; i++) {
                                    if (all_limits[i] >= res.data.length) {
                                        all_fysl = all_limits[i];
                                        break;
                                    }
                                }
                                all_fy = curr;
                            },
                            elem: '#tb_info',
                            data: resdata.DATALIST,
                            cols: [[ //表头
                                { type: 'numbers', title: '序号' },
                                { field: 'GC', title: '工厂', width: 90 },
                                { field: 'GZZXMS', title: '工作中心', width: 120 },
                                { field: 'SBMS', title: '设备描述', width: 120 },
                                { field: 'MOULD', title: '模具号', width: 120 },
                                { field: 'QJRQ', title: '检测日期', width: 120 },
                                { field: 'QJBCNAME', title: '班次', width: 120 },
                                { field: 'WLH', title: '物料编码', width: 120 },
                                { field: 'WLMS', title: '物料描述', width: 120 },
                                { field: 'QJKSTIME', title: '检测开始', width: 120 },
                                { field: 'QJJSTIME', title: '检测结束', width: 120 },
                                { field: 'JLMXLBNAME', title: '类别', width: 120 },
                                { field: 'TM', title: '物料LOT表条码', width: 120 },
                                { field: 'KSTIME', title: '生产开始', width: 120 },
                                { field: 'JSTIME', title: '生产结束', width: 120 },
                                { field: 'JLSL', title: '检测数', width: 150 },
                                { field: 'QXSL', title: '异常品数', width: 170 },
                                { field: 'QXNOHGSL', title: '不合格品数', width: 120 },
                                { field: 'NOHGYYNAME', title: '不良原因', width: 120 },
                                { field: 'REMARK', title: '备注', width: 120 },
                                { fixed: 'right', width: 100, align: 'center', toolbar: '#barkh', title: '操作' }
                            ]]
                            , page: {
                                limits: all_limits,
                                limit: all_fysl,
                                curr: all_fy
                            }
                            , height: 'full-350'
                        });
                        layer.close(jz);
                    }
                    else {
                        layer.alert(resdata.MES_RETURN.MESSAGE);
                        layer.close(jz);
                        return false;
                    }
                }
            });
        }
    }
    function band_find_gc() {
        var form = layui.form;
        $("#find_gc").html("");
        $.ajax({
            type: "POST",
            async: false,
            url: "../System/Data_Select_GC_ROLE",
            data: {
            },
            success: function (data) {
                var resdata = JSON.parse(data);
                if (data.length === 1) {
                    $('#find_gc').append(new Option(resdata[0].GC + "-" + resdata[0].GCMS, resdata[0].GC));

                }
                else {
                    $('#find_gc').append(new Option("请选择", ""));
                    for (var a = 0; a < resdata.length; a++) {
                        $('#find_gc').append(new Option(resdata[a].GC + "-" + resdata[a].GCMS, resdata[a].GC));
                    }
                }
            }
        });
        band_find_gzzx();
        band_find_mould();
        band_find_bc();
        form.render();
    }
    function band_find_mould() {
        var form = layui.form;
        var GC = $('#find_gc').val();
        $("#find_mould").html("");
        if (GC === "") {
            $('#find_mould').append(new Option("请选择", ""));
        }
        else {
            var datastring = {
                GC: GC
            }
            $.ajax({
                type: "POST",
                async: false,
                url: "../ZS/PMM_MOULD_SELECT",
                data: {
                    datastring: JSON.stringify(datastring)
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    if (resdata.MES_RETURN.TYPE === "S") {
                        if (resdata.MES_PMM_MOULD.length === 1) {
                            $('#find_mould').append(new Option(resdata.MES_PMM_MOULD[0].MID + "-" + resdata.MES_PMM_MOULD[0].MOULD, resdata.MES_PMM_MOULD[0].MID));
                        }
                        else {
                            $('#find_mould').append(new Option("请选择", ""));
                            for (var a = 0; a < resdata.MES_PMM_MOULD.length; a++) {
                                $('#find_mould').append(new Option(resdata.MES_PMM_MOULD[a].MID + "-" + resdata.MES_PMM_MOULD[a].MOULD, resdata.MES_PMM_MOULD[a].MID));
                            }
                        }
                    }
                    else {
                        layer.alert(resdata.MESSAGE);
                    }
                }
            });
        }
        form.render();
    }
    function band_find_gzzx() {
        var form = layui.form;
        var GC = $('#find_gc').val();
        $("#find_gzzx").html("");
        if (GC === "") {
            $('#find_gzzx').append(new Option("请选择", ""));
        }
        else {
            $.ajax({
                type: "POST",
                async: false,
                url: "../TMManage/GET_GZZX_BY_ROLE",
                data: {
                    GC: GC
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    if (resdata.length === 1) {
                        $('#find_gzzx').append(new Option(resdata[0].GZZXBH + "-" + resdata[0].GZZXMS, resdata[0].GZZXBH));
                    }
                    else {
                        $('#find_gzzx').append(new Option("请选择", ""));
                        for (var a = 0; a < resdata.length; a++) {
                            $('#find_gzzx').append(new Option(resdata[a].GZZXBH + "-" + resdata[a].GZZXMS, resdata[a].GZZXBH));
                        }
                    }

                }
            });
        }
        band_find_sbbh();
        form.render();
    }
    function band_find_bc() {
        var form = layui.form;
        var GC = $('#find_gc').val();
        $("#find_bc").html("");
        if (GC === "") {
            $('#find_bc').append(new Option("请选择", "0"));
        }
        else {
            $.ajax({
                type: "POST",
                async: false,
                url: "../MESSelect/GET_TYPEMX",
                data: {
                    GC: GC,
                    TYPEID: 5
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    if (resdata.length === 1) {
                        $('#find_bc').append(new Option(resdata[0].MXNAME, resdata[0].ID));
                    }
                    else {
                        $('#find_bc').append(new Option("请选择", "0"));
                        for (var a = 0; a < resdata.length; a++) {
                            $('#find_bc').append(new Option(resdata[a].MXNAME, resdata[a].ID));
                        }
                    }

                }
            });
        }
        form.render();
    }
    function band_info_bc(GC) {
        var form = layui.form;
        $("#info_bc").html("");
        if (GC === "") {
            $('#info_bc').append(new Option("请选择", "0"));
        }
        else {
            $.ajax({
                type: "POST",
                async: false,
                url: "../MESSelect/GET_TYPEMX",
                data: {
                    GC: GC,
                    TYPEID: 5
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    if (resdata.length === 1) {
                        $('#info_bc').append(new Option(resdata[0].MXNAME, resdata[0].ID));
                    }
                    else {
                        $('#info_bc').append(new Option("请选择", "0"));
                        for (var a = 0; a < resdata.length; a++) {
                            $('#info_bc').append(new Option(resdata[a].MXNAME, resdata[a].ID));
                        }
                    }

                }
            });
        }
        form.render();
    }
    function band_find_sbbh() {
        var form = layui.form;
        var GC = $('#find_gc').val();
        var gzzxbh = $('#find_gzzx').val();
        $("#find_sbbh").html("");
        if (gzzxbh === "") {
            $('#find_sbbh').append(new Option("请选择", ""));
            form.render();
        }
        else {
            var datastring = {
                GC: GC,
                GZZXBH: gzzxbh,
                LB: 1
            }
            $.ajax({
                type: "POST",
                async: false,
                url: "../ZS/ZS_QJ_QJJL_QJSB_SELECT",
                data: {
                    datastring: JSON.stringify(datastring)
                },
                success: function (data) {
                    var resdata = JSON.parse(data);
                    var rstcount = resdata.MES_ZS_QJ_QJSB.length;
                    if (rstcount > 0) {
                        if (resdata.MES_ZS_QJ_QJSB.length === 1) {
                            $('#find_sbbh').append(new Option(resdata.MES_ZS_QJ_QJSB[0].SBMS, resdata.MES_ZS_QJ_QJSB[0].SBBH));
                        }
                        else {
                            $('#find_sbbh').append(new Option("请选择", ""));
                            for (var i = 0; i < resdata.MES_ZS_QJ_QJSB.length; i++) {
                                $('#find_sbbh').append(new Option(resdata.MES_ZS_QJ_QJSB[i].SBMS, resdata.MES_ZS_QJ_QJSB[i].SBBH));
                            }
                        }
                    }
                }
            });
        }
        form.render();
    }
</script>