@{
    ViewBag.Title = "SCH_SHOWCHOICE";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}

<h2>SCH_SHOWCHOICE</h2>




@section scripts {
    @Scripts.Render("~/bundles/MES/SCH/SCH_SHOWCHOICE", "~/bundles/zwk")
}

