@using Sonluk.UI.Model.MM.ScheduleRequisitionService
@model IEnumerable<ScheDelivDestInfo>
<div class="drop-list-body">
    <ul>
        @foreach (ScheDelivDestInfo dest in Model)
        {
            <li>
                <div class="drop-list-item">@dest.Destination</div>
                <input type="hidden" value="@dest.ID">
            </li>
        }
    </ul>
</div>
