<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="sonlukSettings" type="Sonluk.API.SDK.Configuration.SonlukSettings" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Sonluk.PC-20170926173427;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Sonluk.PC-20170926173427.mdf" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RemoteAddress" value="http://10.1.22.2/APIB/" />
    <add key="TempletBackgroundPath" value="http://192.168.0.16/API/" />
    <add key="NETPATH" value="/CRM/CRMupload/upload/" />
    <add key="lxr_pic" value="http://192.168.0.135:8083/Areas/CRM/img/pic.jpg" />

    <add key="FileSavePath" value="E:\CRMupload" />
    <add key="FileSavePath2" value="E:\\CRMupload" />
    <add key="HRNETPATH" value="/HR/upload/" />
    <add key="HRNETPATH2" value="/upload/" />
    <add key="HRFile" value="E:\HRupload" />
    <add key="HRFile2" value="E:\\HRupload" />
    <add key="MESFile" value="E:\\MESFile" />


    <add key="SHorder_QY" value="https://dev.sonluk.com.cn/CRMmobile/CRM/Order/GetCode?place=QY" />
    <add key="SSOURLIN" value="http://10.1.22.2/SonlukSSO" />
    <add key="SSOURLOUT" value="http://dev.sonluk.com.cn/SonlukSSO" />
    <!--微信凭证-->
    <!--<add key="AppID" value="wxaacedb1c8612157c"/>-->
    <add key="AppID" value="wxaf47539a32188dc3" />

    <!--微信密钥-->
    <!--<add key="AppSecret" value="de01c2c23180f5750f06e26e41f79a2d"/>-->
    <add key="AppSecret" value="baf41487e4d461ef8677f6ebb7a70c33" />

    <!--企业ID-->
    <add key="CorpID" value="ww47250b95f4ece306" />

    <!--企业凭证-->
    <add key="AgentId" value="1000010" />

    <!--企业密钥-->
    <add key="Secret" value="4FvbullATvThh8r18xoOvOlCK9tAsJhrtptiSlpxKyM" />

    <!--腾讯地图key-->
    <add key="TXmapKey" value="WXWBZ-55FRS-P4FON-6HINX-7K7R5-HKBVQ" />
    <!--扫一扫直接打分URL测试-->
    <add key="FIVESURL" value="https://dev.sonluk.com.cn/CRMmobile/FIVES/Score/FIVESurl?POINTID=" />
    <!--扫一扫直接打分URL正式-->
    <!--<add key="FIVESURL" value="https://www.sonluk.com.cn/CRMmobile/FIVES/Score/FIVESurl?POINTID="/>-->
  </appSettings>

  <sonlukSettings>
    <basic>
      <add key="SonlukApiAuthorKey" value="a24d2119d2772325e50f2377d06427b0" />
    </basic>
    <api>
      <add name="MES" address="http://localhost:20597/api/" />
      <add name="CRM" address="http://10.1.22.2/API/api/" />
      <add name="RMS" address="http://10.1.22.2/API/api/" />
      <add name="HR" address="http://10.1.22.2/API/api/" />
      <add name="WX" address="" />
      <add name="WMS" address="http://10.1.22.2/API/api/" />
    </api>
  </sonlukSettings>

  <system.serviceModel>
    <bindings configSource="Config\bindings.config" />
    <client configSource="Config\client.config" />
  </system.serviceModel>

  <system.web>
    <httpRuntime maxRequestLength="409600" executionTimeout="400" enable="true" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="1440">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>