.sonluk-table-pop-up-content {

    padding:5px;
    background-color:#fff;
    min-height:100px;
    overflow:hidden;
    text-align:left;
    
    
}

.change-width-cell {
    margin:0;
    padding:0;
}

.change-width {
    width:80px;
    overflow:hidden;
}

.change-width-content {
    float:left;
    padding-left:8px;
    width:64px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.change-width-btn {
    float:right;
    width:8px;
    height:17px;
    cursor:e-resize;
}
