body {
}

.main {
    margin: 0 auto;
    width: 21cm;
    page-break-after: always;
}

.main2 {
    margin: 0 0.6cm;
    width: 21cm;
    page-break-after: always;
}

.main3 {
    /*margin: 0 auto;*/
    width: 5.56cm;
    page-break-after: always;
}

.main_tpzhno {
    margin: 0 auto;
    width: 260px;
    page-break-after: always;
    margin-bottom:1cm;
    text-align:center;
}

.print-page_table_outside_tpzhno {
    margin: 0;
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 260px;
}

.print-page_table_child_tpzhno {
    margin: 0;
    border-collapse: collapse;
    border: 0px solid #000000;
    width: 100%;
}

.print_page_td_haveborder_tpzhno1 {
    border-collapse: collapse;
    border: 0px solid #000000;
    width: 100%;
    font-size: 18px;
    text-align:center;
    vertical-align: top;
    font-family: "Microsoft YaHei";
    padding:0;
}

.print_page_td_haveborder_tpzhno2 {
    border-collapse: collapse;
    border: 0px solid #000000;
    width: 50%;
    font-size: 18px;
    text-align:center;
    vertical-align:top;
    font-family: "Microsoft YaHei";
    padding:0;
}

.print_page_td_noborder4_tpzhno {
    width: 4cm;
    height: 3cm;
}

.print-page_td_haveborder_tpzhno {
    border-collapse: collapse;
    border: 1px solid #000000;
    font-size: 15px;
    text-align: left;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
}

.main_top {
    margin: 0 auto;
    width: 21cm;
    height: 60px;
}

.print-page_table_outside {
    margin: 0.5cm;
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 20cm;
}

.print-page_table_outside2 {
    margin:0;
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 20cm;
}

.print-page_table_outside3 {
    margin:0;
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 28cm;
    font-size:12px;
}

.print-page_table_inside {
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 19.8cm;
}

.print-page_td_haveborder4 {
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 4cm;
    font-size: 18px;
    text-align: left;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
}

.print_page_td_haveborder8 {
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 8cm;
    font-size: 18px;
    text-align: left;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
}

.print_page_td_haveborder16 {
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 16cm;
    font-size: 18px;
    text-align: left;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
}

.print_page_td_haveborder20 {
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 20cm;
    height: 5cm;
    font-size: 14px;
    text-align: left;
}

.print_page_td_noborder16 {
    width: 16cm;
}

.print_page_td_noborder4_tm {
    width: 4cm;
    height: 5cm;
}

.print-page-header-company-name {
    text-align: center;
    font-size: 0.776cm;
    font-weight: bold;
}

.print-page-header-company-name2 {
    text-align: center;
    font-size: 0.6cm;
    font-weight: bold;
}

.print-page-body-table-header {
    margin-top: 0.25cm;
    text-align: center;
    font-size: 0.635cm;
    font-weight: bold;
}

.print_page_table_noborder_zfdc_0 {
    margin: 0cm 0cm 0cm 0cm;
    border-collapse: collapse;
    /*width: 20cm;*/
}

.print_page_table_noborder_zfdc {
    margin: 0cm 0cm 0cm 0cm;
    border-collapse: collapse;
    width: 20cm;
}

.print_page_table_noborder_zfdc2 {
    margin: 0cm 0cm 0cm 0cm;
    border-collapse: collapse;
    width: 28cm;
}

.print_page_table_noborder_zfdc3 {
    margin: 0cm 0cm 0cm 0cm;
    border-collapse: collapse;
    width: 5.56cm;
}

.print_page_td_nohaveborder_left {
    border-collapse: collapse;
    font-size: 17px;
    text-align: left;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
}

.print_page_td_nohaveborder_left2 {
    border-collapse: collapse;
    font-size: 10px;
    text-align: left;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
}

.print_page_td_nohaveborder_right {
    border-collapse: collapse;
    font-size: 17px;
    text-align: right;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
}

.print_page_table_outside_zfdc {
    margin: 0cm 0cm 0cm 0.4cm;
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 20.2cm;
}

.print_page_td_haveborder_zfdc {
    border-collapse: collapse;
    border: 1px solid #000000;
    font-size: 17px;
    text-align: left;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
    height: 20px;
}

.print_page_td_haveborder_zfdc2 {
    border-collapse: collapse;
    border: 1px solid #000000;
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
    height: 20px;
}

.print_page_td_haveborder_remark_zfdc {
    border-collapse: collapse;
    border: 1px solid #000000;
    font-size: 17px;
    text-align: left;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
    height: 40px;
}

