@{
    Layout = "~/Areas/CRM/Views/Shared/_Layout_PDA.cshtml";
    ViewBag.Title = "SAP同步";
    Session["TITLENAME"] = "SAP同步";


}




<div id="form1" style="text-align: center; margin-left: auto; margin-right: auto;margin-top:40%">

    <button id="btn" class="layui-btn" style="width:60%;height:60px;font-size:18px;border-radius:10px;">同步</button><br />


   

</div>





<script>
    $(document).ready(function () {
        

    });
</script>

@section scripts {
    @Scripts.Render("~/bundles/CRM/FCH/SAPXXTB")
}