@{
    Layout = "~/Areas/CRM/Views/Shared/_Layout_PDA.cshtml";
    ViewBag.Title = "扫码出货编辑";
    Session["TITLENAME"] = "扫码出货编辑";

    string Staffid = "";
    if (Session["STAFFID"] != null)
    {
        Staffid = Session["STAFFID"].ToString();
    }

    string state = "";
    string appid = "";
    if (Session["state"] != null)
    {
        state = Session["state"].ToString();
        if (Session["state"] == "WX")
        {
            appid = System.Configuration.ConfigurationManager.AppSettings["AppID"];
        }
        else if (Session["state"] == "QY")
        {
            appid = System.Configuration.ConfigurationManager.AppSettings["CorpID"];
        }

    }

}
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>


<div>
    <br />

    <div id="div_fxs" class="layui-form-item">
        <label class="layui-form-label" style="width:90px;text-align:right;">分销商编号：</label>
        <div class="layui-input-block" style="margin-left: 100px;">
            <input id="CRMID" type="text" placeholder="" autocomplete="off" class="layui-input" disabled>

        </div>

        
    </div>

    <hr class="layui-bg-black" />

    <div id="div_dxm" class="layui-form-item">
        <label class="layui-form-label" style="width:90px;text-align:right;">箱码：</label>
        <div class="layui-input-block" style="margin-left: 100px;">
            

            <label id="lb_tip" class="layui-form-label" style="width:auto;">已扫0箱</label>
        </div>

    </div>

    <div id="div_table">
        <table id="tb_dxm" lay-filter="tb_dxm"></table>
    </div>





    <a id="maodian"></a>
    <br /><br /><br /><br />
    @*<div class="layui-footer" style="left:0;background: #009688;padding: 0;">

        <div class="layui-input-inline" style="width:100%;margin:0">
            <button id="btn_confirm" class="layui-btn" style="width:100%">确定</button>
        </div>
    </div>*@






</div>




<input id="staffid" hidden />
<input id="state" hidden />
<input id="appid" hidden />


<script>
    $(document).ready(function () {
        $("#staffid").val("@Staffid");
        $("#state").val("@state");
        $("#appid").val("@appid");
    });
</script>

@section scripts {
    @Scripts.Render("~/bundles/CRM/FCH/UpdateScanCH")
}