@{
    Layout = "~/Views/Shared/_Layout-weui.cshtml";
    ViewBag.Title = "修改密码";
    Session["TITLENAME"] = "修改密码";

    string msg = "";
    if (Session["passwordMSG"] != null)
    {
        msg = Session["passwordMSG"].ToString();
    }
}

<div class="weui-btn-area">
    <button class="weui-btn weui-btn_primary" href="javascript:" id="btn">确认</button>
</div>

<div class="weui-cells weui-cells_form">

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label" style="width:90px;">原密码：</label></div>
        <div class="weui-cell__bd">
            <input id="old" class="weui-input" type="password" value="" />
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label" style="width:90px;">新密码：</label></div>
        <div class="weui-cell__bd">
            <input id="new" class="weui-input" type="password" value="" />
        </div>
    </div>

    <div class="weui-cells__title">密码长度不低于8位，至少需数字和字符串组合</div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label" style="width:90px;">密码确认：</label></div>
        <div class="weui-cell__bd">
            <input id="newagain" class="weui-input" type="password" value="" />
        </div>
    </div>
   


</div>
<label id="tips" class="weui-label" style="color:red;padding: 9px 0;float: left;"></label>

<input id="msg" hidden />


<script>
    $(document).ready(function () {
        $("#msg").val("@msg");

    });
</script>

@section scripts {
    @Scripts.Render("~/bundles/CRM/System/KHPassword")
}