@{
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "修改密码";
    Session["TITLENAME"] = "修改密码";

    string msg = "";
    if (Session["passwordMSG"] != null)
    {
        msg = Session["passwordMSG"].ToString();
    }
}




<div id="form1">

    <button id="btn" class="layui-btn" style="width:100%;">确认</button><br />


    <br />
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:110px">原密码：</label>
        <div class="layui-input-block">
            <input id="old" type="text" class="layui-input">
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:110px">新密码：</label>
        <div class="layui-input-block">
            <input id="new" type="text" class="layui-input">
        </div>
        <label style="color:gray;padding: 9px 0;float: left;margin-left:140px;">密码长度不低于8位，至少需数字和字符串组合</label>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:110px">新密码确认：</label>
        <div class="layui-input-block">
            <input id="newagain" type="text" class="layui-input">
        </div>
        <label id="tips" style="color:red;padding: 9px 0;float: left;margin-left:140px;"></label>
    </div>

</div>

<input id="msg" hidden />



<script>
    $(document).ready(function () {
        $("#msg").val("@msg");

    });
</script>

@section scripts {
    @Scripts.Render("~/bundles/CRM/System/Password")
}