@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}
@Styles.Render("~/Content/report/test")
<input type="hidden" id="page-size" value="1">

<div class="print-page print-page-A4">
    <div class="print-page-area print-page-area-A4">
        <div class="print-page-header">
            <div class="print-page-header-company-name">中银(宁波)电池有限公司</div>
            <div class="print-page-header-report-name">采购入库送检单(包材类)</div>
            <table>
                <tr>
                    <td class="print-page-header-table-title">供应商编号：</td>
                    <td class="print-page-header-table-po-number">8002</td>
                    <td class="print-page-header-table-check">合格供方□</td>
                </tr>
                <tr>
                    <td class="print-page-header-table-title">供应商描述：</td>
                    <td class="print-page-header-table-content">第二能源</td>
                    <td class="print-page-header-table-check">特殊供方□</td>
                </tr>
            </table>
        </div>
        <div class="print-page-body print-page-body-A4">
            <table class="print-page-body-table">
                <tr>
                    <td class="print-page-body-table-header">No.</td>
                    <td class="print-page-body-table-header cell-item">行</td>
                    <td class="print-page-body-table-header">物料编号</td>
                    <td class="print-page-body-table-header">销售订单</td>
                    <td class="print-page-body-table-header cell-qty">送货数量</td>
                    <td class="print-page-body-table-header cell-qty">点收数量</td>
                    <td class="print-page-body-table-header" colspan="2">主要检验项目</td>
                    <td class="print-page-body-table-header cell-size">尺寸/mm</td>
                </tr>
                <tr>
                    <td class="print-page-body-table-header" colspan="4">物料描述</td>
                    <td class="print-page-body-table-header">箱(包)数</td>
                    <td class="print-page-body-table-header">开箱数</td>
                    <td class="print-page-body-table-header cell-qm" rowspan="2">文字及标识:版本\唛头\日期唛\箱数\品名\品号\作业单\版本号\质保书</td>
                    <td class="print-page-body-table-header cell-qm" rowspan="2">外观:材质\结构\排版\印刷\模切\颜色\条码\光油区\撕裂线</td>
                    <td class="print-page-body-table-header" rowspan="2">检验结果</td>
                </tr>
                <tr>
                    <td class="print-page-body-table-header cell-unit">单位</td>
                    <td class="print-page-body-table-header" colspan="2">交货地点</td>
                    <td class="print-page-body-table-header">交货日期</td>
                    <td class="print-page-body-table-header" colspan="2">备注</td>
                </tr>
                <tr class="report-iqcpm-line-po-number">
                    <td colspan="9">采购订单：4000000040 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订单日期：2016-01-26</td>
                </tr>
                <tr class="print-page-dashed-line-alpha">
                    <td>1</td>
                    <td>999</td>
                    <td>2000034855</td>
                    <td>20031150/10</td>
                    <td>2400</td>
                    <td></td>
                    <td rowspan="3"></td>
                    <td rowspan="3"></td>
                    <td></td>
                </tr>
                <tr class="print-page-dashed-line-beta">
                    <td colspan="4">金霸王LR03HP 10吊内盒（100只）96359782</td>
                    <td></td>
                    <td></td>
                    <td rowspan="2">合格□&nbsp;&nbsp;不合格□</td>
                </tr>
                <tr class="print-page-dashed-line-beta">
                    <td>EA</td>
                    <td colspan="2">丰银电池</td>
                    <td>2016-01-04</td>
                    <td colspan="2">1204</td>
                </tr>

                <tr class="report-iqcpm-line-po-number">
                    <td colspan="9">采购订单：4000000040 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订单日期：2016-01-26</td>
                </tr>
                <tr class="print-page-dashed-line-alpha">
                    <td>1</td>
                    <td>10</td>
                    <td>2000034855</td>
                    <td>20031150/10</td>
                    <td>2400</td>
                    <td></td>
                    <td rowspan="3" class="cell-qm-content"></td>
                    <td rowspan="3" class="cell-qm-content"></td>
                    <td></td>
                </tr>
                <tr class="print-page-dashed-line-beta">
                    <td colspan="4">金霸王LR03HP 10吊内盒（100只）96359782</td>
                    <td></td>
                    <td></td>
                    <td rowspan="2" class="cell-qm-content">合格□&nbsp;&nbsp;不合格□</td>
                </tr>
                <tr class="print-page-dashed-line-gamma">
                    <td>EA</td>
                    <td colspan="2">丰银电池</td>
                    <td>2016-01-04</td>
                    <td colspan="2">1204</td>
                    
                </tr>




                @*<tr>
                        <td class="print-page-body-table-header">单位</td>


                        <td class="print-page-body-table-header">文字</td>
                        <td class="print-page-body-table-header">备注</td>
                        <td class="print-page-body-table-header">交货日期</td>

                    <tr>
                        <td class="print-page-body-table-header" colspan="6">物料描述</td>
                        <td class="print-page-body-table-header">开箱数</td>
                        <td class="print-page-body-table-header">外观</td>
                        <td class="print-page-body-table-header cell-size">尺寸/mm</td>
                        <td class="print-page-body-table-header cell-result">检验结果</td>
                    </tr>
                    <tr>
                        <td class="print-page-body-table-header" colspan="6">物料描述</td>
                        <td class="print-page-body-table-header">开箱数</td>
                        <td class="print-page-body-table-header">外观</td>
                        <td class="print-page-body-table-header cell-size">尺寸/mm</td>
                        <td class="print-page-body-table-header cell-result">检验结果</td>
                    </tr>*@

                @*<tr class="report-iqcpm-line-po-number">
                        <td colspan="10">采购订单：4000000040 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订单日期：2016-01-26</td>
                    </tr>*@

                @*<tr class="print-page-dashed-line-alpha">
                        <td>1</td>
                        <td>10</td>
                        <td>4000000040</td>
                        <td>20016247/10</td>
                        <td>EA</td>
                        <td class="print-page-text-align-right">20</td>
                        <td></td>
                        <td></td>
                        <td>1204</td>
                        <td>2016-01-26</td>
                    </tr>
                    <tr class="print-page-dashed-line-beta">
                        <td colspan="6" class="print-page-text-align-left">通用黄铜钉</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>合格□&nbsp;&nbsp;不合格□</td>
                    </tr>
                    <tr class="report-iqcpm-line-delivery-request">
                        <td colspan="10">送货地点：</td>
                    </tr>*@


            </table>
        </div>
        <div class="print-page-footer">
            <table class="print-page-footer-table">
                <tr>
                    <td class="print-page-footer-table-title">打印:</td>
                    <td class="print-page-footer-table-content">010</td>
                    <td class="print-page-footer-table-title">检验员:</td>
                    <td class="print-page-footer-table-content"></td>
                    <td class="print-page-footer-table-title">审核:</td>
                    <td class="print-page-footer-table-content"></td>
                    <td class="print-page-footer-table-title">仓管:</td>
                    <td class="print-page-footer-table-content"></td>
                </tr>
                <tr>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td>2016-01-26</td>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td></td>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td></td>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7" class="print-page-footer-table-title"><b>注:</b>&nbsp;&nbsp;&nbsp;&nbsp;送货数量以实际点收数量为准</td>
                    <td class="print-page-footer-table-index">第1页</td>
                </tr>
            </table>
        </div>
    </div>
</div>
@section scripts {

    @Scripts.Render("~/bundles/report/incoming-quality-control-packing-material")
}