@{
    ViewBag.Title = "未授权";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/access/error")
<div class="content-header">
    <div class="content-header-nav">
        <a href="#">权限检查</a>
        >
        <a href="#">未授权</a>
    </div>
</div>

<div class="error color-content-background">
    <div class="error-title color-error-background">未获得授权！</div>
    <table class="error-table">
        <tr>
            <td>1.</td>
            <td class="error-table-message">该行为已记录</td>
        </tr>
        <tr>
            <td>2.</td>
            <td class="error-table-message">获取授权，请提供申请批件</td>
        </tr>
    </table>
</div>
