@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}
<div class="print-page-A4">
    <div class="print-page">
        <div class="print-page-header">
            <div class="print-page-header-company-name">中银(宁波)电池有限公司</div>
            <div class="print-page-header-report-name">采购入库送检单</div>
            <table>
                <tr>
                    <td class="print-page-header-table-title">采购订单:</td>
                    <td class="print-page-header-table-po-number">4000000040</td>
                    <td class="print-page-header-table-title">订单日期:</td>
                    <td class="print-page-header-table-content">2011-11-30</td>
                    <td class="print-page-header-table-check">合格供方□</td>
                </tr>
                <tr>
                    <td class="print-page-header-table-title">供应商:</td>
                    <td class="print-page-header-table-content" colspan="3">8002/宁波富邦电池有限公司</td>
                    <td class="print-page-header-table-check">特殊供方□</td>
                </tr>
            </table>
        </div>
        <div class="print-page-content">
            <table class="print-page-content-table">
                    <tr>
                        <td class="print-page-content-table-header">No</td>
                        <td class="print-page-content-table-header">行</td>
                        <td class="print-page-content-table-header">物料编号</td>
                        <td class="print-page-content-table-header">物料描述</td>
                        <td class="print-page-content-table-header">送货数量</td>
                        <td class="print-page-content-table-header">单位</td>
                        <td class="print-page-content-table-header">合格数量</td>
                        <td class="print-page-content-table-header">不合格数量</td>
                        <td class="print-page-content-table-header">备注</td>
                        <td class="print-page-content-table-header">交货日期</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>10</td>
                        <td>4000000040</td>
                        <td class="md">通用黄铜钉</td>
                        <td>12920000</td>
                        <td>EA</td>
                        <td></td>
                        <td></td>
                        <td>1201</td>
                        <td>2011-11-30</td>
                    </tr>
                </table>
            <table class="print-page-content-table">
                <tr>
                    <td class="print-page-content-table-header">No.</td>
                    <td class="print-page-content-table-header">行</td>
                    <td class="print-page-content-table-header">物料编号</td>
                    <td class="print-page-content-table-header">销售订单</td>
                    <td class="print-page-content-table-header">单位</td>
                    <td class="print-page-content-table-header">送货数量</td>
                    <td class="print-page-content-table-header">点收数量</td>
                    <td class="print-page-content-table-header">文字</td>
                    <td class="print-page-content-table-header">备注</td>
                    <td class="print-page-content-table-header">交货日期</td>
                </tr>
                <tr>
                    <td class="print-page-content-table-header" colspan="6">物料描述</td>
                    <td class="print-page-content-table-header">开箱数</td>
                    <td class="print-page-content-table-header">外观</td>
                    <td class="print-page-content-table-header">尺寸/mm</td>
                    <td class="print-page-content-table-header">检验结果</td>
                </tr>
                <tr class="x1">
                    <td>1</td>
                    <td>10</td>
                    <td>4000000040</td>
                    <td>20016247/10</td>
                    <td>EA</td>
                    <td>12920000</td>
                    <td></td>
                    <td></td>
                    <td>1201</td>
                    <td>2011-11-30</td>
                </tr>
                <tr class="x2">
                    <td colspan="6">通用黄铜钉</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>合格□&nbsp;&nbsp;不合格□</td>
                </tr>
                <tr class="x1">
                    <td>1</td>
                    <td>10</td>
                    <td>4000000040</td>
                    <td>20016247/10</td>
                    <td>EA</td>
                    <td>12920000</td>
                    <td></td>
                    <td></td>
                    <td>1201</td>
                    <td>2011-11-30</td>
                </tr>
                <tr class="x2">
                    <td colspan="6">通用黄铜钉</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>合格□&nbsp;&nbsp;不合格□</td>
                </tr>
            </table>
        </div>
        <div class="print-page-footer">
            <table class="print-page-footer-table">
                <tr>
                    <td class="print-page-footer-table-title">打印:</td>
                    <td class="print-page-footer-table-content">8002</td>
                    <td class="print-page-footer-table-title">检验员:</td>
                    <td class="print-page-footer-table-content"></td>
                    <td class="print-page-footer-table-title">审核:</td>
                    <td class="print-page-footer-table-content"></td>
                    <td class="print-page-footer-table-title">仓管:</td>
                    <td class="print-page-footer-table-content"></td>
                </tr>
                <tr>
                    <td class="print-page-footer-table-title">打印时间:</td>
                    <td>2015-03-13 15:33:00</td>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td></td>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td></td>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7" class="print-page-footer-table-title"><b>注:</b>&nbsp;&nbsp;&nbsp;&nbsp;送货数量以实际点收数量为准</td>
                    <td class="print-page-footer-table-index">第一页</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="print-page-A4">
    <div class="print-page">
        <div class="print-page-header">
            <div class="print-page-header-company-name">中银(宁波)电池有限公司</div>
            <div class="print-page-header-report-name">采购入库送检单</div>
            <table>
                <tr>
                    <td class="print-page-header-table-title">采购订单:</td>
                    <td class="print-page-header-table-po-number">4000000040</td>
                    <td class="print-page-header-table-title">订单日期:</td>
                    <td class="print-page-header-table-content">2011-11-30</td>
                    <td class="print-page-header-table-check">合格供方□</td>
                </tr>
                <tr>
                    <td class="print-page-header-table-title">供应商:</td>
                    <td class="print-page-header-table-content" colspan="3">8002/宁波富邦电池有限公司</td>
                    <td class="print-page-header-table-check">特殊供方□</td>
                </tr>
            </table>
        </div>
        <div class="print-page-content">
            <table class="print-page-content-table">
                <tr>
                    <td class="print-page-content-table-header">No</td>
                    <td class="print-page-content-table-header">行</td>
                    <td class="print-page-content-table-header">物料编号</td>
                    <td class="print-page-content-table-header">物料描述</td>
                    <td class="print-page-content-table-header">送货数量</td>
                    <td class="print-page-content-table-header">单位</td>
                    <td class="print-page-content-table-header">合格数量</td>
                    <td class="print-page-content-table-header">不合格数量</td>
                    <td class="print-page-content-table-header">备注</td>
                    <td class="print-page-content-table-header">交货日期</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10</td>
                    <td>4000000040</td>
                    <td>LR6/LR03通用F型黄铜钉</td>
                    <td>12920000</td>
                    <td>EA</td>
                    <td></td>
                    <td></td>
                    <td>1201</td>
                    <td>2011-11-30</td>
                </tr>
            </table>
        </div>
        <div class="print-page-footer">
            <table class="print-page-footer-table">
                <tr>
                    <td class="print-page-footer-table-title">打印:</td>
                    <td class="print-page-footer-table-content">8002</td>
                    <td class="print-page-footer-table-title">检验员:</td>
                    <td class="print-page-footer-table-content"></td>
                    <td class="print-page-footer-table-title">审核:</td>
                    <td class="print-page-footer-table-content"></td>
                    <td class="print-page-footer-table-title">仓管:</td>
                    <td class="print-page-footer-table-content"></td>
                </tr>
                <tr>
                    <td class="print-page-footer-table-title">打印时间:</td>
                    <td>2015-03-13 15:33:00</td>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td></td>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td></td>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7" class="print-page-footer-table-title"><b>注:</b>&nbsp;&nbsp;&nbsp;&nbsp;送货数量以实际点收数量为准</td>
                    <td class="print-page-footer-table-index">第一页</td>
                </tr>
            </table>
        </div>
    </div>
</div>