@{
    ViewBag.Title = "PurchaseOrder";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}
@Styles.Render("~/Content/report/purchase-order")
<div class="print-page-A4">
    <div class="print-page">
        <div class="print-page-header">
            <div class="purchase-order-header-logo">
                <div class="purchase-order-header-logo-custom-number">SAP-CJ-S-0547</div>
                <img class="purchase-order-header-logo-img" src="@Url.Content("~/Content/sonluk-ui/images/logo-po.png")" alt="" />
            </div>
            <div class="purchase-order-header-title">
                <div class="print-page-header-report-name">采&nbsp;购&nbsp;订&nbsp;单</div>
            </div>
            <div class="purchase-order-header-table-company">
                <table>
                    <tr>
                        <td class="doc-type">编号：CG4010A</td>
                    </tr>
                    <tr>
                        <td>中银（宁波）电池有限公司</td>
                    </tr>
                    <tr>
                        <td>中国浙江宁波市高新区星光路128号</td>
                    </tr>
                    <tr>
                        <td>联系电话：0574-87916666</td>
                    </tr>
                    <tr>
                        <td>邮政编码：315040</td>
                    </tr>
                </table>
            </div>
            <div class="purchase-order-header-table-vendor">
                <table>
                    <tr>
                        <td class="purchase-order-header-table-vendor-title">订单编号：</td>
                        <td>4000024322</td>
                    </tr>
                    <tr>
                        <td>供应商：</td>
                        <td>8002/宁波富邦电池有限公司</td>
                    </tr>
                    <tr>
                        <td>联系人：</td>
                        <td>周XX</td>
                    </tr>
                    <tr>
                        <td>联系方式：</td>
                        <td>18605741234</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="purchase-order-header-table-purchaser">
                <table>
                    <tr>
                        <td class="purchase-order-header-table-purchaser-title">订单日期：</td>
                        <td>2015.06.24</td>
                    </tr>
                    <tr>
                        <td>采购员：</td>
                        <td>XXX</td>
                    </tr>
                    <tr>
                        <td>联系方式：</td>
                        <td>18605741234</td>
                    </tr>
                    <tr>
                        <td>交货地点：</td>
                        <td>宁波市高新区星光路128号</td>
                    </tr>
                    <tr>
                        <td>页码：</td>
                        <td>第1页/共1页</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="print-page-content">
            <table class="print-page-content-table">
                <tr>
                    <td class="print-page-content-table-header purchase-order-sn">序号</td>
                    <td class="print-page-content-table-header purchase-order-material">物料编号</td>
                    <td class="print-page-content-table-header">物料描述</td>
                    <td class="print-page-content-table-header purchase-order-uom">单位</td>
                    <td class="print-page-content-table-header purchase-order-quantity">数量</td>
                    <td class="print-page-content-table-header purchase-order-date">交货日期</td>
                    <td class="print-page-content-table-header purchase-order-remark">备注</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>4000000040</td>
                    <td class="print-page-text-align-left">战术手电</td>
                    <td>EA</td>
                    <td class="print-page-text-align-right">12920000</td>
                    <td>2011-11-30</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="7" >
                        <table class="purchase-order-request">
                            <tr><td>作业单：/要求：</td></tr>
                            <tr><td></td></tr>
                            <tr><td></td></tr>
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <table class="purchase-order-notice">
                            <tr><td></td></tr>
                            <tr><td>1.以上订单内容参照相关合同或协议执行；</td></tr>
                            <tr><td>2.请按交货日期及时交货，若无法及时交货请提前与本公司取得联系，否则造成损失由供方承担；</td></tr>
                            <tr><td>3.交货检验时须提供交货单，交货信息满足本公司需求，如质量检验不合格则拒收；</td></tr>
                            <tr><td>4.备注：</td></tr>
                            <tr><td></td></tr>
                            <tr><td>供应商收到订单后请确认签字并回传，谢谢！</td></tr>
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="print-page-footer">
            <table class="print-page-footer-table">
                <tr>
                    <td class="print-page-footer-table-title">采购工程师:</td>
                    <td class="print-page-footer-table-content">XXX</td>
                    <td class="print-page-footer-table-title">供应商:</td>
                    <td class="print-page-footer-table-content">宁波富邦电池有限公司</td>
                </tr>
                <tr>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td class="print-page-footer-table-content">2015-06-24</td>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td class="print-page-footer-table-content">2015-06-24</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="print-page-A4">
    <div class="print-page">
        <div class="print-page-header">
            <div class="purchase-order-header-logo">
                <img class="purchase-order-header-logo-img" src="@Url.Content("~/Content/sonluk-ui/images/logo-square.png")" alt="" />
            </div>
            <div class="purchase-order-header-title">
                <div class="print-page-header-report-name">采&nbsp;购&nbsp;订&nbsp;单</div>
            </div>
            <div class="purchase-order-header-table-company">
                <table>
                    <tr>
                        <td class="doc-type">编号：CG4010A</td>
                    </tr>
                    <tr>
                        <td>中银（宁波）电池有限公司</td>
                    </tr>
                    <tr>
                        <td>中国浙江宁波市高新区星光路128号</td>
                    </tr>
                    <tr>
                        <td>联系电话：0574-87916666</td>
                    </tr>
                    <tr>
                        <td>邮政编码：315040</td>
                    </tr>
                </table>
            </div>
            <div class="purchase-order-header-table-vendor">
                <table>
                    <tr>
                        <td class="purchase-order-header-table-vendor-title">订单编号：</td>
                        <td>4000024322</td>
                    </tr>
                    <tr>
                        <td>供应商：</td>
                        <td>8002/宁波富邦电池有限公司</td>
                    </tr>
                    <tr>
                        <td>联系人：</td>
                        <td>周XX</td>
                    </tr>
                    <tr>
                        <td>联系方式：</td>
                        <td>18605741234</td>
                    </tr>
                    <tr>
                        <td>订单币种：</td>
                        <td>CNY</td>
                    </tr>
                </table>
            </div>
            <div class="purchase-order-header-table-purchaser">
                <table>
                    <tr>
                        <td class="purchase-order-header-table-purchaser-title">订单日期：</td>
                        <td>2015.06.24</td>
                    </tr>
                    <tr>
                        <td>采购员：</td>
                        <td>XXX</td>
                    </tr>
                    <tr>
                        <td>联系方式：</td>
                        <td>18605741234</td>
                    </tr>
                    <tr>
                        <td>交货地点：</td>
                        <td>宁波市高新区星光路128号</td>
                    </tr>
                    <tr>
                        <td>页码：</td>
                        <td>第1页/共1页</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="print-page-content">
            <table class="print-page-content-table">
                <tr>
                    <td class="print-page-content-table-header purchase-order-sn">序号</td>
                    <td class="print-page-content-table-header purchase-order-material">物料编号</td>
                    <td class="print-page-content-table-header">物料描述</td>
                    <td class="print-page-content-table-header purchase-order-uom">单位</td>
                    <td class="print-page-content-table-header purchase-order-quantity">数量</td>
                    <td class="print-page-content-table-header purchase-order-quantity">不含税单价</td>
                    <td class="print-page-content-table-header purchase-order-quantity">不含税金额</td>
                    <td class="print-page-content-table-header purchase-order-quantity">税额</td>
                    <td class="print-page-content-table-header purchase-order-date">交货日期</td>
                    <td class="print-page-content-table-header purchase-order-remark">备注</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>4000000040</td>
                    <td class="print-page-text-align-left">战术手电</td>
                    <td>EA</td>
                    <td class="print-page-text-align-right">12920000</td>
                    <td class="print-page-text-align-right">520.0000</td>
                    <td class="print-page-text-align-right">52,000.00</td>
                    <td class="print-page-text-align-right">8.840.00</td>
                    <td>2011-11-30</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="10">
                        <table class="purchase-order-request">
                            <tr><td>作业单：/要求：</td></tr>
                            <tr><td></td></tr>
                            <tr><td></td></tr>
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="print-page-text-align-left">
                        不含税金额合计：
                    </td>
                    <td colspan="8">
                        52,000.00
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="print-page-text-align-left">
                        税额合计：
                    </td>
                    <td colspan="8">8.840.00</td>
                </tr>
                <tr>
                    <td colspan="2" class="print-page-text-align-left">
                        总计：
                    </td>
                    <td colspan="8">60,840.00</td>
                </tr>
                <tr>
                    <td colspan="10">
                        <table class="purchase-order-notice">
                            <tr><td></td></tr>
                            <tr><td>1.以上订单内容参照相关合同或协议执行；</td></tr>
                            <tr><td>2.请按交货日期及时交货，若无法及时交货请提前与本公司取得联系，否则造成损失由供方承担；</td></tr>
                            <tr><td>3.交货检验时须提供交货单，交货信息满足本公司需求，如质量检验不合格则拒收；</td></tr>
                            <tr><td>4.备注：</td></tr>
                            <tr><td></td></tr>
                            <tr><td>供应商收到订单后请确认签字并回传，谢谢！</td></tr>
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="print-page-footer">
            <table class="print-page-footer-table">
                <tr>
                    <td class="print-page-footer-table-title">采购工程师:</td>
                    <td class="print-page-footer-table-content">XXX</td>
                    <td class="print-page-footer-table-title">供应商:</td>
                    <td class="print-page-footer-table-content">宁波富邦电池有限公司</td>
                </tr>
                <tr>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td class="print-page-footer-table-content">2015-06-24</td>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td class="print-page-footer-table-content">2015-06-24</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="print-page-A4">
    <div class="print-page">
        <div class="print-page-header">
            <div class="purchase-order-header-logo">
                <img class="purchase-order-header-logo-img" src="@Url.Content("~/Content/sonluk-ui/images/logo-square.png")" alt="" />
            </div>
            <div class="purchase-order-header-title">
                <div class="print-page-header-report-name">采&nbsp;购&nbsp;订&nbsp;单</div>
            </div>
            <div class="purchase-order-header-table-company">
                <table>
                    <tr>
                        <td class="doc-type">编号：CG4010A</td>
                    </tr>
                    <tr>
                        <td>中银（宁波）电池有限公司</td>
                    </tr>
                    <tr>
                        <td>中国浙江宁波市高新区星光路128号</td>
                    </tr>
                    <tr>
                        <td>联系电话：0574-87916666</td>
                    </tr>
                    <tr>
                        <td>邮政编码：315040</td>
                    </tr>
                </table>
            </div>
            <div class="purchase-order-header-table-vendor">
                <table>
                    <tr>
                        <td class="purchase-order-header-table-vendor-title">订单编号：</td>
                        <td>4000024322</td>
                    </tr>
                    <tr>
                        <td>供应商：</td>
                        <td>8002/宁波富邦电池有限公司</td>
                    </tr>
                    <tr>
                        <td>联系人：</td>
                        <td>周XX</td>
                    </tr>
                    <tr>
                        <td>联系方式：</td>
                        <td>18605741234</td>
                    </tr>
                    <tr>
                        <td>订单币种：</td>
                        <td>CNY</td>
                    </tr>
                </table>
            </div>
            <div class="purchase-order-header-table-purchaser">
                <table>
                    <tr>
                        <td class="purchase-order-header-table-purchaser-title">订单日期：</td>
                        <td>2015.06.24</td>
                    </tr>
                    <tr>
                        <td>采购员：</td>
                        <td>XXX</td>
                    </tr>
                    <tr>
                        <td>联系方式：</td>
                        <td>18605741234</td>
                    </tr>
                    <tr>
                        <td>交货地点：</td>
                        <td>宁波市高新区星光路128号</td>
                    </tr>
                    <tr>
                        <td>页码：</td>
                        <td>第1页/共1页</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="print-page-content">
            <table class="print-page-content-table">
                <tr>
                    <td class="print-page-content-table-header purchase-order-sn">序号</td>
                    <td class="print-page-content-table-header purchase-order-material">物料编号</td>
                    <td class="print-page-content-table-header">物料描述</td>
                    <td class="print-page-content-table-header purchase-order-uom">单位</td>
                    <td class="print-page-content-table-header purchase-order-quantity">数量</td>
                    <td class="print-page-content-table-header purchase-order-quantity">含税单价</td>
                    <td class="print-page-content-table-header purchase-order-quantity">不含税金额</td>
                    <td class="print-page-content-table-header purchase-order-quantity">税额</td>
                    <td class="print-page-content-table-header purchase-order-date">交货日期</td>
                    <td class="print-page-content-table-header purchase-order-remark">备注</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>4000000040</td>
                    <td class="print-page-text-align-left">战术手电</td>
                    <td>EA</td>
                    <td class="print-page-text-align-right">12920000</td>
                    <td class="print-page-text-align-right">608.400000</td>
                    <td class="print-page-text-align-right">52,000.00</td>
                    <td class="print-page-text-align-right">8.840.00</td>
                    <td>2011-11-30</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="10">
                        <table class="purchase-order-request">
                            <tr><td>作业单：/要求：</td></tr>
                            <tr><td></td></tr>
                            <tr><td></td></tr>
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="print-page-text-align-left">
                        不含税金额合计：
                    </td>
                    <td colspan="8">
                        52,000.00
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="print-page-text-align-left">
                        税额合计：
                    </td>
                    <td colspan="8">8.840.00</td>
                </tr>
                <tr>
                    <td colspan="2" class="print-page-text-align-left">
                        总计：
                    </td>
                    <td colspan="8">60,840.00</td>
                </tr>
                <tr>
                    <td colspan="10">
                        <table class="purchase-order-notice">
                            <tr><td></td></tr>
                            <tr><td>1.以上订单内容参照相关合同或协议执行；</td></tr>
                            <tr><td>2.请按交货日期及时交货，若无法及时交货请提前与本公司取得联系，否则造成损失由供方承担；</td></tr>
                            <tr><td>3.交货检验时须提供交货单，交货信息满足本公司需求，如质量检验不合格则拒收；</td></tr>
                            <tr><td>4.备注：</td></tr>
                            <tr><td></td></tr>
                            <tr><td>供应商收到订单后请确认签字并回传，谢谢！</td></tr>
                            <tr><td></td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="print-page-footer">
            <table class="print-page-footer-table">
                <tr>
                    <td class="print-page-footer-table-title">采购工程师:</td>
                    <td class="print-page-footer-table-content">XXX</td>
                    <td class="print-page-footer-table-title">供应商:</td>
                    <td class="print-page-footer-table-content">宁波富邦电池有限公司</td>
                </tr>
                <tr>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td class="print-page-footer-table-content">2015-06-24</td>
                    <td class="print-page-footer-table-title">日期:</td>
                    <td class="print-page-footer-table-content">2015-06-24</td>
                </tr>
            </table>
        </div>
    </div>
</div>
