@using Sonluk.UI.Model.CRM.QYJS_FILEService;
@{
    ViewBag.Title = "LoadMenuMX";
    CRM_QYJS_FILE[] data = ViewBag.data;
}



<div class="layui-form">
    <div class="layui-form-item">
        @for (int i = 0; i < data.Length; i++)
        {
            <div style="text-align:center;width:100%;">
                <br /><br />

                <img src="@data[i].ML" style="width:100%;" />


            </div>

        }
    </div>
</div>


