@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "待办事项";
}

<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>拜访管理</a>
    <a><cite>待办事项</cite></a>
</span>
<br />
<br />


<div class="layui-form">
    <div id="div_total">
        <table id="tb_total" lay-filter="tb_total"></table>
    </div>
    
    <div id="div_mingxi" hidden>
        <button id="btn_back" class="layui-btn">返回</button>
        <table id="tb_mingxi" lay-filter="tb_mingxi"></table>
    </div>
</div>


<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/layui2.2.5/layui.all.js"></script>



@section scripts {
    @Scripts.Render("~/bundles/CRM/BaiFang/Backlog")
}
