@{
    ViewBag.Title = "拜访计划指派";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}
@using Sonluk.PC.Areas.CRM.Models;
@model Sonluk.PC.Areas.CRM.Models.BF_Plan_csh

<div id="div_add_khlb" class="layui-form">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="btn_find">查询</button>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">拜访人员：</label>
            <div class="layui-input-inline">
                <select id="in_bfrz_bfry" lay-filter="required" lay-search="">
                    <option value="0" selected>请选择</option>
                    @for (int i = 0; i < Model.STAFF.LongLength; i++)
                    {
                        <option value="@Model.STAFF[i].STAFFID">@Model.STAFF[i].DEPIDDES-@Model.STAFF[i].STAFFNAME</option>
                    }
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">工号：</label>
            <div class="layui-input-inline">
                <input type="text" name="in_bfrz_gh" autocomplete="off" class="layui-input" id="in_bfrz_gh">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">姓名：</label>
            <div class="layui-input-inline">
                <input type="text" name="in_bfrz_xm" autocomplete="off" class="layui-input" id="in_bfrz_xm">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">CRMID：</label>
            <div class="layui-input-inline">
                <input type="text" name="in_bfrz_crmid" autocomplete="off" class="layui-input" id="in_bfrz_crmid">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">客户名称：</label>
            <div class="layui-input-inline">
                <input type="text" name="in_bfrz_khmc" autocomplete="off" class="layui-input" id="in_bfrz_khmc">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">客户类型：</label>
            <div class="layui-input-inline">
                <select id="in_bfrz_khlx" lay-filter="in_bfrz_khlx">
                    <option value="0" selected="selected">请选择</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开始日期：</label>
            <div class="layui-input-inline">
                <input type="text" name="date" id="in_bfrz_kssj" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束日期：</label>
            <div class="layui-input-inline">
                <input type="text" name="date" id="in_bfrz_jssj" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">拜访类型：</label>
            <div class="layui-input-inline">
                <select id="in_bfrz_bflx" lay-filter="in_kh_khfz">
                    <option value="0" selected="selected">请选择</option>
                    <option value="1">日常拜访</option>
                    <option value="2">任务指派</option>
                    <option value="3">新客户开发</option>
                    <option value="4">客户日常检查</option>
                    <option value="5">指定下次拜访</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-inline">
                <select id="in_bfrz_zt" lay-filter="in_bfrz_zt">
                    <option value="0" selected="selected">请选择</option>
                    <option value="1">未完成</option>
                    <option value="2">完成</option>
                </select>
            </div>
        </div>
    </div>

    <table class="layui-hide" id="tb_bfrz" lay-filter="tb_bfrz"></table>
    <script type="text/html" id="bar_bfrz">
        <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>

@section scripts {
    @Scripts.Render("~/bundles/CRM/BaiFang/BaoBiao")
}