@{
    ViewBag.Title = "拜访登记";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";

    string netpath = System.Configuration.ConfigurationManager.AppSettings["NETPATH"];
}

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="baifang">拜访登记</a>
</script>
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/html" id="KHtype_Tpl">
    {{# if(d.KHLX == 1){ }}
    经销商
    {{# }else if(d.KHLX == 2){ }}
    电商
    {{# }else if(d.KHLX == 3 && d.MCSX == 1){ }}
    直营卖场系统
    {{# }else if(d.KHLX == 3 && d.MCSX == 2){ }}
    直营卖场门店
    {{# }else if(d.KHLX == 4){ }}
    B2B
    {{# }else if(d.KHLX == 5){ }}
    网点终端
    {{# }else if(d.KHLX == 6){ }}
    批发
    {{# }else if(d.KHLX == 7 && d.MCSX == 1){ }}
    LKA系统
    {{# }else if(d.KHLX == 7 && d.MCSX == 2){ }}
    LKA门店
    {{# }else { }}

    {{# } }}
</script>



<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>客户管理</a>
    <a><cite>拜访登记</cite></a>
</span>
<br />
<br />
<div id="from1" class="layui-form layui-form-pane">
    <div id="div1" class="layui-form">

        <div class="layui-form-item">
            <button id="btn_cx" class="layui-btn" lay-submit lay-filter="formDemo">查询</button>

            <button id="btn_new" class="layui-btn">新客户拜访</button>

        </div>


        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">查询条件</h2>
                <div id="div_select_tiaojian" class="layui-colla-content layui-show">


                    <div class="layui-form-item">

                        <label class="layui-form-label">客户类型：</label>
                        <div class="layui-input-inline">
                            <select id="KHtype" lay-filter="KHtype">
                                <option value="0" selected="selected">请选择</option>
                            </select>
                        </div>

                        <label class="layui-form-label">客户编号：</label>
                        <div class="layui-input-inline">
                            <input id="KH_ID" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>

                        <label class="layui-form-label">客户名称：</label>
                        <div class="layui-input-inline">
                            <input id="KH_name" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">SAP编号：</label>
                        <div class="layui-input-inline">
                            <input id="sap" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>


                    </div>



                </div>
            </div>
        </div>

        <table id="result" lay-filter="result"></table>
        <table id="123" lay-filter="123"></table>

    </div>






</div>


<input id="netpath" hidden />

@*<script>
        $(document).ready(function () {
            $("#reset").trigger('click');
        });
    </script>*@



<script src="~/Scripts/layui2.2.5/layui.all.js"></script>





<script src="~/Scripts/jquery-1.8.2.js"></script>


<script>
    $(document).ready(function () {
        $("#netpath").val("@netpath");
        $("#daochu").click(function () {
            //新增区域信息
            return false;
        });
    });
</script>


@section scripts {
    @Scripts.Render("~/bundles/CRM/BaiFang/Select_KeHu_ToBaiFang")
}
