@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "新建员工";
}

<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>员工管理</a>
    <a><cite>新建员工</cite></a>
</span>
<br />
<br />

<form id="from1" class="layui-form layui-form-pane">
    <div id="div8" class="layui-form">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <button id="btn_save_staff" class="layui-btn" lay-submit="">保存</button>
            </div>
        </div>
    </div>

    <div id="div1" class="layui-form">
   
        <div class="layui-form-item">
            <label class="layui-form-label" style="text-align:right;">人员类型：</label>
            <div class="layui-input-inline" style="width:150px;">
                <select id="staff_type" lay-filter="staff_type">
                    <option value="0" selected="selected"></option>
                </select>
            </div>

            <label class="layui-form-label" style="text-align:right;">姓名：</label>
            <div class="layui-input-inline" style="width:100px;">
                <input id="name" type="text" name="title" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="text-align:right;">工号：</label>
            <div class="layui-input-inline" style="width:100px;">
                <input id="workID" type="text" name="title" placeholder="必填" autocomplete="off" class="layui-input">
            </div>


            <label class="layui-form-label" style="width:150px;text-align:right;">部门：</label>
            <div class="layui-input-inline" style="width:100px;">
                <select id="department" lay-filter="sex">
                    <option value="0" selected="selected"></option>
                </select>
            </div>

        </div>
        @* 第二行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="text-align:right;">籍贯：</label>
            <div class="layui-input-inline" style="width:150px;">
                <input id="jiguan" type="text" name="title" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

           
            <label class="layui-form-label" style="text-align:right;">性别：</label>
            <div class="layui-input-inline" style="width:100px;">
                <select id="sex" lay-filter="sex">
                    <option value="0" selected="selected"></option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>

            <label class="layui-form-label" style="text-align:right;">学历：</label>
            <div class="layui-input-inline" style="width:100px;">
                <select id="xueli" lay-filter="xueli">
                    <option value="0" selected="selected"></option>
                </select>
            </div>

            <label class="layui-form-label" style="width:150px;text-align:right;">婚姻状况：</label>
            <div class="layui-input-inline" style="width:100px;">
                <select id="marry" lay-filter="marry">
                    <option value="0" selected="selected"></option>
                    <option value="1">未婚</option>
                    <option value="2">已婚</option>
                </select>
            </div>

        </div>

        @* 第三行 *@
        <div class="layui-form-item">

            <label class="layui-form-label" style="text-align:right;">邮箱地址：</label>
            <div class="layui-input-inline" style="width:150px;">
                <input id="email" type="text" name="title" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="text-align:right;">联系电话：</label>
            <div class="layui-input-inline" style="width:100px;">
                <input id="tel" type="text" name="title" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="text-align:right;">入职时间：</label>
            <div class="layui-input-inline" style="width:100px;">
                <input id="entry_time" type="text" name="title" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:150px;text-align:right;">调入民品部时间：</label>
            <div class="layui-input-inline" style="width:100px;">
                <input id="entryMPB_time" type="text" name="title" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
            
    </div>

        @* 第四行 *@
        <div class="layui-form-item">

            <label class="layui-form-label" style="text-align:right;">身份证号：</label>
            <div class="layui-input-inline" style="width:370px;">
                <input id="IDcard" type="text" name="title" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="text-align:right;">生日：</label>
            <div class="layui-input-inline" style="width:100px;">
                <input id="birthday" type="text" name="title" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width:150px;text-align:right;">政治面貌：</label>
            <div class="layui-input-inline" style="width:100px;">
                <select id="zzmm" lay-filter="zzmm">
                    <option value="0" selected="selected"></option>
                </select>
            </div>
          
        </div>
     
        @* 第五行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="text-align:right;">常住地址：</label>
            <div class="layui-input-inline" style="width:370px;">
                <input id="address" type="text" name="title" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="text-align:right;">职位：</label>
            <div class="layui-input-inline" style="width:100px;">
                <select id="job" lay-filter="job">
                    <option value="0" selected="selected"></option>
                </select>
            </div>

            <label class="layui-form-label" style="width:150px;text-align:right;">岗位：</label>
            <div class="layui-input-inline" style="width:100px;">
                <select id="post" lay-filter="post">
                    <option value="0" selected="selected"></option>
                </select>
            </div>
        </div>

      @* 第六行 *@
        <div class="layui-form-item">

            <label class="layui-form-label" style="text-align:right;">毕业院校：</label>
            <div class="layui-input-inline" style="width:370px;">
                <input id="byyx" type="text" name="title" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="text-align:right;">班次：</label>
            <div class="layui-input-inline" style="width:100px;">
                <select id="banci" lay-filter="banci">
                    <option value="0" selected="selected"></option>           
                </select>
            </div>
            <label class="layui-form-label" style="width:150px;text-align:right;">日历版本：</label>
            <div class="layui-input-inline" style="width:100px;">
                <select id="rili" lay-filter="rili">
                    <option value="0" selected="selected"></option>
                </select>
            </div>


        </div>


        @* 第七行 *@
        <div class="layui-form-item">

            <label class="layui-form-label" style="text-align:right;">工作内容：</label>
            <div class="layui-input-inline" style="width:850px;">
                <input id="work_content" type="text" name="title" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

        </div>
        @* 第九行 *@
        <div class="layui-form-item" style="width:920px;">
            <label class="layui-form-label" style="text-align:right;">备注：</label>
            <div class="layui-input-inline" style="width:590px;">
                <textarea id="remark" name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>

      
    </div>


</form>


<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/layui2.2.5/layui.all.js"></script>

@section scripts {
    @Scripts.Render("~/bundles/CRM/Staff/Insert")
}


