<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Sonluk-20150306151503;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Sonluk-20150306151503.mdf"/>
  </connectionStrings>
  <appSettings>
    <add key="ID" value="" />
    <add key="UserVersion" value="2.8.12" />
    <add key="Version" value="0.2.8.12" />
    <add key="ReleaseDate" value="2016-04-14" />
    <!--<add key="RemoteAddress" value="http://10.1.22.2/API/"/>-->
    <add key="RemoteAddress" value="http://localhost:20597/"/>
    <add key="LogoAddress" value="~/Content/sonluk-ui/images/logoDev.png"/>
    <add key="TempletBackgroundPath" value="http://192.168.8.207/API/"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />

    <add key="SSOURLIN" value="http://10.1.22.2/SonlukSSO" />
    <add key="SSOURLOUT" value="http://dev.sonluk.com.cn/SonlukSSO" />

    <add key="SSOURLDROPOUTIN" value="http://10.1.22.2/SonlukSSO/SSO/Public/Password"/>
    <add key="SSOURLDROPOUTOUT" value="http://dev.sonluk.com.cn/SonlukSSO/SSO/Public/Password"/>
    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AccessSoap"/>
        <binding name="PurchaseOrderSoap" maxReceivedMessageSize="2147483647" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"/>
        <binding name="ScheduleRequisitionSoap" maxReceivedMessageSize="2147483647" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"/>
        <binding name="SalesOrderSoap" maxReceivedMessageSize="2147483647" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"/>
        <binding name="EnqueueSoap" maxReceivedMessageSize="2147483647"/>
        <binding name="UserSoap" />
        <binding name="LayoutSoap" />
        <binding name="VersionSoap" />
        <binding name="PendingSoap" maxReceivedMessageSize="2147483647"/>
        <binding name="FlowSoap" maxReceivedMessageSize="2147483647"/>
        <binding name="LogSoap" maxReceivedMessageSize="2147483647"/>
        <binding name="TableSoap" />
        <binding name="OutboundDeliverySoap" maxReceivedMessageSize="2147483647" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"/>
        <binding name="ConsignmentNoteSoap"  maxReceivedMessageSize="2147483647" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"/>
        <binding name="CarrierSoap"  />
        <binding name="SenderSoap" />
        <binding name="CitySoap" />
        <binding name="RouteSoap" />
        <binding name="PriceSoap" />
        <binding name="ReceiverSoap" maxReceivedMessageSize="2147483647"/>
        <binding name="DestinationSoap" />
        <binding name="GoodsSoap" />
        <binding name="UnitSoap" />
        <binding name="PackageSoap" />
        <binding name="FeedbackSoap"   maxReceivedMessageSize="2147483647"/>
        <binding name="ComplaintSoap"   maxReceivedMessageSize="2147483647"/>
        <binding name="BarCodeSoap" maxReceivedMessageSize="2147483647" />
        <binding name="UserTokenSoap"/>
        <binding name="CRM_LoginSoap" maxReceivedMessageSize="2147483647" />
        <binding name="WS_SSO_TOKEN_TOKENIDINFOSoap" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647"/>
        <binding name="SY_GCSoap" maxReceivedMessageSize="2147483647" />        
      </basicHttpBinding>
      <customBinding>
        <binding name="AccessSoap12" >
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="PurchaseOrderSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="ScheduleRequisitionSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SalesOrderSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="EnqueueSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="UserSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LayoutSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="VersionSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="PendingSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="FlowSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="LogSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="TableSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="OutboundDeliverySoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ConsignmentNoteSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CarrierSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SenderSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CitySoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="RouteSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="PriceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ReceiverSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DestinationSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="GoodsSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="UnitSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="PackageSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="FeedbackSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ComplaintSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="BarCodeSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="UserTokenSoap12" >
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="WS_SSO_TOKEN_TOKENIDINFOSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CRM_LoginSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="SY_GCSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.223/API/MES/SY_GC.asmx" binding="basicHttpBinding"
              bindingConfiguration="SY_GCSoap" contract="MES.SY_GCService.SY_GCSoap"
              name="SY_GCSoap" />
      <endpoint address="http://192.168.0.223/API/MES/SY_GC.asmx" binding="customBinding"
          bindingConfiguration="SY_GCSoap12" contract="MES.SY_GCService.SY_GCSoap"
          name="SY_GCSoap12" />
      <endpoint address="http://192.168.0.132/API/Account/Access.asmx" binding="basicHttpBinding" bindingConfiguration="AccessSoap" contract="Account.AccessService.AccessSoap" name="AccessSoap"/>
      <endpoint address="http://192.168.0.132/API/Account/Access.asmx" binding="customBinding" bindingConfiguration="AccessSoap12" contract="Account.AccessService.AccessSoap" name="AccessSoap12"/>
      <endpoint address="http://192.168.0.132/API/MM/PurchaseOrder.asmx" binding="basicHttpBinding" bindingConfiguration="PurchaseOrderSoap" contract="MM.PurchaseOrderService.PurchaseOrderSoap" name="PurchaseOrderSoap"/>
      <endpoint address="http://192.168.0.132/API/MM/PurchaseOrder.asmx" binding="customBinding" bindingConfiguration="PurchaseOrderSoap12" contract="MM.PurchaseOrderService.PurchaseOrderSoap" name="PurchaseOrderSoap12"/>
      <endpoint address="http://192.168.0.132/API/MM/ScheduleRequisition.asmx" binding="basicHttpBinding" bindingConfiguration="ScheduleRequisitionSoap" contract="MM.ScheduleRequisitionService.ScheduleRequisitionSoap" name="ScheduleRequisitionSoap" />
      <endpoint address="http://192.168.0.132/API/MM/ScheduleRequisition.asmx" binding="customBinding" bindingConfiguration="ScheduleRequisitionSoap12" contract="MM.ScheduleRequisitionService.ScheduleRequisitionSoap" name="ScheduleRequisitionSoap12" />
      <endpoint address="http://192.168.0.132/API/SD/SalesOrder.asmx" binding="basicHttpBinding" bindingConfiguration="SalesOrderSoap" contract="SD.SalesOrderService.SalesOrderSoap" name="SalesOrderSoap"/>
      <endpoint address="http://192.168.0.132/API/SD/SalesOrder.asmx" binding="customBinding" bindingConfiguration="SalesOrderSoap12" contract="SD.SalesOrderService.SalesOrderSoap" name="SalesOrderSoap12"/>
      <endpoint address="http://192.168.0.132/API/BC/Enqueue.asmx" binding="basicHttpBinding" bindingConfiguration="EnqueueSoap" contract="BC.EnqueueService.EnqueueSoap" name="EnqueueSoap"/>
      <endpoint address="http://192.168.0.132/API/BC/Enqueue.asmx" binding="customBinding" bindingConfiguration="EnqueueSoap12" contract="BC.EnqueueService.EnqueueSoap" name="EnqueueSoap12"/>
      <endpoint address="http://192.168.0.132/API/BC/User.asmx" binding="basicHttpBinding" bindingConfiguration="UserSoap" contract="BC.UserService.UserSoap" name="UserSoap" />
      <endpoint address="http://192.168.0.132/API/BC/User.asmx" binding="customBinding" bindingConfiguration="UserSoap12" contract="BC.UserService.UserSoap" name="UserSoap12" />
      <endpoint address="http://192.168.0.132/API/Print/Template.asmx" binding="basicHttpBinding" bindingConfiguration="LayoutSoap" contract="Print.LayoutService.LayoutSoap" name="LayoutSoap" />
      <endpoint address="http://192.168.0.132/API/Print/Template.asmx" binding="customBinding" bindingConfiguration="LayoutSoap12" contract="Print.LayoutService.LayoutSoap" name="LayoutSoap12" />
      <endpoint address="http://192.168.0.132/API/Setting/Version.asmx" binding="basicHttpBinding" bindingConfiguration="VersionSoap" contract="Setting.VersionService.VersionSoap" name="VersionSoap" />
      <endpoint address="http://192.168.0.132/API/Setting/Version.asmx" binding="customBinding" bindingConfiguration="VersionSoap12" contract="Setting.VersionService.Versionoap" name="VersionSoap12" />
      <endpoint address="http://192.168.0.132/API/OA/Pending.asmx" binding="basicHttpBinding" bindingConfiguration="PendingSoap" contract="OA.PendingService.PendingSoap" name="PendingSoap" />
      <endpoint address="http://192.168.0.132/API/OA/Pending.asmx" binding="customBinding" bindingConfiguration="PendingSoap12" contract="OA.PendingService.PendingSoap" name="PendingSoap12" />
      <endpoint address="http://192.168.0.132/API/DEV/Log.asmx" binding="basicHttpBinding" bindingConfiguration="LogSoap" contract="DEV.LogService.LogSoap" name="LogSoap" />
      <endpoint address="http://192.168.0.132/API/DEV/Log.asmx" binding="customBinding" bindingConfiguration="LogSoap12" contract="DEV.LogService.LogSoap" name="LogSoap12" />
      <endpoint address="http://192.168.0.132/API/DEV/TABLE.asmx" binding="basicHttpBinding" bindingConfiguration="TableSoap" contract="DEV.TableService.TableSoap" name="TableSoap" />
      <endpoint address="http://192.168.0.132/API/DEV/TABLE.asmx" binding="customBinding" bindingConfiguration="TableSoap12" contract="DEV.TableService.TableSoap" name="TableSoap12" />
      <endpoint address="http://192.168.0.132/API/OA/Flow.asmx" binding="basicHttpBinding" bindingConfiguration="FlowSoap" contract="OA.FlowService.FlowSoap" name="FlowSoap" />
      <endpoint address="http://192.168.0.132/API/OA/Flow.asmx" binding="customBinding" bindingConfiguration="FlowSoap12" contract="OA.FlowService.FlowSoap" name="FlowSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/OutboundDelivery.asmx" binding="basicHttpBinding" bindingConfiguration="OutboundDeliverySoap" contract="LE.OutboundDeliveryService.OutboundDeliverySoap" name="OutboundDeliverySoap" />
      <endpoint address="http://192.168.0.132/API/LE/OutboundDelivery.asmx" binding="customBinding" bindingConfiguration="OutboundDeliverySoap12" contract="LE.OutboundDeliveryService.OutboundDeliverySoap" name="OutboundDeliverySoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/ConsignmentNote.asmx" binding="basicHttpBinding" bindingConfiguration="ConsignmentNoteSoap" contract="LE.TRA.ConsignmentNoteService.ConsignmentNoteSoap" name="ConsignmentNoteSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/ConsignmentNote.asmx" binding="customBinding" bindingConfiguration="ConsignmentNoteSoap12" contract="LE.TRA.ConsignmentNoteService.ConsignmentNoteSoap" name="ConsignmentNoteSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Carrier.asmx" binding="basicHttpBinding" bindingConfiguration="CarrierSoap" contract="LE.TRA.CarrierService.CarrierSoap" name="CarrierSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Carrier.asmx" binding="customBinding" bindingConfiguration="CarrierSoap12" contract="LE.TRA.CarrierService.CarrierSoap" name="CarrierSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Sender.asmx" binding="basicHttpBinding" bindingConfiguration="SenderSoap" contract="LE.TRA.SenderService.SenderSoap" name="SenderSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Sender.asmx" binding="customBinding" bindingConfiguration="SenderSoap12" contract="LE.TRA.SenderService.SenderSoap" name="SenderSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/City.asmx" binding="basicHttpBinding" bindingConfiguration="CitySoap" contract="LE.TRA.CityService.CitySoap" name="CitySoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/City.asmx" binding="customBinding" bindingConfiguration="CitySoap12" contract="LE.TRA.CityService.CitySoap" name="CitySoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Route.asmx" binding="basicHttpBinding" bindingConfiguration="RouteSoap" contract="LE.TRA.RouteService.RouteSoap" name="RouteSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Route.asmx" binding="customBinding" bindingConfiguration="RouteSoap12" contract="LE.TRA.RouteService.RouteSoap" name="RouteSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Price.asmx" binding="basicHttpBinding" bindingConfiguration="PriceSoap" contract="LE.TRA.PriceService.PriceSoap" name="PriceSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Price.asmx" binding="customBinding" bindingConfiguration="PriceSoap12" contract="LE.TRA.PriceService.PriceSoap" name="PriceSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Receiver.asmx" binding="basicHttpBinding" bindingConfiguration="ReceiverSoap" contract="LE.TRA.ReceiverService.ReceiverSoap" name="ReceiverSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Receiver.asmx" binding="customBinding" bindingConfiguration="ReceiverSoap12" contract="LE.TRA.ReceiverService.ReceiverSoap" name="ReceiverSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Destination.asmx" binding="basicHttpBinding" bindingConfiguration="DestinationSoap" contract="LE.TRA.DestinationService.DestinationSoap" name="DestinationSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Destination.asmx" binding="customBinding" bindingConfiguration="DestinationSoap12" contract="LE.TRA.DestinationService.DestinationSoap" name="DestinationSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Goods.asmx" binding="basicHttpBinding" bindingConfiguration="GoodsSoap" contract="LE.TRA.GoodsService.GoodsSoap" name="GoodsSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Goods.asmx" binding="customBinding" bindingConfiguration="GoodsSoap12" contract="LE.TRA.GoodsService.GoodsSoap" name="GoodsSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Unit.asmx" binding="basicHttpBinding" bindingConfiguration="UnitSoap" contract="LE.TRA.UnitService.UnitSoap" name="UnitSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Unit.asmx" binding="customBinding" bindingConfiguration="UnitSoap12" contract="LE.TRA.UnitService.UnitSoap" name="UnitSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Package.asmx" binding="basicHttpBinding" bindingConfiguration="PackageSoap" contract="LE.TRA.PackageService.PackageSoap" name="PackageSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Package.asmx" binding="customBinding" bindingConfiguration="PackageSoap12" contract="LE.TRA.PackageService.PackageSoap" name="PackageSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Feedback.asmx" binding="basicHttpBinding" bindingConfiguration="FeedbackSoap" contract="LE.TRA.FeedbackService.FeedbackSoap" name="FeedbackSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Feedback.asmx" binding="customBinding" bindingConfiguration="FeedbackSoap12" contract="LE.TRA.FeedbackService.FeedbackSoap" name="FeedbackSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Complaint.asmx" binding="basicHttpBinding" bindingConfiguration="ComplaintSoap" contract="LE.TRA.ComplaintService.ComplaintSoap" name="ComplaintSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Complaint.asmx" binding="customBinding" bindingConfiguration="ComplaintSoap12" contract="LE.TRA.ComplaintService.ComplaintSoap" name="ComplaintSoap12" />
      <endpoint address="http://192.168.0.218/API/BC/BarCode.asmx" binding="basicHttpBinding" bindingConfiguration="BarCodeSoap" contract="BC.BarCodeService.BarCodeSoap" name="BarCodeSoap" />
      <endpoint address="http://192.168.0.218/API/BC/BarCode.asmx" binding="customBinding" bindingConfiguration="BarCodeSoap12" contract="BC.BarCodeService.BarCodeSoap" name="BarCodeSoap12" />
      <endpoint address="http://192.168.0.17/API/SSO/UserToken.asmx" binding="basicHttpBinding" bindingConfiguration="UserTokenSoap" contract="SSO.UserService.UserTokenSoap" name="UserTokenSoap"/>
      <endpoint address="http://192.168.0.17/API/SSO/UserToken.asmx" binding="customBinding" bindingConfiguration="UserTokenSoap12" contract="SSO.UserService.UserTokenSoap" name="UserTokenSoap12"/>
      <endpoint address="http://192.168.0.223/API/SSO/WS_SSO_TOKEN_TOKENIDINFO.asmx"
       binding="basicHttpBinding" bindingConfiguration="WS_SSO_TOKEN_TOKENIDINFOSoap"
       contract="SSO.TOKEN_TOKENIDINFOService.WS_SSO_TOKEN_TOKENIDINFOSoap"
       name="WS_SSO_TOKEN_TOKENIDINFOSoap" />
      <endpoint address="http://192.168.0.223/API/SSO/WS_SSO_TOKEN_TOKENIDINFO.asmx"
     binding="customBinding" bindingConfiguration="WS_SSO_TOKEN_TOKENIDINFOSoap12"
     contract="SSO.TOKEN_TOKENIDINFOService.WS_SSO_TOKEN_TOKENIDINFOSoap"
     name="WS_SSO_TOKEN_TOKENIDINFOSoap12" />

      <endpoint address="http://192.168.0.16/API/CRM/CRM_Login.asmx"
        binding="basicHttpBinding" bindingConfiguration="CRM_LoginSoap"
        contract="CRM.CRM_LoginService.CRM_LoginSoap" name="CRM_LoginSoap" />
      <endpoint address="http://192.168.0.16/API/CRM/CRM_Login.asmx"
          binding="customBinding" bindingConfiguration="CRM_LoginSoap12"
          contract="CRM.CRM_LoginService.CRM_LoginSoap" name="CRM_LoginSoap12" />
    </client>
  </system.serviceModel>
  <system.web>
    <httpRuntime maxRequestLength="102400"  executionTimeout="3600"/>
    <compilation targetFramework="4.0" debug="true"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Access/SignIn" timeout="2880"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="60">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>