.deliv-date {
    float:left;
    border:none;
    width:64px;
    height:15px;   
    line-height:15px;
    margin:0; 
    padding:0;
    background-color:transparent;
    overflow:hidden;
}
.deliv-date:focus {
    outline: 0;

}

.update-success {
    background-color:#2ECC71;
    color:#fff;

}

.update-failure {
    background-color:#E74C3C;
    color:#fff;

}

