
.deliv-qty {
    float:left;
    border:none;
    width:64px;
    height:15px;   
    line-height:15px;
    margin:0; 
    padding:0;
    background-color:transparent;
    text-align:right;
    overflow:hidden;
}
.deliv-qty:focus {
    outline: 0;

}
