.schedule-requisition {
    display:none;
}

.sonluk-table-control {
    display:block;
}

.sonluk-table-control-text {
    width:80px;
}

.deliv-qty {
    width:100px;
    text-align:right;
}

.deliv-date {
    width:64px;

}

.deliv-dest {
    width:80px;
}

.changed {

}

