@using Sonluk.UI.Model.CRM.HG_DICTService;
@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "消息类型";

    CRM_HG_DICT[] PAYWAY = ViewBag.PAYWAY;
    CRM_HG_DICT[] CXY = ViewBag.CXY;

}


<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>

<script type=" text/html" id="bar2">
    <a class="layui-btn layui-btn-xs" lay-event="do">确定</a>
</script>

<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/html" id="tpl_mcsx">
    {{# if(d.MCSX == 1){ }}
    系统
    {{# }else if(d.MCSX == 2){ }}
    门店
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="zhuangtai">
    {{# if(d.ISACTIVE == 10){ }}
    未提交
    {{# }else if(d.ISACTIVE == 20){ }}
    审核中
    {{# }else if(d.ISACTIVE == 30){ }}
    已审核
    {{# }else if(d.ISACTIVE == 40){ }}
    核销未提交
    {{# }else if(d.ISACTIVE == 50){ }}
    核销审核中
    {{# }else if(d.ISACTIVE == 60){ }}
    已核销
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="Tpl_fylb">
    {{# if(d.FYLB == 1){ }}
    欧尚、大润发
    {{# }else if(d.FYLB == 2){ }}
    除欧尚、大润发
    {{# }else { }}

    {{# } }}
</script>

<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>推送管理</a>
    <a><cite>消息类型</cite></a>
</span>
<br />
<br />

<div id="from1" class="layui-form">
    <div id="div1" class="layui-form">

        <div class="layui-form-item">
            <button id="btn_insert" class="layui-btn" lay-filter="formDemo">新增</button>
            <button id="btn_cx" class="layui-btn" lay-filter="formDemo">查询</button>
        </div>


        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">查询条件</h2>
                <div id="div_select_tiaojian1" class="layui-colla-content">



                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:130px;">消息类型描述：</label>
                            <div class="layui-input-inline">
                                <input id="select_name" type="text" autocomplete="off" class="layui-input">

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

        <table id="result" lay-filter="result"></table>


    </div>






</div>





<div id="div_jump" class="layui-form" hidden>

    <br />


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:130px;text-align:right;">消息类型描述：</label>
            <div class="layui-input-inline">
                <input id="name" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>


    </div>


    <table id="result_sendway" lay-filter="result_sendway"></table>



    <br />

</div>





@section scripts {
    @Scripts.Render("~/bundles/MSG/SYS/MSG_TYPE")
}
