.background-color {
    background-color: #f1f1f1;
    /*#0d7bd5;#2980b9；#34495e*/
}

.color-header {
    background-color: #060d08;
    /*background-color: #2a2a2a;*/
    color: #fff;
}

.color-nav-bar {
    background-color: #f3f3f3;
}

/*.page {
    background-color: #cfcfcf;
}

.panel-search {
    background-color: #fff;
}

.panel-search {
    background-color: #fff;
}

.content-header {
    background-color: #fff;
}*/

.background-color-dark {
    background-color: #333;
}

.color-button {
    background-color: #2980b9;
}

    .color-button:hover {
        background-color: #3498db;
    }

.color-warning {
    background-color: #e74c3c;
}

.color-font-high-light {
    color: #e74c3c;
}

.color-error-border {
    border-color: #e74c3c;
}

.color-error-background {
    background-color: #e74c3c;
    color: #fff;
}

.color-error-background input {
    color: #fff;
}

.color-changed-background {
    color: #dd4b16;
}

.color-changed-background input {
    color: #f39c12;
}
