.root {
    margin: auto;
    width: 100%;
    height: 100%;
}

.root-title {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    text-align: left;
}

.root-title-item {
    padding-left: 10px;
    line-height: 40px;
    font-size: 20px;
}

.root-title-without-bg {
    padding-top:3px;
    padding-bottom:2px;
    width: 100%;
    height: 30px;
    text-align: left;
}

.root-title-item-without-bg {
    height: 30px;
    line-height: 30px;
    font-size: 31px;
    color: #999;
    font-family: "华文细黑";
}

.root-title-button-submit {
    float: right;
    width: auto;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    border-left: 1px solid #fff;
    cursor:pointer;
}
    .root-title-button-submit:hover {
        background: #3598db;
    }
.root-title-button {
    float: right;
    height: 40px;
    border-left: 1px solid #fff;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    cursor:pointer;
}

    .root-title-button:hover {
        background: #3598db;
    }

.root-title-button-select {
    height: 38px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    line-height: 38px;
    font-size: 20px;
    color: #FFFFFF;
    background: #3598db;
}

.root-title-button-right {
    float: right;
    height: 40px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    margin-right:100px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    cursor:pointer;
}

    .root-title-button-right:hover {
        background: #3598db;
    }

.root-title-button-right-select {
    height: 38px;
    color: #FFFFFF;
    border: 1px solid #fff;
    line-height: 38px;
    font-size: 20px;
    background: #3598db;
}




.alpha {
    width: 100%;
    border-radius: 4px;
    padding-bottom: 15px;
    /*border: 1px solid #d2d2d2;*/
}

.alpha-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.alpha-title-item {
    color: #ffffff;
    line-height: 30px;
    font-size: 15px;
    padding-left: 10px;
}
.alpha-title-button {
    width: 40px;
    height: 20px;
    margin: auto;
    margin-top: 3px;
    margin-right: 10px;
}

.beta-set {
    width: 98%;
    margin: auto;
    overflow:hidden;
}

.beta {
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
    height: auto;
}
.beta-select {
    margin-top:10px;
    margin-right:20px;
    margin-bottom:2px;
    margin-left:20px;

    width: auto;
    height: 24px;
    padding-top:2px;
    padding-right:10px;
    padding-bottom:2px;
    padding-left:10px;

    border-radius: 4px;
    line-height: 24px;
    color:#fff;
    overflow:hidden;
    cursor: pointer;
    background: #3598db;
}
.beta-selected {
    background: #1abc9c;
    color:#fff;
}


.beta-title {
    width: 100%;
    height: 24px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #2980B9;
    text-align: left;
    color: #333;
}

    .beta-title:hover {
        background-color: #3598db;
        color: #fff;
    }

.beta-title-item {
    line-height: 24px;
    padding-left: 10px;
    font-size: 13px;
}

.beta-title-item-fixed-width{

    width:200px;
    padding-left: 10px;
    line-height: 24px;   
    font-size: 13px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.beta-title-button {
    width: 40px;
    height: 20px;
    padding-right: 10px;
    margin: auto;
}

.beta-create {
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
    height: auto;
    display: none;
}
.beta-create-button {
    width: 100%;
    height: 24px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #2980B9;
    text-align: left;
    color: #333;
    cursor:pointer;
}    
.beta-create-button:hover {
        background-color: #3598db;
        color: #fff;
    }

.beta-create-title {
    width: 100%;
    height: 25px;
    text-align: left;
}

.beta-input-short {
    width: 60px;
}

.gamma-set {
    width: 100%;
    overflow: hidden;
    height: auto;
    margin: auto;
}

.gamma-max {
    width: 945px;
    height: 24px;
    float: left;
    margin-top: 2px;
    margin-left: 15px;
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    text-align: left;
    font-family: Arial;
    font-size: 13px;
    line-height: 24px;
    color: #333;
    vertical-align: bottom;
}
    .gamma-max:hover {
        background: #3598db;
        color: #fff;
        border-bottom: 1px solid #3598db;
    }
.gamma-full {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    height: auto;
}
.gamma-create-button {

    cursor:pointer;
  
}


.gamma-create {
    width: 100%;
    overflow: hidden;
    height: auto;
    display: none;
}

.gamma-create-title {
    width: 100%;
    height: 24px;
    text-align: left;
}

.gamma-title-item {
    line-height: 20px;
    padding-left: 10px;
    font-size: 16px;
}

.gamma-create-select {
    width: 100px;
}

.gamma-half {
    width: 463px;
    height: 24px;
    float: left;
    margin-top: 2px;
    margin-left: 15px;
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    text-align: left;
    font-family: arial;
    font-size: 13px;
    line-height: 24px;
    color: #666;
    vertical-align: bottom;
}

    .gamma-half:hover {
        background: #3598db;
        color: #fff;
        border-bottom: 1px solid #3598db;
    }

.gamma-half-item {
    text-align: left;
    margin-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.gamma-half-item-value {

    max-width:300px;
    text-align: left;
    margin-top: 4px;
    padding-left: 5px;
    padding-right: 8px;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gamma-half-input {
    width: 170px;
    margin-left: 10px;
}

.gamma-quarter {
    width: 230px;
    height: 24px;
    float: left;
    margin-top: 2px;
    margin-left: 10px;
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    text-align: left;
    font-family: arial;
    font-size: 13px;
    line-height: 24px;
    color: #333;
    vertical-align: bottom;
}

    .gamma-quarter:hover {
        background: #3598db;
        color: #fff;
        border-bottom: 1px solid #3598db;
    }

.gamma-quarter-item {
    text-align: left;
    margin-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
}
.gamma-quarter-item-fixed-width {
    width:110px;
    padding-left: 5px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    font-family: arial;
    font-size: 13px;
    line-height: 24px;
}
.gamma-glyph {
    padding-left: 4px;
}

.gamma-quarter-input {
    width: 160px;
}


.gamma-select {

    width: 960px;
    overflow: hidden;
    height: auto;
    margin: auto;
    margin-top:10px;
    border-top:1px solid #1abc9c;
    display:none;
}
.gamma-select-set {
    width: 960px;
    overflow: hidden;
    height: auto;
    margin: auto;
}
.gamma-select-item {
    margin-top:2px;
    margin-right:10px;
    margin-bottom:2px;
    margin-left:10px;

    width: auto;
    height: 24px;
    padding-top:2px;
    padding-right:10px;
    padding-bottom:2px;
    padding-left:10px;

    border-radius: 4px;
    line-height: 24px;
    overflow:hidden;
    cursor: pointer;
}
.gamma-select-item-select {
    background: #3598db;
    color:#fff;
}
.gamma-select-bottom {
    margin-top:5px;
    height: 24px;
}
.gamma-select-button {
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 15px;

    width: 100px;
    height: 24px;
    border-radius: 4px;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}





.delta-select {
    width: 960px;
    overflow: hidden;
    height: auto;
    margin: auto;
    margin-top:10px;
    border-top:1px solid #1abc9c;
    display:none;
}
.delta-select-set {
    width: 960px;
    overflow: hidden;
    height: auto;
    margin: auto;
}
.delta-select-item {
    margin-top:2px;
    margin-right:10px;
    margin-bottom:2px;
    margin-left:10px;

    width: auto;
    height: 24px;
    padding-top:2px;
    padding-right:10px;
    padding-bottom:2px;
    padding-left:10px;

    border-radius: 4px;
    line-height: 24px;
    overflow:hidden;
    cursor: pointer;
}
.delta-select-item-select {
    background: #3598db;
    color:#fff;
}

























.delta {
}

.epsilon {
}

.zeta {
}

.eta {
}

.theta {
}

.att-image-set {
    /*margin:1px 14px 1px 14px;*/
    width: 100%;
    height: auto;
    float: left;
    background-color: #fff;
    overflow: hidden;
}

.att-image {
    /*margin:1px 14px 1px 14px;*/
    vertical-align: middle;
    width: auto;
    height: 128px;
    float: left;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: #fff;
    line-height: 1.7;
    font-size: 13px;
    color: #000;
    vertical-align: bottom;
    cursor:pointer;
}




























.package {
    width: 980px;
    background-color: #ffffff;
    border-radius: 4px;
    padding-bottom: 15px;
}

.package-title {
    width: 980px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.package-title-item {
    color: #ffffff;
    line-height: 30px;
    font-size: 15px;
    padding-left: 10px;
}

.package-title-item-text {
    line-height: 22px;
    font-size: 15px;
    padding-left: 10px;
    border-radius: 4px;
}



.SubSolhr {
    width: 100%;
    height: 15px;
    background-color: #ffffff;
}

.mod-set {
    width: 960px;
    margin: auto;
    background-color: #FFFFFF;
}

.mod {
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
    height: auto;
}


.mod-title {
    width: 100%;
    height: 24px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #2980B9;
    text-align: left;
}

    .mod-title:hover {
        /*background: #3598db;*/
        background-color: #3598db;
        color: #fff;
    }

.mod-title-item {
    line-height: 20px;
    padding-left: 10px;
    font-size: 16px;
}

.mod-edit {
    float: right;
    width: 40px;
    height: 20px;
    padding-right: 10px;
    margin: auto;
}


.att-set {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    height: auto;
}

.AttContentOF {
    width: 100%;
    height: 88px;
    background-color: #FFFFFF;
    overflow-y: scroll;
}

.att {
    /*margin:1px 14px 1px 14px;*/
    width: 463px;
    height: 24px;
    float: left;
    margin-left: 15px;
    margin-top: 2px;
    background-color: #fff;
    border: 1px solid #fff;
    border-bottom: 1px solid #2980B9;
    text-align: left;
    line-height: 1.7;
    font-size: 13px;
    color: #000;
    vertical-align: bottom;
}


.att:hover {
    /*margin:1px 14px 1px 14px;*/
    background: #3598db;
    color: #fff;
    border: 1px solid #3598db;
    border-left: 1px solid #fff;
}

.att-sn {
    float: left;
    margin-top: 4px;
    padding-left: 5px;
    text-align: left;
}

.att-title {
    float: left;
    text-align: left;
    margin-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
}

.att-value {
    float: right;
    text-align: right;
    margin-top: 4px;
    padding-right: 10px;
}



.package-title-mod-new {
    float: right;
    width: 40px;
    height: 20px;
    margin: auto;
    margin-top: 2px;
    margin-right: 10px;
}

.add-att {
    float: right;
    width: 40px;
    height: 20px;
    margin: auto;
}

.del-att {
    float: right;
    width: 40px;
    height: 20px;
    padding-right: 10px;
    margin: auto;
}


.mod-edit {
    float: right;
    width: 40px;
    height: 20px;
    margin: auto;
}

.att-edit {
    float: right;
    width: 40px;
    height: 20px;
    margin: auto;
}

.att-values-edit {
    float: right;
    width: 40px;
    height: 20px;
    margin: auto;
}


.glyph {
    padding-right: 10px;
    padding-left: 10px;
}

.NewAttBtn {
    width: 463px;
    height: 24px;
    color: white;
    text-align: center;
    border-radius: 4px;
    line-height: 24px;
    font-size: 20px;
    background-color: #3498db;
}





.NewAtt {
    width: 463px;
    height: 24px;
    float: left;
    margin-left: 5px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-bottom: 1px solid #0079c5;
    text-align: left;
}

.NewAttValIn {
    width: 80px;
    height: 20px;
    line-height: 20px;
    border: none;
}

.NewAtt:hover {
    /*margin:1px 14px 1px 14px;*/
    background: #3598db;
    color: #FFFFFF;
    border: 1px solid #3598db;
    border-left: 1px solid #FFFFFF;
}


.Newmod-set {
    width: 100%;
    height: 24px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    text-align: left;
}


.NewModBtn {
    width: 100%;
    height: 24px;
    color: white;
    text-align: center;
    border-radius: 4px;
    line-height: 24px;
    font-size: 20px;
    background-color: #3498db;
}


.summary-list {
    width: 980px;
    height: auto;
    margin: auto;
    background-color: #fff;
    overflow-x: scroll;
}

.summary-list-image {
    background-color: #fff;
}

.PIList {
    width: 980px;
    height: auto;
    margin: auto;
    background-color: #f1f1f1;
    overflow: hidden;
}

.mod-hover {
    background: #3598db;
    color: #fff;
}

.att-hover {
    background: #3598db;
    color: #fff;
}
