.text-title {
    font-size: 20px;
    font-family: '微软雅黑';
}

.text-content {
    font-size: 13px;
    font-family: '宋体';
}

.sonluk-button {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
    margin-left: 10px;
    /*margin-bottom: 4px;*/
    padding-left: 30px;
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
    border: none;
    border-radius: 2px;
    height: 23px;
    line-height: 23px;
    cursor: pointer;
    background-color: #2980B9;
    color: #fff;
    overflow: hidden;
}

    .sonluk-button:hover {
        background-color: #3498db;
    }

.sonluk-input-text {
    display: inline-block;
    float: left;
    height: 20px;
    margin: 0;
    margin-right: 10px;
    border: 1px solid #abadb3;
    color: #888;
    cursor: text;
    text-align: left;
    vertical-align: middle;
    background-clip: padding-box;
}

.sonluk-input-text-red:focus {
    border-color: #e74c3c;
    outline: 0;
}

.sonluk-text-box {
    width: 400px;
    height: 30px;
    text-align: center;
    margin: auto;
    border-radius: 4px;
    border: 1px solid #3498db;
    overflow: hidden;
    line-height: normal;
    background-color: #fff;
    overflow: hidden;
}

.sonluk-text-box-value {
    float: left;
    width: 350px;
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    margin: 4px 0 0 4px;
    font-size: 14px;
    border: 0;
    color: #999;
    outline: 0 none;
    background-color: #fff;
}

.sonluk-panel-search {
    width: 400px;
    height: 30px;
    text-align: center;
    margin: auto;
    border-radius: 4px;
    border: 2px solid #3498db;
    overflow: hidden;
    line-height: normal;
    background-color: #fff;
    overflow: hidden;
}

.sonluk-panel-search-error {
    border-color: #e74c3c;
}

.sonluk-panel-search-value {
    float: left;
    width: 200px;
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    margin: 4px 0 0 4px;
    font-size: 14px;
    border: 0;
    color: #999;
    outline: 0 none;
    background-color: #fff;
}

.sonluk-panel-search-submit {
    border: none;
    height: 100%;
    width: 100px;
    line-height: 30px;
    float: right;
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
}

    .sonluk-panel-search-submit:hover {
        background-color: #2980B9;
    }

.drop-list {
    position: absolute;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    /*border: 1px solid #817F82;*/
    /*1px solid rgba(0,0,0,.15);*/
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    display: none;
}

    .drop-list:before {
        position: absolute;
        top: -7px;
        left: 6px;
        content: '';
        display: inline-block;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-bottom-color: rgba(0,0,0,.2);
    }

    .drop-list:after {
        top: -6px;
        left: 7px;
        content: '';
        display: inline-block;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #fff;
        position: absolute;
    }

.drop-list-body {
    margin-top: 4px;
    margin-bottom: 4px;
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.drop-list-item {
    width: 100%;
    list-style: none;
    display: block;
    font: 14px arial;
    line-height: 26px;
    text-align: left;
    padding-left: 4px;
    height: 26px;
    cursor: pointer;
}

    .drop-list-item:hover {
        background-color: #cce3f4;
    }

.drop-list-item-mouse-select {
    background-color: #e6e6e6;
}

.drop-list-item-keyboard-select {
    background-color: #cdcdcd;
}
