.input-width-od-sales-organization {
    padding-left: 4px;
    padding-right: 4px;
    width: 28px;
}

.input-width-od-sn {
    padding-left: 4px;
    padding-right: 4px;
    width: 56px;
}

.input-width-od-customer {
    padding-left: 4px;
    padding-right: 4px;
    width: 56px;
}

.input-width-od-type{
    padding-left: 4px;
    padding-right: 4px;
    width: 28px;
}

.input-width-od-creator{
    padding-left: 4px;
    padding-right: 4px;
    width: 56px;
}