.input-width-po-sn {
    padding-left: 4px;
    padding-right: 4px;
    width: 71px;
}
.input-width-po-item {
    padding-left: 4px;
    padding-right: 4px;
    width: 28px;
}
.input-width-po-material {
    padding-left: 4px;
    padding-right: 4px;
    width: 71px;
}

.input-width-po-material-group {
    padding-left: 4px;
    padding-right: 4px;
    width: 56px;
}
.input-width-po-werks {
    padding-left: 4px;
    padding-right: 4px;
    width: 40px;
}

.input-width-po-pur-group {
    padding-left: 4px;
    padding-right: 4px;
    width: 22px;
}

.input-width-po-so {
    padding-left: 4px;
    padding-right: 4px;
    width: 56px;
}
.input-width-po-so-item {
    padding-left: 4px;
    padding-right: 4px;
    width: 28px;
}
.input-width-po-vendor {
    padding-left: 4px;
    padding-right: 4px;
    width: 71px;
}
