.input-width-cn-carrier { 
    width: 100px;
}

.input-width-cn-city { 
    width: 56px;
}

.input-width-cn-number { 
    width: 56px;
}

.input-width-cn-serial-number {
    width: 56px;
}

.input-width-cn-number {
    width: 56px;
}

.input-width-cn-delivery {
    width: 56px;
}

.input-width-cn-receiver {
    width: 120px;
}

.input-width-cn-receiver-contact {
    width: 46px;
}

.input-width-cn-receiver-cellphone {
    width: 86px;
}

.input-width-cn-receiver-telephone {
    width: 96px;
}

.input-width-cn-receiver-address {
    width: 270px;
}


.input-width-cn-material {

    width: 71px;
}


.input-width-cn-complaint-type {

    width: 62px;
}
.input-width-cn-feedback-remark {

    width: 700px;
}


