body {
    overflow: hidden;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
}

.header-logo {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    height: 40px;
    width: 205px;
}

.header-control {
    display: none;
    float: left;
    height: 100%;
     
}
.header-settinglb {
    display: none;
    float: left;
    height: 100%;
}

.header-control-button {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    line-height: 50px;
    cursor: pointer;
}

    .header-control-button:hover {
        background:#2C3E50;
    }

.header-logo-img {
    height: 40px;
    margin-left: 0;
    float: left;
}

.header-right-nav {
    float: right;
    margin-right: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}

.sign-out {
    float: right;
    margin-top: 13px;
    margin-left: 20px;
    height: 24px;
    cursor: pointer;
}

.header-right-nav-item {
    float: right;
    margin-top: 15px;
    margin-right: 4px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}

.main {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0094ff;
}

.nav-bar {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 205px;
}

.page {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 205px;
    overflow: hidden;
}

.content {
    margin: 10px 20px 20px 20px;
}

.content-header {
    height: 20px;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #3498db;
}

.content-header-nav {
    height: 100px;
    width: 100%;
    line-height: 20px;
    font-size: 12px;
    text-align: left;
}
