.panel-search {
    margin-top: 8px;
    border-bottom: 1px solid #3498db;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
    overflow: hidden;
}

    .panel-search input:focus {
        border-color: #5C5C5C;
        outline: 0;
    }

.panel-search-line {
    width: 100%;
    overflow: hidden;
}

.panel-search-item {
    margin-top: 4px;
    margin-right: 10px;
    /*border:1px solid #000000;*/
    height: 23px;
    font-size: 13px;
    float: left;
    overflow: hidden;
    vertical-align: middle;
    line-height: 20px;
}

.panel-search-item-title {
    float: left;
    margin-right:4px;
    width: auto;
    height: 20px;
    text-align: left;
    line-height: 20px;
    overflow:hidden;
}

.panel-search-item-input {
    display: inline-block;
    float: left;
    height: 16px;
    margin: 0;
    margin-right: 10px;
    border: 1px solid #abadb3;
    padding-left: 2px;
    color: #888;
    cursor: text;
    text-align: left;
    vertical-align: middle;
    background-clip: padding-box;
    font-size: 100%;
}

.panel-search-radio {
}

.panel-search-button {
    float: right;
}

.panel-search-button-left {
    float: left;
}

.time-picker-start-date {
    padding-left: 2px;
    width: 69px;
}

.time-picker-end-date {
    padding-left: 2px;
    width: 69px;
}

.panel-search-item-checkbox {
}

input[type=radio] {
    vertical-align: text-bottom;
    margin: 0;
    margin-bottom: 2px;
}

input[type=checkbox] {
    vertical-align: text-bottom;
    margin: 0;
    margin-bottom: 2px;
}

.panel-search-textarea-toggle {
    margin-top: -7px;
    height: 20px;
    cursor: pointer;
}

.panel-search-line-textarea {
    display: none;
    width: 100%;
    height: 100px;
}

.panel-search-textarea {
    margin-top:2px;
    width: 98%;
    height: 94%;
    resize: none;
}


