.panel-pop-up-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 1000;
}

.panel-pop-up {
    display: none;
    width: auto;
    position: fixed;
    border-radius: 4px;
    background-color: #2980B9;
    overflow: hidden;
    z-index: 1001;
}
.panel-pop-up-header {
    color: #fff;
}
.panel-pop-up-body {
    margin: auto;
    width: auto;
}
.panel-pop-up-content {
    margin: auto;
    width: auto;
    overflow-y: scroll;
    /*overflow-x: hidden;*/
}


.panel-pop-up-footer {
    width: 100%;
    height:2px;
    float:left;
    text-align:center;
    padding-top:2px;
    padding-bottom:2px;
}
