.panel-flow {
    margin-top: 6px;
    border-bottom: 1px solid #d4d4d4;
    width: 100%;
    padding-bottom: 4px;
    height: auto;
    overflow: hidden;
}

.panel-flow {
    margin-top: 6px;
    border-bottom: 1px solid #d4d4d4;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.panel-flow-line {
    width: 100%;
    overflow: hidden;
}

.panel-flow-item {
    float: left;
    margin-top: 4px;
    margin-right: 10px;
    /*border:1px solid #000000;*/
    height: 23px;
    width: auto;
    font-size: 13px;
    overflow: hidden;
    vertical-align: middle;
    line-height: 20px;
}

.panel-flow-item-line {
    margin-top: 4px;
    margin-right: 10px;
    /*border:1px solid #000000;*/
    height: 23px;
    width: auto;
    font-size: 13px;
    overflow: hidden;
    vertical-align: middle;
    line-height: 20px;
}

.panel-flow-item-title {
    float: left;
    width: auto;
    height: 20px;
    text-align: left;
    line-height: 20px;
    overflow: hidden;
}

.panel-flow-item-content {
    float: left;
    width: auto;
    height: 20px;
    text-align: left;
    line-height: 20px;
    overflow: hidden;
}

.panel-flow-button {
    float: right;
}

.panel-flow-table {
    border: none;
}
    .panel-flow-table td {

        padding-bottom:10px;
    }

.panel-flow-table-title {
    text-align: left;
    
}

.panel-flow-table-content {
    padding-left: 10px;
    padding-right: 20px;
    text-align: left;
}
.panel-flow-table-input-text {
    display: inline-block;
    float: left;
    height: 18px;
    width:500px;
    margin: 0;
    margin-right: 10px;
    border: 1px solid #abadb3;
    color: #888;
    cursor: text;
    text-align: left;
    vertical-align: middle;
    background-clip: padding-box;
}



.panel-flow-remark {
    font-size:12px;
}

.panel-flow-success {
    color:#2ECC71;
}



