body {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    height: 100%;
    text-align: center;
    font-family:'Microsoft YaHei', 'segoe ui',SimHei;
}

.pdf-display-header {
    width: 100%;
    height: 50px;
}

.pdf-display-header-fixed {
    height: 50px;
    background-color: #060d08;
    
}
.pdf-display-header-control {
    width: 900px;
    height:100%;
    margin:auto;
    color:#fff;
}

.pdf-display-header-button {
    height:100%;
    padding-left:20px;
    padding-right:20px;
    line-height:50px;
    font-family:SimHei;
    font-size:28px;
    cursor:pointer;
    float:left;
}
.pdf-display-header-button:hover {
    background-color: #34495E;
}
.pdf-display-body {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y:auto;
}

.pdf-display-header-hint {
    margin-left:100px;
    line-height:50px;
    float:left;

}


.pdf-display-file-title {
    margin:auto;
    margin-top:5px;
    padding-left:10px;
    width:890px;
    height:25px;
    line-height:25px; 
    background-color: #2980B9;
    color:#fff;
    text-align:left;
    
}
.pdf-display-file-body {
    
    border:1px solid #d4d4d4;
    width:898px;
    height:600px;
    
}

