html {
    height: 100%;
}

a:focus,
a:hover {
    color: #ffffff;
    background-color: #5dade2;
}

input {
    background: #E8F4FC;
    width: 248px;
}

body {
    overflow: hidden;
    height: 100%;
    font-family: 'Microsoft YaHei', 'segoe ui',SimHei;
}

.sign-in-background {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #cce3f4;
    /*background-color: #cfcfcf;e4e4e4;#e6ecf8;#cce3f4*/
}

.sign-in-page {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -236px;
    margin-top: -180px;
    width: 472px;
    height: 304px;
    background-color: #fff;
    /*box-shadow: -10px 10px 12px #909090;*/
}

    .sign-in-page :before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-width: 0 55px 55px 0;
        border-style: solid;
        border-color: #cce3f4 #cce3f4 #fff #fff;
        background: #cce3f4;
        display: block;
        width: 0;
    }


.sign-in-page-content {
    margin-top: 18px;
    margin-left: 30px;
}


.sign-in-title-name {
    padding-top: 10px;
    padding-bottom: 3px;
    height: 16px;
    font-size: 15px;
    color: #a9a9a9;
}

.sign-in-title-password {
    padding-top: 20px;
    padding-bottom: 3px;
    height: 16px;
    font-size: 15px;
    color: #a9a9a9;
}

.sign-in-error-message {
    width: 248px;
    height: 16px;
    line-height: 16px;
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 8px;
    color: #e74c3c;
}

.sign-in-error-message-details {
    display: none;
}

.sign-in-submit {
    height: 30px;
    width: 80px;
    text-align: center;
    color: #fff;
    background-color: #3498db;
    border: none;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    border-radius: 4px;
    cursor: pointer;
}

    .sign-in-submit:hover {
        background-color: #5dade2;
    }


.sign-in-input {
    display: inline-block;
    width: 400px;
    padding: 4px;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    background: #E8F4FC;
    border: 2px solid #0D7BD5;
    color: #888;
    cursor: text;
    text-align: left;
    vertical-align: middle;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .3),0 1px 3px rgba(0, 0, 0, .3) inset;
    background-clip: padding-box;
    border-radius: 5px;
}

    .sign-in-input:focus {
        border-color: #1abc9c;
        outline: 0;
    }


.sign-in-input-red:focus {
    border-color: #e74c3c;
    outline: 0;
}

.sign-in-info {
    height: 16px;
    font-size: 15px;
    text-align: center;
}



.sign-in-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 24px;
    width: 100%;
    clear: both;
}

.sign-in-footer-body {
    margin: auto;
    border-top: 1px solid #fff;
    height: 23px;
    width: 980px;
    line-height: 23px;
    text-align: center;
    font-size:14px;
    color: #fff;
}
