table {
    background-color: #fff;
}

.sonluk-table-layout {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
}

.sonluk-table {
    width: 100%;
    height: auto;
    margin: auto;
    margin-left: 0px;
    border-radius: 4px;
    border-top: 1px solid #2980B9;
    border-bottom: 1px solid #2980B9;
    background-color: #2980B9;
    overflow: hidden;
}

    .sonluk-table td {
        white-space: nowrap;
        border: 1px solid #d4d4d4;
        padding-left: 4px;
        padding-right: 4px;
        cursor: pointer;
        font-size: 12px;
    }
/*.sonluk-table-freeze input{
    border:none;
    height:15px;   
    line-height:15px;
    margin:0; 
    padding:0;
    background-color:transparent;
    overflow:hidden;
}*/
td input {
    border: none;
    height: 15px;
    line-height: 15px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}
td input[type=checkbox] {

    margin: 0;

}
.sonluk-table input:focus {
    outline: 0;
}

.sonluk-table-control {
    display: none;
    height: auto;
    overflow: hidden;
}

.sonluk-table-control-self-adaption-display {
    height: auto;
    overflow: hidden;
    display: none;
}

.sonluk-table-control-space {
    float: left;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}

.sonluk-table-control-title {
    float: left;
    margin-left: 10px;
    padding-right: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.sonluk-table-control-response-time {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}

.sonluk-table-control-message-left {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}

.sonluk-table-control-button {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

    .sonluk-table-control-button:hover {
        background-color: #3498db;
    }

.sonluk-table-control-radio {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    float: left;
    color: #fff;
}

.sonluk-table-control-checkbox {
    float: left;
}

.sonluk-table-control-text {
    float: left;
    margin-top: 2px;
    width: 50px;
    height: 16px;
    line-height: 14px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
}

    .sonluk-table-control-text:focus {
        outline: 0;
    }

.sonluk-table-content {
    height: auto;
    overflow: auto;
    background-color: #fff;
}

.data-table {
    white-space: nowrap;
    border: none;
}

.data-table-header {
    background-color: #f1f1f1;
    height: 20px;
}

.header-title {
    position: fixed;
    height: 24px;
    overflow: hidden;
    display: none;
}

.left-title {
    position: fixed;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    display: none;
}

.left-title-header {
    position: fixed;
    height: 24px;
    width: auto;
    overflow: hidden;
    display: none;
}

.row-selected {
    background-color: #cce3f4;
    /*background-color: #3498db;e7e7e7#ECF0F1#cce3f4
    color: #fff;*/
}

.sonluk-table-pop-up-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 1000;
}

.sonluk-table-pop-up {
    display: none;
    width: auto;
    position: fixed;
    border-radius: 4px;
    background-color: #2980B9;
    overflow: hidden;
    z-index: 1001;
}

.sonluk-table-pop-up-title {
    color: #fff;
}

.sonluk-table-pop-up-content {
    margin: auto;
    width: auto;
    overflow-y: scroll;
    /*overflow-x: hidden;*/
}

    .sonluk-table-pop-up-content td {
        white-space: nowrap;
        border: 1px solid #d4d4d4;
        padding-left: 4px;
        padding-right: 4px;
        cursor: pointer;
        font-size: 12px;
    }

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.sonluk-table-response-time {
    text-align: left;
    color: #abadb3;
}

.time {
    text-align: left;
}
