@{
    ViewBag.Title = "客户类型权限";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";

}

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>

<script type="text/html" id="khlxbar">
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>


<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/html" id="Tpl_mcsx">
    {{# if(d.MCSXRIGHT == 1){ }}
    无
    {{# }else if(d.MCSXRIGHT == 1){ }}
    系统    
    {{# }else if(d.MCSXRIGHT == 2){ }}
    门店    
    {{# }else if(d.MCSXRIGHT == 3){ }}
    全部
    {{# }else { }}

    {{# } }}
</script>


<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>系统管理</a>
    <a><cite>客户类型权限</cite></a>
</span>
<br />
<br />
<div id="from1" class="layui-form layui-form-pane">
    <div id="div1" class="layui-form">

        <div class="layui-form-item">
            <button id="btn_insert" class="layui-btn">新增</button>

        </div>

        <table id="result" lay-filter="result"></table>


    </div>






</div>

<div id="div_khlx" class="layui-form" hidden>
    <br />
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px;">权限组名称：</label>
        <div class="layui-input-inline">
            <input id="name" type="text" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px;">卖场属性：</label>
        <div class="layui-input-inline">
            <select id="mcsx" lay-filter="mcsx">
                <option value="0" selected="selected">无</option>
                <option value="1">系统</option>
                <option value="2">门店</option>
                <option value="3">全部</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px;">基数：</label>
        <div class="layui-input-inline">
            <input id="base" type="text" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:120px;">备注：</label>
        <div class="layui-input-inline">
            <input id="beiz" type="text" class="layui-input">
        </div>
    </div>



    <div id="div_table">
        <hr class="layui-bg-black" />

        <button id="btn_insertkhlx" class="layui-btn">新增客户类型</button>
        <table id="tb_khlx" lay-filter="tb_khlx"></table>
    </div>

</div>


<div id="div_insertkhlx" class="layui-form" hidden>
    <br />
    <div class="layui-form-item">
        <label id="lb_KHtype" class="layui-form-label">客户类型：</label>
        <div class="layui-input-inline" style="width:230px;">
            <select id="Insert_KHtype" lay-filter="Insert_KHtype">
                <option value="0" selected="selected"></option>
            </select>
        </div>
    </div>


</div>

<input id="staffkhlxid" hidden />

@*<script>
        $(document).ready(function () {
            $("#reset").trigger('click');
        });
    </script>*@



<script src="~/Scripts/layui2.2.5/layui.all.js"></script>
<script src="~/Scripts/jquery-1.8.2.js"></script>


@section scripts {
    @Scripts.Render("~/bundles/CRM/System/KHLX")
}
