@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "修改密码";

    string msg = "";
    if(Session["passwordMSG"] != null)
    {
        msg = Session["passwordMSG"].ToString();
    }
}
<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>系统管理</a>
    <a><cite>修改密码</cite></a>
</span>
<br />
<br />



<div id="form1" class="layui-form">
    <div class="layui-form-item">
        <button id="btn" class="layui-btn" style="width:120px;">确认</button><br />

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:110px">原密码：</label>
        <div class="layui-input-inline">
            <input id="old" type="text" class="layui-input">
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:110px">新密码：</label>
        <div class="layui-input-inline">
            <input id="new" type="text" class="layui-input">
        </div>
        <label style="color:gray;padding: 9px 0;float: left;">密码长度不低于8位，至少需数字和字符串组合</label>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:110px">新密码确认：</label>
        <div class="layui-input-inline">
            <input id="newagain" type="text" class="layui-input">
        </div>
        <label id="tips" style="color:red;padding: 9px 0;float: left;"></label>
    </div>

</div>

<input id="msg" hidden />

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/layui2.2.5/layui.all.js"></script>

<script>
    $(document).ready(function () {
        $("#msg").val("@msg");

    });
</script>

@section scripts {
    @Scripts.Render("~/bundles/CRM/System/Password")
}