@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "拜访频次设置";

}


<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>


<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>系统管理</a>
    <a><cite>拜访频次设置</cite></a>
</span>
<br />
<br />

<div id="from1" class="layui-form layui-form-pane">
    <div id="div1" class="layui-form">

        <div class="layui-form-item">
            <button id="btn_insert" class="layui-btn" lay-filter="formDemo">新增</button>
        </div>

        <table id="result" lay-filter="result"></table>


    </div>






</div>





<div id="div_jump" class="layui-form" hidden>
    <br />
    <div class="layui-form-item">
        <label class="layui-form-label">职务：</label>
        <div class="layui-input-inline">
            <select id="duty" lay-filter="duty">
                <option value="0" selected="selected"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">拜访周期：</label>
        <div class="layui-input-inline">
            <select id="zhouqi" lay-filter="zhouqi">
                <option value="0" selected="selected"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-item">
            <label class="layui-form-label">拜访次数：</label>
            <div class="layui-input-inline">
                <input id="times" type="text" class="layui-input">
            </div>
        </div>

    </div>
</div>




<script src="~/Scripts/jquery-1.8.2.js"></script>


<script src="~/Scripts/layui2.2.5/layui.all.js"></script>
@section scripts {
    @Scripts.Render("~/bundles/CRM/System/PinCi")
}