@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "微信绑定";
}

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>
<script type="text/html" id="bar_js">
    <a class="layui-btn layui-btn-xs" lay-event="add">添加</a>
</script>
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/html" id="KHtype_Tpl">
    {{# if(d.KHLX == 1){ }}
    经销商
    {{# }else if(d.KHLX == 2){ }}
    电商
    {{# }else if(d.KHLX == 3 && d.MCSX == 1){ }}
    直营卖场系统
    {{# }else if(d.KHLX == 3 && d.MCSX == 2){ }}
    直营卖场门店
    {{# }else if(d.KHLX == 4){ }}
    B2B
    {{# }else if(d.KHLX == 5){ }}
    网点终端
    {{# }else if(d.KHLX == 6){ }}
    批发
    {{# }else if(d.KHLX == 7 && d.MCSX == 1){ }}
    LKA系统
    {{# }else if(d.KHLX == 7 && d.MCSX == 2){ }}
    LKA门店
    {{# }else if(d.KHLX == 8){ }}
    电子锁网点
    {{# }else if(d.KHLX == 9){ }}
    直销商
    {{# }else if(d.KHLX == 10){ }}
    中间商
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="zhuangtai">
    {{# if(d.ISACTIVE == 1){ }}
    未提交
    {{# }else if(d.ISACTIVE == 2){ }}
    审核中
    {{# }else if(d.ISACTIVE == 3){ }}
    已审核
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="official">
    {{# if(d.IsOfficial == 10){ }}
    潜在客户
    {{# }else if(d.IsOfficial == 20){ }}
    签约客户
    {{# }else if(d.IsOfficial == 30){ }}
    非签约客户
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="havepower">
    {{# if(d.GIDSTATUS == 1){ }}
    是
    {{# }else if(d.GIDSTATUS == 0){ }}
    否
    {{# }else { }}

    {{# } }}
</script>



<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>系统管理</a>
    <a><cite>微信绑定</cite></a>
</span>
<br />
<br />

<div id="div1" class="layui-form">

    <div class="layui-form-item">
        <button id="btn_insert" class="layui-btn">新增</button>
        <button id="btn_cx" class="layui-btn">查询</button>


    </div>


    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">查询条件</h2>
            <div id="div_select_tiaojian" class="layui-colla-content layui-show">


                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width:130px;text-align:right;">部门：</label>
                        <div class="layui-input-inline">
                            <select id="department" lay-filter="department">
                                <option value="0">请选择</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" style="width:130px;text-align:right;">工号：</label>
                        <div class="layui-input-inline">
                            <input id="staffno" type="text" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" style="width:130px;text-align:right;">姓名：</label>
                        <div class="layui-input-inline">
                            <input id="staffname" type="text" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" style="width:130px;text-align:right;">OPENID：</label>
                        <div class="layui-input-inline">
                            <input id="openid" type="text" class="layui-input">
                        </div>
                    </div>

                </div>




            </div>
        </div>
    </div>

    <table id="result" lay-filter="result"></table>

</div>




<div id="div_staff" class="layui-form" hidden>
    <div class="layui-form-item">

        <button id="btn_js" class="layui-btn">查询</button>


    </div>

    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label" style="width:130px;text-align:right;">部门：</label>
            <div class="layui-input-inline">
                <select id="cx_department" lay-filter="cx_department">
                    <option value="0">请选择</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label" style="width:130px;text-align:right;">工号：</label>
            <div class="layui-input-inline">
                <input id="cx_staffno" type="text" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label" style="width:130px;text-align:right;">姓名：</label>
            <div class="layui-input-inline">
                <input id="cx_staffname" type="text" class="layui-input">
            </div>
        </div>


    </div>
    <table id="result_js" lay-filter="result_js"></table>

</div>


<div id="div_openid" class="layui-form" hidden>
    <br />

    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label" style="width:130px;text-align:right;">平台：</label>
            <div class="layui-input-inline">
                <select id="state" lay-filter="state">
                    <option value="0">请选择</option>
                    <option value="1">公众号</option>
                    <option value="2">企业微信</option>
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:130px;text-align:right;">OPENID：</label>
            <div class="layui-input-inline">
                <input id="openid_new" type="text" class="layui-input">
            </div>
        </div>




    </div>
</div>






<script src="~/Scripts/layui2.2.5/layui.all.js"></script>



@section scripts {
    @Scripts.Render("~/bundles/CRM/System/STAFF_OPENID")
}