@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "系统配置";

}


<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>


<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>系统管理</a>
    <a><cite>系统配置</cite></a>
</span>
<br />
<br />

<div id="from1" class="layui-form layui-form-pane">
    <div id="div1" class="layui-form">



        <table id="result" lay-filter="result"></table>


    </div>



</div>



<div id="div_jump" class="layui-form" hidden>
    <br />
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:110px">参数名称：</label>
        <div class="layui-input-inline">
            <input id="name" type="text" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:110px">值：</label>
        <div class="layui-input-inline">
            <input id="value" type="text" class="layui-input">
        </div>
    </div>



</div>




<script src="~/Scripts/jquery-1.8.2.js"></script>


<script src="~/Scripts/layui2.2.5/layui.all.js"></script>
@section scripts {
    @Scripts.Render("~/bundles/CRM/System/System")
}