.error-title{
    margin-top:50px;
    width:100%;
    font-size:26px;
    font-family:'Microsoft YaHei', 'segoe ui',SimHei;
}
.error-table{
    margin-top:20px;

}
.error-table td{

    font-size:12px;

}
.error-table-message {
    padding-left:10px;
    text-align:left;
}

