.sonluk-button {
    float:left;

}

.sonluk-input-text {
    width:250px;
}


.update-password {
    float:left;
    margin-top:10px;
    border-bottom: 1px solid #d4d4d4;
}
td {
   padding-bottom:10px;
}

.update-password-title {
    width:100px;
    text-align:left;
}




.update-password-error-meaaage {

    color: #e74c3c;
}
