@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "KA年度费用管理";
    string netpath = System.Configuration.ConfigurationManager.AppSettings["NETPATH"];
}

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="watch">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>
<script type="text/html" id="bar2">
    <a class="layui-btn layui-btn-xs" lay-event="do">确定</a>
</script>

<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>



<script type="text/html" id="Tpl_isactive">
    {{# if(d.ISACTIVE == 10){ }}
    未提交
    {{# }else if(d.ISACTIVE == 20){ }}
    审核中
    {{# }else if(d.ISACTIVE == 40){ }}
    审核未通过
    {{# }else if(d.ISACTIVE == 45){ }}
    再次未提交
    {{# }else if(d.ISACTIVE == 50){ }}
    再次审核中
    {{# }else if(d.ISACTIVE == 60){ }}
    已审核
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="official">
    {{# if(d.IsOfficial == 10){ }}
    潜在客户
    {{# }else if(d.IsOfficial == 20){ }}
    签约客户
    {{# }else if(d.IsOfficial == 30){ }}
    非签约客户
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="havepower">
    {{# if(d.GIDSTATUS == 1){ }}
    是
    {{# }else if(d.GIDSTATUS == 0){ }}
    否
    {{# }else { }}

    {{# } }}
</script>

<style type="text/css">
    body .layui-tree-skin-shihuang .layui-tree-branch {
        color: #EDCA50;
    }

    .downpanel .layui-select-title span {
        line-height: 38px;
    }

    /*继承父类颜色*/
    .downpanel dl dd:hover {
        background-color: inherit;
    }
</style>

<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>费用管理</a>
    <a><cite>KA年度费用管理</cite></a>
</span>
<br />
<br />
<div id="from1" class="layui-form">
    <div id="div1" class="layui-form">

        <div class="layui-form-item">
            <button id="btn_insert" class="layui-btn">新增</button>
            <button id="btn_cx" class="layui-btn">查询</button>


        </div>


        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">查询条件</h2>
                <div id="div_select_tiaojian" class="layui-colla-content">


                    <div class="layui-form-item">




                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:150px;text-align:right;">合同年份：</label>
                            <div class="layui-input-inline">
                                <input id="year" type="text" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:150px;text-align:right;">申请人：</label>
                            <div class="layui-input-inline">
                                <input id="sqr" type="text" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:150px;text-align:right;">KA系统CRM编号：</label>
                            <div class="layui-input-inline">
                                <input id="kacrmid" type="text" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:150px;text-align:right;">KA系统名称：</label>
                            <div class="layui-input-inline">
                                <input id="kamc" type="text" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        @*<div class="layui-inline">
                                <label class="layui-form-label" style="width:150px;text-align:right;">年度费用开始时间：</label>
                                <div class="layui-input-inline">
                                    <input id="begindate" type="text" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label" style="width:150px;text-align:right;">年度费用结束时间：</label>
                                <div class="layui-input-inline">
                                    <input id="enddate" type="text" autocomplete="off" class="layui-input">
                                </div>
                            </div>*@

                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:150px;text-align:right;">状态：</label>
                            <div class="layui-input-inline">
                                <select id="isactive" lay-filter="isactive">
                                    <option value="0" selected="selected">全部</option>
                                    <option value="10">未提交 </option>
                                    <option value="20">审核中 </option>
                                    <option value="60">已审核</option>
                                    <option value="40">被回退</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <table id="result" lay-filter="result"></table>

    </div>

</div>

<div id="div_insert" class="layui-form" hidden>
    <br />
    <div class="layui-form-item" id="div_time" hidden>
        <div class="layui-form-item">
            <button id="btn_back" class="layui-btn">返回</button>
            <button id="btn_save" class="layui-btn">保存</button>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">客户名称：</label>
                <div class="layui-input-inline">
                    <input id="mc" type="text" name="title" placeholder="" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">客户编号：</label>
                <div class="layui-input-inline">
                    <input id="crmid" type="text" name="title" placeholder="" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">客户SAP编号：</label>
                <div class="layui-input-inline">
                    <input id="sapsn" type="text" name="title" placeholder="" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">合同年份：</label>
                <div class="layui-input-inline">
                    <input id="time_year" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">年度费用开始日期：</label>
                <div class="layui-input-inline">
                    <input id="time_begin" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">年度费用结束日期：</label>
                <div class="layui-input-inline">
                    <input id="time_end" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>


    <div id="div_kh">


        <div class="layui-form-item">
            <button id="btn_cxkh" class="layui-btn">查询</button>

        </div>
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">查询条件</h2>
                <div id="div_select_tiaojian2" class="layui-colla-content layui-show">


                    <div class="layui-form-item" hidden>

                        <label class="layui-form-label">客户类型：</label>
                        <div class="layui-input-inline">
                            <select id="KHtype" lay-filter="KHtype">
                                <option value="0" selected="selected">请选择</option>
                            </select>
                        </div>


                        <label class="layui-form-label">卖场属性：</label>
                        <div class="layui-input-inline">
                            <select id="KHtype" lay-filter="KHtype">
                                <option value="0" selected="selected">请选择</option>
                            </select>
                        </div>

                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:120px;">客户名称：</label>
                        <div class="layui-input-inline">
                            <input id="KH_name" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>

                        <label class="layui-form-label" style="width:120px;">客户编号：</label>
                        <div class="layui-input-inline">
                            <input id="KH_ID" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>


                    </div>

                    <div class="layui-form-item" hidden>
                        <label class="layui-form-label">客户组：</label>
                        <div class="layui-input-inline">
                            <div class="layui-unselect layui-form-select downpanel">
                                <div class="layui-select-title">
                                    <span class="layui-input layui-unselect" id="treeclass">请选择</span>
                                    <input type="hidden" name="selectID" value="0">
                                    <i class="layui-edge"></i>
                                </div>
                                <dl class="layui-anim layui-anim-upbit">
                                    <dd>
                                        @*<ul id="classtree"></ul>*@
                                        <div id="classtree"></div>
                                    </dd>
                                </dl>
                            </div>
                        </div>


                        @*<label class="layui-form-label">SAP编号：</label>
                            <div class="layui-input-inline">
                                <input id="sap" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                            </div>*@

                    </div>

                    <div class="layui-form-item" hidden>

                        <label class="layui-form-label">省份：</label>
                        <div class="layui-input-inline">
                            <select id="province" lay-filter="province" lay-search>
                                <option value="0" selected></option>
                            </select>
                        </div>
                        <label class="layui-form-label">城市：</label>
                        <div class="layui-input-inline">
                            <select id="city" lay-filter="city" lay-search>
                                <option value="0" selected></option>
                            </select>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <div class="layui-form-item">
            @*<button id="btn_insert_tomx" class="layui-btn">添加</button>*@
            <table id="tb_kh" lay-filter="tb_kh"></table>


        </div>
    </div>



</div>

<input id="netpath" value="@netpath" hidden />
<input id="khid" hidden />




<script src="~/Scripts/layui2.4.5/layui.all.js"></script>



@section scripts {
    @Scripts.Render("~/bundles/CRM/Fee/Select_KAyear")
}