@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "编辑KA销售管理";
}




<div id="from1" class="layui-form">
    <div id="div1">
        <br />
        <div class="layui-form-item">
            <button id="btn_save" class="layui-btn">保存</button>
        </div>
        <br />
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px; text-align:right;">客户编号：</label>
                <div class="layui-input-inline">
                    <input id="KHID" type="text" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px;text-align:right;">客户名称：</label>
                <div class="layui-input-inline">
                    <input id="MC" type="text" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px;text-align:right;">销售类型：</label>
                <div class="layui-input-inline">
                    <select id="XSLX" lay-filter="XSLX" lay-search>
                        <option value="0" selected="selected"></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px;text-align:right;">数据类型：</label>
                <div class="layui-input-inline">
                    <select id="SJLX" lay-filter="SJLX">
                        <option value="0" selected="selected"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            @*<div class="layui-inline">
                <label class="layui-form-label" style="width:150px;text-align:right;">年份：</label>
                <div class="layui-input-inline">
                    <input id="KAYEAR" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>*@
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px;text-align:right;">年月：</label>
                <div class="layui-input-inline">
                    <input id="KAMONTH" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px;text-align:right;">碱性销售：</label>
                <div class="layui-input-inline">
                    <input id="JXXS" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px;text-align:right;">碳性销售：</label>
                <div class="layui-input-inline">
                    <input id="TXXS" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px;text-align:right;">物美定牌销售：</label>
                <div class="layui-input-inline">
                    <input id="DPXS" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px;text-align:right;">合计销售：</label>
                <div class="layui-input-inline">
                    <input id="HJXS" type="text" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:150px;text-align:right;">退货率：</label>
                <div class="layui-input-inline">
                    <input id="THL" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="~/Scripts/layui2.4.5/layui.all.js"></script>
    @section scripts {
        @Scripts.Render("~/bundles/CRM/Fee/Update_KAXS")
    }
