@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "卖场促销员管理";



}
<div id="temp">
    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
    </script>
    <script type="text/html" id="bar2">
        <a class="layui-btn layui-btn-xs" lay-event="do">确定</a>
    </script>
    <script type="text/html" id="tb_fujian">
        <a class="layui-btn layui-btn-xs" lay-event="watch">查看</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
    </script>
</div>
<div id="temp_opinion">
    <script type="text/html" id="bar_opinion">
        <a class="layui-btn layui-btn-xs" lay-event="text">回复</a>
    </script>
</div>
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script type="text/html" id="tpl_masx">
    {{# if(d.MCSX == 1){ }}
    系统
    {{# }else if(d.MCSX == 2){ }}
    门店
    {{# }else { }}
    {{# } }}
</script>
<script type="text/html" id="zhuangtai">
    {{# if(d.ISACTIVE == 1){ }}
    未提交
    {{# }else if(d.ISACTIVE == 2){ }}
    审核中
    {{# }else if(d.ISACTIVE == 3){ }}
    已审核
    {{# }else { }}
    {{# } }}
</script>
<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>费用管理</a>
    <a><cite>卖场促销员管理</cite></a>
</span>
<br />
<br />
<div id="div_jump2" class="layui-form">
    <div id="div_but" class="layui-form-item" style="display:none">
        <button id="btn_save" class="layui-btn" style="display:none">保存</button>
        <button id="btn_all" class="layui-btn" style="display:none">保存并提交</button>
        <button id="btn_big" class="layui-btn" style="display:none">全部保存</button>
        <button id="btn_submitOA" class="layui-btn" style="display:none">保存并提交OA</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">系统CRM编号：</label>
            <div class="layui-input-inline">
                <input id="CRMID" type="text" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">系统SAP编号：</label>
            <div class="layui-input-inline">
                <input id="SAPSN" type="text" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">门店名称：</label>
            <div class="layui-input-inline" style="width:545px">
                <input id="MC" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">KA门店编号：</label>
            <div class="layui-input-inline">
                <input id="KHID" type="text" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">省份：</label>
            <div class="layui-input-inline">
                <input id="SF" type="text" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">城市：</label>
            <div class="layui-input-inline">
                <input id="CS" type="text" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">近三月单月销售额：</label>
            <div class="layui-input-inline">
                <input id="LAST1" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;"></label>
            <div class="layui-input-inline">
                <input id="LAST2" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;"></label>
            <div class="layui-input-inline">
                <input id="LAST3" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">所有电池品牌月均销售总额：</label>
            <div class="layui-input-inline">
                <input id="XSZE" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">资源支持：</label>
            <div class="layui-input-inline">
                <input id="ZYZC" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">岗位：</label>
            <div class="layui-input-inline">
                <select id="GW" lay-filter="GW" lay-search>
                    <option value="0" selected="selected"></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">人员更换：</label>
            <div class="layui-input-inline">
                <select id="ISCHANGE" lay-filter="ISCHANGE">
                    <option value="0" selected="selected">否</option>
                    <option value="1">是</option>
                </select>
            </div>
        </div>
    </div>
    <div id="div_coefficient" class="layui-form-item" style="display:none">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">考核系数：</label>
            <div class="layui-input-inline">
                <select id="COEFFICIENT" lay-filter="COEFFICIENT" lay-search>
                </select>
            </div>
        </div>
    </div>
    <div id="div_gwgz" class="layui-form-item" style="display:none">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">岗位工资：</label>
            <div class="layui-input-inline">
                <input id="GWGZ" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">月考核基数：</label>
            <div class="layui-input-inline">
                <input id="BASE" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">上岗后预估月销售额：</label>
            <div class="layui-input-inline">
                <input id="YGXSE" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:110px;text-align:right;">备注：</label>
            <div class="layui-input-inline" style="width:900px">
                <textarea id="BEIZ" type="text" autocomplete="off" class="layui-input"></textarea>
            </div>
        </div>
    </div>
    <div id="div_part" style="display:none">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:110px;text-align:right;">姓名：</label>
                <div class="layui-input-inline">
                    <input id="NAME" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:110px;text-align:right;">性别：</label>
                <div class="layui-input-inline">
                    <select id="SEX" lay-filter="SEX" lay-search>
                        <option value="0" selected="selected">请选择</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:110px;text-align:right;">全职厂商：</label>
                <div class="layui-input-inline">
                    <input id="QZCS" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:110px;text-align:right;">身份证号码：</label>
                <div class="layui-input-inline">
                    <input id="CODE" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:110px;text-align:right;">联系电话：</label>
                <div class="layui-input-inline">
                    <input id="TEL" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:110px;text-align:right;">上岗日期：</label>
                <div class="layui-input-inline">
                    <input id="SGRQ" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:110px;text-align:right;">开户银行：</label>
                <div class="layui-input-inline">
                    <input id="BANK" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:110px;text-align:right;">银行卡号：</label>
                <div class="layui-input-inline">
                    <input id="CARDNUM" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width:110px;text-align:right;">在职状态：</label>
                <div class="layui-input-inline">
                    <select id="ZZZT" lay-filter="ZZZT" lay-search>
                        <option value="0" selected="selected"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" id="div_lzsj" style="display:none">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:110px;text-align:right;">离职时间：</label>
                    <div class="layui-input-inline">
                        <input id="LZSJ" type="text" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*附件*@
<div id="div_fujian" class="layui-form">
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">附件</h2>
            <div class="layui-colla-content layui-show">
                <table id="fujian" lay-filter="fujian"></table>
                <button id="insert_fujian" class="layui-btn">新增</button>
            </div>
        </div>
    </div>
</div>
@*意见*@
<div id="div_opinion" class="layui-form">
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">审批意见</h2>
            <div class="layui-colla-content ">
                <table id="tb_opinion" lay-filter="tb_opinion"></table>
            </div>
        </div>
    </div>
</div>
<div id="div_text" class="layui-form" hidden>
    <hr />
    <div class="layui-form-item">
        @*<div class="layui-inline">
                <label class="layui-form-label" style="width:130px;text-align:right;">审核结果：</label>
                <div class="layui-input-inline">
                    <select id="sp_altitude" lay-filter="sp_altitude">
                        <option value="0" selected="selected"></option>
                        <option value="30">同意</option>
                        <option value="15">不同意</option>
                    </select>
                </div>
            </div>*@
        <div class="layui-inline">
            <label class="layui-form-label" style="width:130px">回复意见：</label>
            <div class="layui-input-inline" style="width:560px">
                <textarea id="OPINION" name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/layui2.2.5/layui.all.js"></script>
@section scripts {
    @Scripts.Render("~/bundles/CRM/Fee/Update_KACXY")
}
