@{
    ViewBag.Title = "发放记录调整";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    string mypw = "";
    if (Session["MYPW"] != null)
    {
        mypw = Session["MYPW"].ToString();
    }
}
<script type="text/html" id="ISFF_Tpl">
    {{# if(d.ISFF == 0){ }}
    未发放
    {{# }else if(d.ISFF == 1){ }}
    已发放
    {{# } }}
</script>
<script type="text/html" id="LJYNSE_Tpl">
    {{d.ZJGSGR+d.ZJGSDW }}
</script>
<script type="text/javascript" src="~/Scripts/ztree/jquery.ztree.all.js"></script>
<script type="text/javascript" src="~/Scripts/ztree/selectTree.js"></script>
<script type="text/javascript" src="~/Scripts/layui2.2.5/extend/formSelects-v4.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/ztree/plugin/css/index.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/layui2.2.5/css/formSelects-v4.css">
<span class="layui-breadcrumb" lay-separator=">">
    <a>HR薪资福利</a>
    <a><cite>发放记录调整</cite></a>
</span>
<div class="layui-form">
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_find">查询</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">公司:</label>
            <div class="layui-input-inline">
                <select lay-filter="ffjl_gs" id="ffjl_gs"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">申报月份:</label>
            <div class="layui-input-inline">
                <input type="text" id="ffjl_monthks" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline">
                <input type="text" id="ffjl_monthjs" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">来源:</label>
            <div class="layui-input-inline">
                <select lay-filter="ffjl_ly" id="ffjl_ly"></select>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="tb_ffljinfo" lay-filter="tb_ffljinfo"></table>
    <script type="text/html" id="barkh">
        <a class="layui-btn layui-btn-xs" lay-event="modify">导入调整</a>
    </script>
</div>
<div id="div_mypw" class="layui-form" hidden>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">密钥密码:</label>
            <div class="layui-input-inline1">
                <input type="password" id="myinfo_mypw" autocomplete="off" class="layui-input" onkeypress="if(window.event.keyCode==13) this.blur()">
            </div>
        </div>
    </div>
</div>
<div id="div_daoruinfo" hidden>
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_daoruxzmb">下载模版</button>
        <button class="layui-btn" id="btn_daoruzjdr">导入</button>
    </div>
</div>
<div hidden>
    <input type="text" id="bl_mypw" value="@mypw">
    <input type="text" id="bl_FFJLID" value="">
</div>
@section scripts {
    @Scripts.Render("~/bundles/HR/XZGL/XZGL_FFJLLIST_TZ")
}
