@{
    ViewBag.Title = "账期打开功能";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}
<script type="text/html" id="barkh">
    <a class="layui-btn layui-btn-xs" lay-event="modify">打开下一期间</a>
    <a class="layui-btn layui-btn-xs" lay-event="select_cyry">差异人员名单</a>
    <a class="layui-btn layui-btn-xs" lay-event="select_ryqd">人员清单</a>
</script>
<span class="layui-breadcrumb" lay-separator=">">
    <a>HR薪资福利</a>
    <a><cite>账期打开功能</cite></a>
</span>
<div class="layui-form">
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_find">查询</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">公司：</label>
            <div class="layui-input-inline">
                <select id="find_gs" lay-filter="find_gs"></select>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="tb_zqmonth" lay-filter="tb_zqmonth"></table>
</div>
@section scripts {
    @Scripts.Render("~/bundles/HR/XZGL/XZGL_ZQMONTH_MANAGE")
}