@{
    ViewBag.Title = "账户管理";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    string mypw = "";
    if (Session["MYPW"] != null)
    {
        mypw = Session["MYPW"].ToString();
    }
}
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>
<script type="text/javascript" src="~/Scripts/ztree/jquery.ztree.all.js"></script>
<script type="text/javascript" src="~/Scripts/ztree/selectTree.js"></script>
<script type="text/javascript" src="~/Scripts/layui2.2.5/extend/formSelects-v4.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/ztree/plugin/css/index.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/layui2.2.5/css/formSelects-v4.css">
<span class="layui-breadcrumb" lay-separator=">">
    <a>HR薪资福利</a>
    <a><cite>员工薪资档案</cite></a>
    <a><cite>账户管理</cite></a>
</span>
<div class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">管理类别：</label>
            <div class="layui-input-block" style="width: 300px;">
                <select id="in_gllb" lay-filter="in_gllb">
                    <option value="0" selected="selected">请选择</option>
                    <option value="1">纳税账户</option>
                    <option value="2">银行账户</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="layui-form" id="div_nszh" hidden>
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_back" onclick="location.href = '@Url.Action("XZGL_XZDA", "XZGL")'">返回</button>
        <button class="layui-btn" id="btn_add">新增</button>
        <button class="layui-btn" id="btn_dr">导入</button>
        <button class="layui-btn" id="btn_dc">导出</button>
        <button class="layui-btn" id="btn_find">查询</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">姓名：</label>
            <div class="layui-input-inline">
                <input type="text" id="find_gh" autocomplete="off" class="layui-input" onkeypress="if(window.event.keyCode==13) this.blur()" placeholder="（姓名/工号/证件号码）">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">公司：</label>
            <div class="layui-input-inline">
                <select id="find_gs" lay-filter="find_gs">
                    <option value="" selected="selected"></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">部门：</label>
            <div class="layui-input-inline" style="width: 300px;" id="find_dept_father">
                <select id="find_dept_child" lay-filter="find_dept_child">
                    <option value="0" selected="selected"></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">在职状态：</label>
            <div class="layui-input-inline" style="width: 250px;">
                <select xm-select="find_zzzt" id="find_zzzt" xm-select-height="36px"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">员工类别：</label>
            <div class="layui-input-inline">
                <select xm-select="find_yglb" id="find_yglb" xm-select-height="36px"></select>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="tb_xzda" lay-filter="tb_xzda"></table>
    <script type="text/html" id="barkh">
        <a class="layui-btn layui-btn-xs" lay-event="modify">编辑</a>
    </script>
</div>
<div class="layui-form" id="div_gzbzdwh" hidden>
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_back" onclick="location.href = '@Url.Action("XZGL_XZDA", "XZGL")'">返回</button>
        <button class="layui-btn" id="btn_add_yh">新增</button>
        <button class="layui-btn" id="btn_dr_yh">导入</button>
        <button class="layui-btn" id="btn_dc_yh">导出</button>
        <button class="layui-btn" id="btn_find_yh">查询</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">姓名：</label>
            <div class="layui-input-inline">
                <input type="text" id="find_gh_yh" autocomplete="off" class="layui-input" placeholder="（姓名/工号/证件号码）" onkeypress="if(window.event.keyCode==13) this.blur()">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">公司：</label>
            <div class="layui-input-inline">
                <select id="find_gs_yh" lay-filter="find_gs_yh">
                    <option value="" selected="selected"></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">部门：</label>
            <div class="layui-input-inline" id="find_dept_father_yh">
                <select id="find_dept_child" lay-filter="find_dept_child_yh">
                    <option value="0" selected="selected"></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">卡类别：</label>
            <div class="layui-input-inline">
                <select id="find_zhlb" lay-filter="find_zhlb">
                    <option value="0" selected="selected"></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">在职状态：</label>
            <div class="layui-input-inline">
                <select xm-select="find_zzzt_yh" id="find_zzzt_yh" xm-select-height="36px"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">员工类别：</label>
            <div class="layui-input-inline">
                <select xm-select="find_yglb_yh" id="find_yglb_yh" xm-select-height="36px"></select>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="tb_xzda_yh" lay-filter="tb_xzda_yh"></table>
    <script type="text/html" id="barkh">
        <a class="layui-btn layui-btn-xs" lay-event="modify">编辑</a>
    </script>
</div>
<div id="div_xzdainfo_add" class="layui-form" hidden>
    <div class="layui-form-item" id="divxzdainfo_add_ghshow">
        <div class="layui-inline">
            <label class="layui-form-label1">姓名：</label>
            <div class="layui-input-inline1" style="width: 495px;">
                <input type="text" id="xzdainfo_add_gh" autocomplete="off" class="layui-input" onkeypress="if(window.event.keyCode==13) this.blur()" placeholder="（姓名/工号/证件号码）">
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="divxzdainfo_add_ghonlyshow">
        <div class="layui-inline">
            <label class="layui-form-label1">工号：</label>
            <div class="layui-input-inline1" style="width: 495px;">
                <input type="text" id="xzdainfo_add_gh_show" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">姓名：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <input type="text" id="xzdainfo_add_xm" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">员工类别：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <input type="text" id="xzdainfo_add_yglb" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">公司：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <input type="text" id="xzdainfo_add_gs" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">部门：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <input type="text" id="xzdainfo_add_dept" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">证照类型：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <input type="text" id="xzdainfo_add_zzlx" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">证照号码：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <input type="text" id="xzdainfo_add_zzhm" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">纳税人身份：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <select id="xzdainfo_add_nsrsf" lay-filter="xzdainfo_add_nsrsf"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">纳税人识别号：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <input type="text" id="xzdainfo_add_nsrsbh" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
</div>
<div id="div_yhinfo_add" class="layui-form" hidden>
    <div class="layui-form-item" id="divyhinfo_add_ghshow">
        <div class="layui-inline">
            <label class="layui-form-label1">姓名：</label>
            <div class="layui-input-inline1" style="width: 495px;">
                <input type="text" id="yhinfo_add_gh" autocomplete="off" class="layui-input" onkeypress="if(window.event.keyCode==13) this.blur()" placeholder="（姓名/工号/证件号码）">
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="divyhinfo_add_ghonlyshow">
        <div class="layui-inline">
            <label class="layui-form-label1">工号：</label>
            <div class="layui-input-inline1" style="width: 495px;">
                <input type="text" id="yhinfo_add_gh_show" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">姓名：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <input type="text" id="yhinfo_add_xm" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">员工类别：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <input type="text" id="yhinfo_add_yglb" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">公司：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <input type="text" id="yhinfo_add_gs" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">部门：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <input type="text" id="yhinfo_add_dept" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">证照类型：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <input type="text" id="yhinfo_add_zzlx" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">证照号码：</label>
            <div class="layui-input-inline1" style="width: 185px;">
                <input type="text" id="yhinfo_add_zzhm" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="div_xzyhkh" style="margin-left:20px">
        <div class="layui-inline">
            <button class="layui-btn" id="btn_xzdainfo_add_yh">新增</button>
        </div>
    </div>
    <div id="div_xzdainfo_add_yh" class="layui-form">
        <table class="layui-hide" id="tb_xzdamx_add_yh" lay-filter="tb_xzdamx_add_yh"></table>
    </div>
    @*<div id="div_xzdainfo_add_yh_xg" class="layui-form">
            <table class="layui-hide" id="tb_xzdamx_add_yh_xg" lay-filter="tb_xzdamx_add_yh_xg"></table>
        </div>*@
</div>
<div class="layui-form" id="div_addyhk" hidden>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">卡类别：</label>
            <div class="layui-input-inline" style="width: 200px;">
                <select id="yhinfo_add_lb" lay-filter="yhinfo_add_lb">
                    <option value="0" selected="selected"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">开户银行：</label>
            <div class="layui-input-inline" style="width: 200px;">
                <select id="yhinfo_add_name" lay-filter="yhinfo_add_name">
                    <option value="0" selected="selected"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">银行账户：</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input type="text" id="yhinfo_add_zhno" autocomplete="off" placeholder="银行账户" class="layui-input">
            </div>
        </div>
    </div>
</div>
<div class="layui-form" id="div_xgzhxx" style="padding:20px" hidden>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 160px;">
                <select id="yhinfo_add_lb_zhxx" lay-filter="yhinfo_add_lb_zhxx">
                    <option value="0" selected="selected"></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 160px;">
                <select id="yhinfo_add_name_zhxx" lay-filter="yhinfo_add_name_zhxx">
                    <option value="0" selected="selected"></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 160px;">
                <input type="text" id="yhinfo_add_zhno_zhxx" autocomplete="off" placeholder="银行账户" class="layui-input">
            </div>
        </div>
    </div>
</div>
<div id="div_xzdainfo_add_ry" class="layui-form" hidden>
    <table class="layui-hide" id="tb_xzdamx_add_ry" lay-filter="tb_xzdamx_add_ry"></table>
</div>
<div id="div_mypw" class="layui-form" hidden>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">密钥密码：</label>
            <div class="layui-input-inline1">
                <input type="text" id="myinfo_mypw" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
</div>
<div id="div_daoru" class="layui-form" style="padding:30px;text-align:center" hidden>
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_download" style="width:150px">下载模版</button>
        <button class="layui-btn" id="btn_drmb" style="width:150px">导入</button>
    </div>
</div>
<div id="div_daoru_yh" class="layui-form" style="padding:30px;text-align:center" hidden>
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_download_yh" style="width:150px">下载模版</button>
        <button class="layui-btn" id="btn_drmb_yh" style="width:150px">导入</button>
    </div>
</div>
<div hidden>
    <input type="text" id="bl_mypw" value="@mypw">
    <input type="text" id="bl_ryid" value="">
</div>
@section scripts {
    @Scripts.Render("~/bundles/HR/XZGL/XZGL_XZDA_ZHMANAGE")
}
