@{
    ViewBag.Title = "考勤地址上传";
    Session["TITLENAME"] = "考勤地址上传";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
}
<div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
    <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
        <a href="@Url.Action("Address_Staff", "Staff")">
            <img class="layui-nav-img" src="~/Image/staff/AddressUpload.png" />
        </a>
        <br />
        <label class="layui-form-label-img">考勤地址上传</label>
    </div>
</div>
