@using Sonluk.UI.Model.CRM.CRM_LoginService;
@{
    ViewBag.Title = "test";
    //Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";


    string state = "";
    if (Session["state"] != null)
    {
        state = Session["state"].ToString();
    }
    //Session["NAME"] = null;
}


<script src="~/Scripts/jquery-1.8.2.js"></script>

@*<button id="123" class="layui-btn">123</button>*@
<audio id="Jaudio" src="http://dev.sonluk.com.cn/API/test.mp3" autoplay="autoplay" loop="loop"> </audio>

<script src="~/Scripts/layui2.2.5/layui.all.js"></script>
<script>
    $(document).ready(function () {
        //location.href = "https://dev.sonluk.com.cn/CRMmobile/FIVES/Score/GetCode?place=WX&POINTID=1";

        localStorage.setItem("place", "@state");

         function audioAutoPlay(id) {
                    var audio = document.getElementById(id);
                    audio.play();
                    document.addEventListener("WeixinJSBridgeReady", function () {
                        audio.play();
                    }, false);
                    document.addEventListener('YixinJSBridgeReady', function () {
                        audio.play();
                    }, false);
                }
                audioAutoPlay('Jaudio');

        $("#123").click(function () {

            $.ajax({
                type: "POST",
                async: false,
                url: "../Public/HttpDownloadWXimg",
                data: {
                    url: "",
                    path:""
                },
                success: function (resdata) {
                    //alert(resdata);
                    console.log(resdata);


                },
                error: function () {
                    alert("code1016,请联系管理员");
                }
            });
        });
    });



</script>
