@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*<script>
        $(document).ready(function () {
            window.open("http://192.168.0.135:8083/Areas/CRM/upload/2018/3/快递寄送审批单.xlsx");
        });
    </script>*@
