<html>
<head>
    <title>陈列</title>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <link href="~/Scripts/layui2.2.5/css/layui.css" rel="stylesheet" />
</head>
<body>


    <form id="form1" class="layui-form">

        <br />

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:90px">陈列类型：</label>
            <div class="layui-input-inline">
                <input id="area" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:90px">陈列方式：</label>
            <div class="layui-input-inline">
                <input id="staff" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:90px">备注：</label>
            <div class="layui-input-inline">
                <input id="remark" type="text" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="formDemo">上传照片</button>
                <img src="~/" />

            </div>
        </div>

    </form>





    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/layui2.2.5/layui.js"></script>
    <script>
        layui.use(['form', 'layer', 'element','laydate'], function () {
            var form = layui.form;
            var element = layui.element;
            var table = layui.table;
            var laydate = layui.laydate;

            laydate.render({
                elem: '#time'
            });


        });



    </script>

</body>

</html>
