<html>
<head>
    <title>竞品</title>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <link href="~/Scripts/layui2.2.5/css/layui.css" rel="stylesheet" />
</head>
<body>


    <form id="form1" class="layui-form">

        <br />

        <div class="layui-form-item">
            <label class="layui-form-label">竞品：</label>
            <div class="layui-input-inline" style="width:150px;">
                <select id="jingpin" lay-filter="jingpin">
                    <option value="0" selected="selected"></option>
                    <option value="1">数据来源</option>
                    <option value="2">数据来源</option>
                    <option value="3">数据来源</option>
                </select>
            </div>

        </div>





    </form>





    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/layui2.2.5/layui.js"></script>
    <script>
        layui.use(['form', 'layer', 'element','laydate'], function () {
            var form = layui.form;
            var element = layui.element;
            var table = layui.table;
            var laydate = layui.laydate;




        });



    </script>

</body>

</html>
