@{
    ViewBag.Title = "促销单品";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
    Session["TITLENAME"] = "促销单品";
}

<script type="text/html" id="tb_area">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>

<h2 id="h1" style="margin:0 10px"></h2>
<h2 id="h2" style="margin:0 10px"></h2>


<hr class="layui-bg-black" />


<div id="div_result" style="margin:0 10px">

</div>
<br />
<hr class="layui-bg-black" />
<br />
<div id="004" hidden>

    <h2 class="layui-colla-title" id="htitle">新增促销单品</h2>
    <br />

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:100px">单品名称：</label>
        <div class="layui-input-block">
            <select id="DPname16" lay-filter="DPname16" lay-ignore>
                <option value="0" selected="selected"></option>
            </select>
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:100px">LKA渠道重叠：</label>
        <div class="layui-input-block">
            <select id="ischongdie16" lay-filter="ischongdie16" lay-ignore>
                <option value="0" selected="selected">否</option>
                <option value="1">是</option>
            </select>
        </div>

    </div>
    <div class="layui-form" style="width:100%;">
        <div class="layui-form-item" style="margin:0">
            <br />
            <button id="btn_save_cuxiao" class="layui-btn" lay-filter="btn_save_cuxiao" style="width:49%;">保存</button>

            <button id="btn_nosave_cuxiao" class="layui-btn layui-btn-danger" lay-filter="btn_nosave_cuxiao" style="width:49%;margin: 0;" hidden>取消</button>
        </div>
    </div>
</div>

<input id="action_status" hidden value="insert" />
<input id="zibiao_id" hidden />




@section scripts {
    @Scripts.Render("~/bundles/CRM/KeHu/CuXiao")
}