@{
    ViewBag.Title = "客户分组";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
    Session["TITLENAME"] = "客户分组";
}

<h2 id="h1" style="margin:0 10px"></h2>
<h2 id="h2" style="margin:0 10px"></h2>


<hr class="layui-bg-black" />


<div id="div_result" style="margin:0 10px">

</div>
<br />
<hr class="layui-bg-black" />
<br />





<div id="div_to_group" hidden>

    <h2 class="layui-colla-title" id="htitle">分配客户到组</h2>
    <br />
    <div class="layui-form-item">
        <label class="layui-form-label">分组：</label>
        <div class="layui-input-inline" style="width:150px;">
            <select id="DDLgroup" lay-filter="jingpin005">
                <option value="0" selected="selected">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" style="width:100%; margin:0">
        <div class="layui-input-inline" style="width:100%; margin:0">
            <button id="btn_save_group" class="layui-btn" style="width:100%">保存</button>
        </div>
    </div>
</div>



@section scripts {
    @Scripts.Render("~/bundles/CRM/KeHu/Group")
}
