@{
    ViewBag.Title = "客户信息";
    Session["TITLENAME"] = "客户信息";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-1.8.2.js"></script>



<div>
    <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
        <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
            <a href="@Url.Action("Insert", "KeHu")">
                <img class="layui-nav-img" src="~/Image/kehu/new.png" />
            </a>
            <br />
            <label class="layui-form-label-img">新建客户</label>
        </div>
    </div>

    <div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
        <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
            <a href="@Url.Action("Select", "KeHu")">
                <img class="layui-nav-img" src="~/Image/kehu/list.png" />
            </a>
            <br />
            <label class="layui-form-label-img">客户列表</label>
        </div>
    </div>

    @*<div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
            <div class="grid-demo grid-demo-bg1" align="center" style="margin:10px auto;">
                <a href="@Url.Action("SAP", "KeHu")">
                    <img class="layui-nav-img" src="~/Image/kehu/SAP.png" />
                </a>
                <br />
                <label class="layui-form-label-img">SAP匹配</label>
            </div>
        </div>*@

    @*<div class="layui-col-xs4 layui-col-sm2 layui-col-md1">
            <div class="grid-demo grid-demo-bg1" align="center">
                <a href="">
                    <img class="layui-nav-img" src="~/Image/kehu/spaceArea.png" />
                </a>
                <br />
                <label class="layui-form-label-img">空白区域报表</label>
            </div>
        </div>*@


</div>



<div class="layui-tab" hidden>
    <ul class="layui-tab-title">
        <li class="layui-this">拜访计划</li>
        <li>最近拜访记录</li>
    </ul>

</div>








<script src="~/Scripts/layui2.2.5/layui.all.js"></script>
