@{
    ViewBag.Title = "SAP匹配";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
    Session["TITLENAME"] = "SAP匹配";
}

<div id="form1" class="layui-form">

    <div class="layui-form-item" style="margin:0 0">

        <button id="btn_PP" class="layui-btn" style="width:100%;">SAP匹配</button><br />

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">客户编号：</label>
        <div class="layui-input-block" style="margin-left: 100px;">
            <input id="khID" type="text" autocomplete="off" class="layui-input">
        </div>
    </div>
    <br />
    <div class="layui-form-item">
        <label class="layui-form-label">SAP编号：</label>
        <div class="layui-input-block" style="margin-left: 100px;">
            <input id="sap" type="text" autocomplete="off" class="layui-input">
        </div>
    </div>
</div>





<script>
    $(document).ready(function () {
        var form = layui.form;
        $("#daochu").click(function () {
            //新增区域信息
            return false;
        });
    });
</script>

@section scripts {
    @Scripts.Render("~/bundles/CRM/KeHu/SAP")
}
