@{
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "客户列表";
    Session["TITLENAME"] = "客户列表";
}







<div id="from1">
    <div id="div1">

        <div class="layui-form-item" style="width:100%;margin:0;background-color:#009688">
            <button id="btn_cx" class="layui-btn" lay-submit lay-filter="formDemo" style="width:100%">查询</button>


            <button id="submit_OA" class="layui-btn" style="width:49%;margin-left:0;display:none">提交</button>

        </div>


        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">查询条件</h2>
                <div id="div_select_tiaojian" class="layui-colla-content layui-show" style="padding-right: 0px;">


                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">客户性质：</label>
                        <div class="layui-input-inline">
                            <select id="isofficial" lay-filter="isofficial">
                                <option value="0">请选择</option>
                                <option value="20">签约客户 </option>
                                <option value="30">非签约客户 </option>
                                <option value="10">潜在客户</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">客户类型：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="KHtype" lay-filter="KHtype">
                                <option value="0" selected="selected">请选择</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">卖场属性：</label>
                        <div class="layui-input-inline">
                            <select id="mcsx_type" lay-filter="mcsx_type">
                                <option value="0">全部</option>
                                <option value="1">系统</option>
                                <option value="2">门店</option>
                            </select>
                        </div>

                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">客户编号：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <input id="KH_ID" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">客户名称：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <input id="KH_name" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">SAP编号：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <input id="sap" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">客户组：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="to_group008" lay-filter="to_group008">
                                <option value="0" selected="selected">请选择</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">

                        <label class="layui-form-label" style="width:100px; text-align:right;">提交状态：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="submit_status" lay-filter="submit_status">
                                <option value="0">全部</option>
                                <option value="1">未提交</option>
                                <option value="2">已提交</option>
                                <option value="3">已审核</option>
                            </select>
                        </div>

                    </div>

                    <div class="layui-form-item">


                        <label class="layui-form-label" style="width:100px; text-align:right;">上级客户名称：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <input id="PKH_name" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>

                    </div>

                    <div class="layui-form-item">


                        <label class="layui-form-label" style="width:100px; text-align:right;">上级客户编号：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <input id="PCRMID" type="text" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>

                    </div>

                    @*<div class="layui-form-item">

                        <label class="layui-form-label" style="width:100px; text-align:right;">省份：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="province4" lay-filter="province4">
                                <option value="0" selected>请选择</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">城市：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="city4" lay-filter="city4">
                                <option value="0" selected>请选择</option>
                            </select>
                        </div>

                    </div>
                    <div class="layui-form-item">

                        <label class="layui-form-label" style="width:100px; text-align:right;">销售组织：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="xszz" lay-filter="xszz">
                                <option value="0" selected="selected">请选择</option>
                                <option value="1100">1100</option>
                                <option value="1200">1200</option>
                                <option value="1400">1400</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:100px; text-align:right;">业务员：</label>
                        <div class="layui-input-block" style="margin-left:110px; left:-1px;">
                            <select id="saler" lay-filter="saler" lay-search>
                                <option value="0" selected="selected">请选择</option>
                            </select>
                        </div>

                    </div>*@

                    
                    

                    <div class="layui-form-item">

                        <label class="layui-form-label">新建时间：</label>
                        <div class="layui-input-inline">
                            <input id="time_start" type="date" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>

                        <label class="layui-form-label" style="width:130px;">至：</label>
                        <div class="layui-input-inline">
                            <input id="time_end" type="date" name="title" placeholder="" autocomplete="off" class="layui-input">
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <br /><br />
        @*<table id="result" lay-filter="result"></table>*@

        <div id="div_result" style="margin:0 10px">

        </div>


    </div>






</div>




@*<script>
        $(document).ready(function () {
            $("#reset").trigger('click');
        });
    </script>*@










@section scripts {
    @Scripts.Render("~/bundles/CRM/KeHu/Select")
}