body {
}


.root {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.glyph {
    cursor:pointer;
}

.beta-title {
    cursor: pointer;
}

.beta-title-item-input {
    margin: 0;
    height: 100%;
    border: none;
    width: 150px;
    background-color: transparent;
}
.beta-create-button {
    background-color: #f1f1f1;
}
.gamma-set {
    display: none;
}

.gamma-create-button {
    background-color: #f1f1f1;
    float: left;
}

.gamma-half {
    width: 255px;
}

.gamma-title-item-input {
    margin: 0;
    height: 100%;
    border: none;
    width: 80px;
    background-color: transparent;
    color: #666;
}
.gamma-unsave {
   display:none; 
}
/*input[type=text] {
    margin: 0;
    height: 100%;
    border: none;
    width: 50px;
    background-color: transparent;
    color: #666;
    background-color:#000000;
    color:#ffffff;
}*/
/*.panel-pop-up-content {
    width:450px;
}*/

.edit-route {
    width:450px;
}
.edit-price {
    float:left;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
}
.edit-price-table {
    width:100%;
    
}
.edit-price-new {
    display:none;
}
 .panel-pop-up-background-city-select {
    z-index:1001;
}
 .drop-list {
    z-index:9999;
}

.panel-pop-up-edit-item-input {
    width:100px;
}


.edit-price-table input {
    width:100%;
    background-color: transparent;
}
.edit-price-table td {
    font-size: 13px;
    height:24px;
}

.edit-price-table .glyph {
    margin-top:4px;
}
.edit-price-col {
    width:108px;
}
.edit-price-col-remove {
    width:50px;
}

