.control-area {
    margin-top:4px;
    margin-bottom:20px;
    overflow:hidden;
}
.control-area-btn {
    float:left;
    margin-top:4px;
    margin-left:10px;
    margin-right:10px;
    padding-left:10px;
    padding-right:10px;
    cursor:pointer;
    
}

.print-edit-area {
    position:relative;
    margin:auto;
width:20.1cm;height:14.5cm;
    background-color:#c1c1c1;
}


.move {
    position:absolute;
    top:10px;
    left:10px;
    margin-top:4px;
    margin-left:10px;
    margin-right:10px;
    width:100px;
    height:20px;
    background-color:#ffffff;
    cursor:move;
}
