.consignment-note table {
    width: 779px;
    font-size: 13px;
}

td {
    border: 1px solid #34495e;
}

input {
    border: none;
}

    input:focus {
        outline: 0;
    }

textarea {
    border: none;
}

    textarea:focus {
        outline: 0;
    }

.consignment-note {
    margin-top: 10px;
}
.item-title {
    /*background:#3498db;
    color:#fff;*/
    background:#cce3f4;
    /*background:#f1f1f1;*/
    /*font-weight:bold;*/
}

.table-logistics-info {
}

    .table-logistics-info td {
        text-align: left;
    }

    .table-logistics-info input {
        width: 94%;
    }

.table-logistics-info-title {
    width: 60px;  
}

.table-logistics-info-content {
}


.table-logistics-cost-text-align-center{
    text-align:center !important;
}

.table-logistics-cost {
}

    .table-logistics-cost tr {
        height: 21px;
    }

    .table-logistics-cost td {
        text-align: left;
    }

    .table-logistics-cost input {
        /*border:1px solid #000;*/
        text-align: right;
        width: 96%;
    }

.table-logistics-cost-title {
    width: 60px;
}

.table-logistics-cost-goods-type {
    width: 45px;
}

.unit-price {
    width: 50px !important;
}


.table-logistics-remark {
}

    .table-logistics-remark td {
        text-align: left;
    }

    .table-logistics-remark input[type=text] {
        width: 98%;
    }

.table-logistics-remark-title {
    width: 60px;
}

.table-logistics-remark-textarea {
    width: 98%;
    height: 94%;
    resize: none;
}


.table-width-2 {
    width: 2.2em;
}

.table-width-3 {
    width: 3.3em;
}

.panel-pop-up-background-city-select {
    z-index:1001;
}
.panel-pop-up-body {
    /*width:300px;
    background-color:#d4d4d4;
    overflow-x: hidden;*/
}

.panel-pop-up-content {
    width: 300px;
    height: 100%;
    background-color: #d4d4d4;
    overflow-x: hidden;
    float: left;
}

.panel-pop-up-edit {
    width: 350px;
    height: 100%;
    background-color: #d4d4d4;
    float: left;
}

.panel-pop-up-edit-receiver {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.panel-pop-up-edit-destination {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.panel-pop-up-edit-item {
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    /*border:1px solid #000000;*/
    height: 23px;
    font-size: 13px;
    float: left;
    overflow: hidden;
    vertical-align: middle;
    line-height: 20px;
}

.panel-pop-up-edit-item-title {
    float: left;
    width: 60px;
    height: 20px;
    text-align: left;
    line-height: 20px;
}

.panel-pop-up-edit-item-input {
    display: inline-block;
    float: left;
    width: 264px;
    height: 16px;
    margin: 0;
    border: 1px solid #abadb3;
    color: #888;
    cursor: text;
    text-align: left;
    vertical-align: middle;
    background-clip: padding-box;
    font-size: 100%;
}
.panel-pop-up-edit-item-input-error{
    border:1px solid #e74c3c;

}
.panel-pop-up-edit-control {
    width: 100%;
    height: auto;
    float: left;
}

    .panel-pop-up-edit-control div {
        margin: 10px;
    }

.panel-pop-up-node {
    width: 100%;
    height: 14px;
    line-height: 14px;
    font-size: 13px;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

    .panel-pop-up-node:hover {
        background-color: #cce3f4;
    }

.panel-pop-up-node-serial-number {
    float: left;
    width: 45px;
    height: 14px;
    line-height: 14px;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
}

.panel-pop-up-node-name {
    float: left;
    margin-left:10px;
    width: 220px;
    height: 14px;
    line-height: 14px;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.panel-pop-up-children {
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    display: none;
    background-color: #fff;
}

.panel-pop-up-child {
    width: 100%;
    height: 14px;
    line-height: 14px;
    font-size: 13px;
    text-align: left;
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    color: #000;
}

    .panel-pop-up-child:hover {
        background-color: #cce3f4;
    }

.panel-pop-up-child-content {
    width: 100%;
    height: 14px;
    line-height: 14px;
    font-size: 13px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 25px;
}


.panel-pop-up-search {
    float: left;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #d4d4d4;
    width: 100%;
    height: 25px;
    text-align: center;
}

.panel-pop-up-search-keyword {
    float: left;
    width: 538px;
}

    .panel-pop-up-search-keyword input {
        margin-left: 4px;
        margin-top: 2px;
        width: 100%;
        height: 19px;
        padding-left: 4px;
        /*background-color:transparent;*/
    }

.panel-pop-up-search-submit {
    float: right;
    cursor: pointer;
    border-left: 1px solid #fff;
    background-color: #2980B9;
    width: 100px;
    height: 100%;
}

    .panel-pop-up-search-submit:hover {
        background-color: #3498db;
    }

.panel-pop-up-search-submit-icon {
    margin: auto;
    width: 24px;
    height: 24px;
}
.consignment-note-status {
    color:#e74c3c;
}
