
.panel-search-textarea-target {
    margin-right:2px;
}


.panel-pop-up-body {
    overflow: hidden;
    background-color: #d4d4d4;
}

.panel-pop-up-content {
    width: 800px;
    height: 360px;
    background-color: #fff;
    overflow: auto;
    float: left;
}

.panel-pop-up-edit {
    width: 200px;
    height: 100%;
    background-color: #d4d4d4;
    float: left;
}

.panel-pop-up-table td {
    white-space: nowrap;
    border: 1px solid #d4d4d4;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    font-size: 12px;
}

.panel-pop-up-table-row-selected {
    background-color: #cce3f4;
}

.drop-list {
    z-index:9999;
}

.panel-pop-up-edit-receiver {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    overflow: hidden;
}


.panel-pop-up-edit-item {
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    /*border:1px solid #000000;*/
    /*height: 23px;*/
    font-size: 13px;
    float: left;
    overflow: hidden;
    vertical-align: middle;
    line-height: 20px;
}

.panel-pop-up-edit-item-title {
    float: left;
    width: 60px;
    height: 20px;
    text-align: left;
    line-height: 20px;
}

.panel-pop-up-edit-item-input {
    display: inline-block;
    float: left;
    width: 116px;
    height: 16px;
    margin: 0;
    border: 1px solid #abadb3;
    color: #888;
    cursor: text;
    text-align: left;
    vertical-align: middle;
    background-clip: padding-box;
    font-size: 100%;
}

.panel-pop-up-edit-control {
    width: 100%;
    height: auto;
    float: left;
}

    .panel-pop-up-edit-control div {
        margin: 10px;
    }


