@{
    ViewBag.Title = "新包装任务管理";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}
<span class="layui-breadcrumb">
    <a>电子文档系统管理</a>
    <a><cite>新包装任务管理</cite></a>
</span>
<script type="text/html" id="status">
    {{# if(d.STATUS == 1){ }}
    已发起
    {{# }else if(d.STATUS == 2){ }}
    已接收
    {{# }else if(d.STATUS == 3){ }}
    已完成

    {{# } }}
</script>
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script type="text/html" id="bar">
    {{# if(d.STATUS == 1){ }}
    <a class="layui-btn  layui-btn-xs" lay-event="js">接收</a>
    <a class="layui-btn  layui-btn-xs  layui-btn-disabled" style="pointer-events: none;" lay-event="wc">完成</a>
    {{# }else if(d.STATUS == 2){ }}
        <a class="layui-btn  layui-btn-xs layui-btn-disabled" style="pointer-events: none;" lay-event="js">接收</a>
        {{# if(d.BBNAME != '') {}}
        <a class="layui-btn  layui-btn-xs " lay-event="wc">完成</a>
        {{# }else{ }}
        <a class="layui-btn  layui-btn-xs  layui-btn-disabled" style="pointer-events: none;" lay-event="wc">完成</a>
        {{# } }}
    {{# }else{ }}
    <a class="layui-btn  layui-btn-xs layui-btn-disabled" style="pointer-events: none;" lay-event="js">接收</a>
    <a class="layui-btn  layui-btn-xs layui-btn-disabled" style="pointer-events: none;" lay-event="wc">完成</a>
    {{# } }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="ht">回退</a>
</script>
<input type="hidden" value="@Url.Action("MISSION_Read", "System")" id="MISSION_Read" />
<input type="hidden" value="@Url.Action("MISSION_Update", "System")" id="MISSION_Update" />
<input type="hidden" value="@Url.Action("MISSION_Read_Unfinish", "System")" id="MISSION_Read_Unfinish" />
<div class="layui-form layui-form-pane" style="margin-top:10px">
    <div class="layui-form-item">
        <button id="btn_cx" class="layui-btn">查询</button>
        <button id="btn_alljs" class="layui-btn">全部接收</button>
        <button id="btn_allwc" class="layui-btn">全部完成</button>
        <button id="btn_yj" class="layui-btn">预警时间</button>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">任务单</label>
        <div class="layui-input-inline">
            <input type="text" id="it_MISSION" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">物料号</label>
        <div class="layui-input-inline">
            <input type="text" id="it_MATNR" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">销售订单</label>
        <div class="layui-input-inline">
            <input type="text" id="it_VBELN" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">行项目</label>
        <div class="layui-input-inline">
            <input type="text" id="it_POSNR" autocomplete="off" class="layui-input">
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">任务状态</label>
        <div class="layui-input-inline">
            <select id="st_status" lay-filter="st_status">
                @*<option value="0" >请选择</option>*@
                <option value="1" selected="selected">已发起</option>
                <option value="2">已接收</option>
                <option value="3">已完成</option>
            </select>
        </div>
        <label class="layui-form-label">创建者</label>
        <div class="layui-input-inline">
            <input type="text" id="it_CJR" autocomplete="off" class="layui-input">
        </div>

        <label class="layui-form-label">创建日期：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="date" id="in_cjrq_begin" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid">-</div>
        <div class="layui-input-inline" style="width: 100px;">
            <input type="text" name="date" id="in_cjrq_end" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
        </div>
        
    </div>
    <div class="layui-form-item">
        <table class="layui-hide" id="tb_missiontable" lay-filter="tb_missiontable"></table>
    </div>
</div>
<div id="div_yj" class="layui-form " style="text-align:center" hidden>

    <div class="layui-form-item" style="margin:30px ">
        <label class="layui-form-label">预警时间(天)</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="it_yjsj" />
        </div>

    </div>



</div>








@section scripts {
    @Scripts.Render("~/bundles/EM/system/MISSION_GL")
}
