@{
    ViewBag.Title = "电子指导书查询";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}
<input type="hidden" value="@Url.Action("SELECTPATHbyID", "System")" id="SELECTPATH" />
<input type="hidden" value="@Url.Action("downphoto", "System")" id="downphoto" />
<input type="hidden" value="@Url.Action("SelectPathConvertUrl", "System")" id="SelectPathConvertUrl" />
<span class="layui-breadcrumb" lay-separator>
    <a>电子文档系统管理</a>
    <a><cite>电子文档查询</cite></a>

</span>
<div class="layui-form">
    <br />
    <div class="layui-form-item layui-form-pane">
        <input type="text" name="in_tm" placeholder="请扫描条码/设备编号" autocomplete="off" class="layui-input" id="in_tm" onkeypress="if(window.event.keyCode==13) this.blur()">


    </div>


</div>
<br /><br />
<div id="fileinfolist">
</div>














@section scripts {
    @Scripts.Render("~/bundles/EM/system/SELECT_EM")
}
