input:focus {
    outline: 0;
}


.print-layout-edit {
    
    padding-bottom:10px;
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
}

.print-layout-edit-control-panel {

    margin-top: 4px;
    margin-bottom: 20px;
    width:100%;
    height:auto;
    overflow: hidden;
}
.print-layout-edit-control-edit {
    margin-top: 8px;
    margin-bottom: 10px;
    width:100%;
    overflow: hidden;
    box-sizing:border-box;
}
.print-layout-edit-control-edit-style {
    
    border:1px solid #3498db;
    border-radius:3px;
    padding-left:2px;
    width:90%;
    overflow: hidden;
    box-sizing:border-box;
    float:left;
}

.print-layout-edit-control-edit-style-sheet {
    border:none;
    width:100%;
    box-sizing:border-box;
}
.print-layout-edit-control-edit-delete {
    display:none;
    margin-bottom: 0px;
    margin-top: 0px;
}

.print-layout-edit-page {
    position: relative;
    margin: auto;
    width: 800px;
    height: 500px;
    border:1px solid #c1c1c1;
    background-color: #c1c1c1;
}

.print-layout-edit-control {
    position: absolute;
    top: 10px;
    left: 10px;
    border:1px solid #fff;
    width: 100px;
    height: 20px;
    cursor: move;
}

.print-layout-edit-control-input {
    border:none;
    width:100%;
    cursor: move;
    background: transparent;
}

.print-layout-edit-control-input:focus {
    cursor: move;
    width:100%;
    outline: 0;
}

.selected {
    border:1px solid #3498db;
}
