@using Sonluk.UI.Model.LE.TRA.GoodsService
@model IEnumerable<GoodsInfo>
<div class="drop-list-body">
    <ul>
        @foreach (GoodsInfo type in Model)
        {
            <li>
                <div class="drop-list-item">@type.Type</div>
                <input type="hidden" value="@type.TypeID">
            </li>
        }
    </ul>
</div>