@{
    ViewBag.Title = "托盘查询";
}

@Html.Partial("~/Areas/WMS/Views/Shared/WMSHttp.cshtml")

<span class="layui-breadcrumb"></span>

<br />
<br />

@section scripts {
    <script src="~/Scripts/Helper/multirights.js"></script>
    <script>
        sonluk.global.getResources();
        layui.use(['table', 'layer', 'form', 'element', 'laydate'], function () {
            sonluk.layui.breadcrumbefix();
        });
    </script>
}