@{
    ViewBag.Title = "质量日报表";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}

<span class="layui-breadcrumb" lay-separator=">">
    <a>MES查询</a>
    <a><cite>质量日报表查询</cite></a>
</span>

<br />
<br />

<div class="layui-form">
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_export">预览报表</button>
        <button class="layui-btn layui-btn-disabled" id="btn_download">导出报表</button>
    </div>
    <br />
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">生产线：</label>
            <div class="layui-input-block">
                <select name="city" lay-verify="required" id="SDLINE">
                    <option value="">全部</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-inline">
                <label class="layui-form-label">具体年月：</label>
                <div class="layui-input-inline">
                    <input type="text" id="find_data_m" autocomplete="off" class="layui-input" placeholder="请选择">
                </div>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="tb_bd" lay-filter="tb_bd"></table>
</div>

@section scripts {
    @Scripts.Render("~/bundles/MES/YCLSY/BAT_QLTY_REPORT")
}
