@{
    ViewBag.Title = "新增喷码(采购)";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    string Staffid = "";
    if (Session["STAFFID"] != null)
    {
        Staffid = Session["STAFFID"].ToString();
    }
}



<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>防窜货管理</a>
    <a><cite>新增喷码(采购)</cite></a>
</span>
<br />
<br />

<div id="div_jump" class="layui-form layui-form-pane" style="margin-left:10px">
    <div id="div1" class="layui-form">
        <div class="layui-form-item">

            <button id="btn_cx" class="layui-btn">查询</button>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">采购订单：</label>
            <div class="layui-input-inline">
                <input id="ebeln" type="text" placeholder="请输入采购订单" autocomplete="off" class="layui-input">

            </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">行项目：</label>
            <div class="layui-input-inline">
                <input id="ebelp" type="text" placeholder="请输入行项目" autocomplete="off" class="layui-input">

            </div>
        </div>


        <hr class="layui-bg-black" />
        <div class="layui-form-item">

            <label class="layui-form-label" style="width:120px;text-align:right;">物料号：</label>
            <div class="layui-input-inline" style="width:300px;">
                <input id="WLH" type="text" autocomplete="off" class="layui-input">
            </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">物料号描述：</label>
            <div class="layui-input-inline" style="width:300px;">
                <input id="Material_Name" type="text" autocomplete="off" class="layui-input">
            </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">日期唛：</label>
            <div class="layui-input-inline" style="width:300px;">
                <input id="date" type="text" autocomplete="off" class="layui-input">
            </div>


        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">缩数/箱：</label>
            <div class="layui-input-inline" style="width:300px;">
                <input id="count" type="text" autocomplete="off" class="layui-input">
            </div>


        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;text-align:right;">固定喷码：</label>
            <div class="layui-input-inline" style="width:300px;">
                <select id="isTuiHuo" lay-filter="isTuiHuo">
                    <option value="0" selected="selected">否</option>
                    <option value="1">是</option>
                </select>
            </div>
            <label style="color:gray;padding:8px 0;float:left;">固定喷码适用于退货</label>

        </div>

        <hr class="layui-bg-black" />
        <div class="layui-input-inline">
            <button id="btn_save" class="layui-btn" style="margin-left: 0px;" hidden>生成喷码</button>
        </div>

    </div>





</div>





<input id="staffid" hidden />

<script src="~/Scripts/layui2.2.5/layui.all.js"></script>
<script>
    $(document).ready(function () {
        $("#staffid").val("@Staffid");

    });
</script>

@section scripts {
    @Scripts.Render("~/bundles/CRM/FCH/Insert_PM_CG")
}