@using Sonluk.UI.Model.LE.TRA.UnitService
@model IEnumerable<UnitInfo>
<div class="drop-list-body">
    <ul>
        @foreach (UnitInfo unit in Model)
        {
            <li>
                <div class="drop-list-item">@unit.Symbol</div>
                <input type="hidden" value="@unit.ID">
            </li>
        }
    </ul>
</div>