@{
    ViewBag.Title = "假情查询";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
}
<script type="text/javascript" src="~/Scripts/ztree/jquery.ztree.all.js"></script>
<script type="text/javascript" src="~/Scripts/ztree/selectTree.js"></script>
<script type="text/javascript" src="~/Scripts/layui2.2.5/extend/formSelects-v4.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/ztree/plugin/css/index.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/layui2.2.5/css/formSelects-v4.css">
<script type="text/html" id="barkh">
    <a class="layui-btn layui-btn-xs" lay-event="modify">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
</script>
<script type="text/html" id="barkh1">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
</script>
<span class="layui-breadcrumb" lay-separator=">">
    <a>HR考勤管理</a>
    <a><cite>假情查询</cite></a>
</span>
<div class="layui-form">
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_daochu">导出</button>
        <button class="layui-btn" id="btn_find">查询</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label1">公司：</label>
            <div class="layui-input-inline">
                <select id="find_gs" lay-filter="find_gs">
                    <option value="" selected="selected"></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label1">归属部门：</label>
            <div class="layui-input-inline" style="width: 300px;" id="find_dept_father">
                <select id="find_dept_child" lay-filter="find_dept_child">
                    <option value="0" selected="selected"></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">姓名：</label>
            <div class="layui-input-inline">
                <input type="text" id="find_gh" autocomplete="off" class="layui-input" placeholder="（姓名/工号/证件号码）" onkeypress="if(window.event.keyCode==13) this.blur()">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">报表日期：</label>
            <div class="layui-input-inline">
                <input type="text" id="find_ksdate" autocomplete="off" class="layui-input" readonly="readonly" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline">
                <input type="text" id="find_jsdate" autocomplete="off" class="layui-input" readonly="readonly" value="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>
        </div>
    </div>
    <table class="layui-hide" id="tb_deptkq" lay-filter="tb_deptkq"></table>
</div>
<div class="layui-form" id="div_qjinfo_add" hidden>
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_daoru">批量导入</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px;">假情类别：</label>
            <div class="layui-input-inline" style="width: 150px;">
                <select id="qjinfo_add_qjlb" lay-filter="qjinfo_add_qjlb"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px;">天数：</label>
            <div class="layui-input-inline" style="width: 150px;">
                <input type="text" id="qjinfo_add_daycount" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px;">开始日期：</label>
            <div class="layui-input-inline" style="width: 150px;">
                <input type="text" id="qjinfo_add_ksdate" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px;">结束日期：</label>
            <div class="layui-input-inline" style="width: 150px;">
                <input type="text" id="qjinfo_add_jsdate" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px;">姓名：</label>
            <div class="layui-input-inline" style="width: 300px;">
                <input type="text" id="qjinfo_add_gh" autocomplete="off" class="layui-input" onkeypress="if(window.event.keyCode==13) this.blur()" placeholder="（姓名/工号/证件号码）">
            </div>
        </div>
    </div>
    <table class="layui-hide" id="tb_deptkqrylist" lay-filter="tb_deptkqrylist"></table>
</div>
<div class="layui-form" id="div_qjinfo" hidden>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px;">工号：</label>
            <div class="layui-input-inline" style="width: 150px;">
                <input type="text" id="qjinfo_gh" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px;">姓名：</label>
            <div class="layui-input-inline" style="width: 150px;">
                <input type="text" id="qjinfo_ygname" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px;">假情类别：</label>
            <div class="layui-input-inline" style="width: 150px;">
                <select id="qjinfo_qjlb" lay-filter="qjinfo_qjlb"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px;">天数：</label>
            <div class="layui-input-inline" style="width: 150px;">
                <input type="text" id="qjinfo_daycount" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px;">开始日期：</label>
            <div class="layui-input-inline" style="width: 150px;">
                <input type="text" id="qjinfo_ksdate" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 70px;">结束日期：</label>
            <div class="layui-input-inline" style="width: 150px;">
                <input type="text" id="qjinfo_jsdate" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
    </div>
</div>
<div class="layui-form" id="div_report_cqtjb" hidden>
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_report_daochu">导出</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">公司：</label>
            <div class="layui-input-inline" style="width: 200px;">
                <select id="report_cqtjb_gs" lay-filter="report_cqtjb_gs">
                    <option value="" selected="selected"></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">归属部门：</label>
            <div class="layui-input-inline" style="width: 200px;" id="report_cqtjb_dept_father">
                <select id="report_cqtjb_child" lay-filter="report_cqtjb_child"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">考勤月份：</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input type="text" id="report_cqtjb_gh" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <table class="layui-hide" id="tb_deptkq" lay-filter="tb_deptkq"></table>
</div>
<div id="div_xzdainfo_add_ry" class="layui-form" hidden>
    <table class="layui-hide" id="tb_xzdamx_add_ry" lay-filter="tb_xzdamx_add_ry"></table>
</div>
<div id="div_daoru" class="layui-form" style="padding:30px;text-align:center" hidden>
    <div class="layui-form-item">
        <button class="layui-btn" id="btn_download" style="width:150px">下载模版</button>
        <button class="layui-btn" id="btn_drmb" style="width:150px">导入</button>
    </div>
</div>
<div hidden>
    <input type="text" id="bl_ryid" value="">
</div>
@section scripts {
    @Scripts.Render("~/bundles/HR/KQGL/KQ_QJ_REPORT")
}