<div class="drop-list-body">
    <ul>
        <li>
            <div class="drop-list-item">货物淋湿</div>
            <input type="hidden" value="0">
        </li>
        <li>
            <div class="drop-list-item">包装破损</div>
            <input type="hidden" value="1">
        </li>
        <li>
            <div class="drop-list-item">包装污染</div>
            <input type="hidden" value="2">
        </li>
        <li>
            <div class="drop-list-item">货物损坏</div>
            <input type="hidden" value="3">
        </li>
        <li>
            <div class="drop-list-item">货物短缺</div>
            <input type="hidden" value="4">
        </li>
    </ul>
</div>