<div class="drop-list-body">
    <ul>
        <li>
            <div class="drop-list-item">电话投诉</div>
            <input type="hidden" value="0">
        </li>
        <li>
            <div class="drop-list-item">邮件投诉</div>
            <input type="hidden" value="1">
        </li>
        <li>
            <div class="drop-list-item">其他投诉</div>
            <input type="hidden" value="2">
        </li>
    </ul>
</div>