@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "错误";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/error")
@Styles.Render("~/Content/access/error")
<div class="content-header">
    <div class="content-header-nav">
        <a href="#">系统</a>
        >
        <a href="#">错误</a>
    </div>
</div>
<div class="error color-content-background">
    <div class="error-title color-error-background">出现错误！</div>
    <table class="error-table">
        <tr>
            <td class="error-table-message">@Model.Exception</td>
        </tr>
    </table>
</div>
