@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "企业基本情况编辑";

    string Staffid = "";
    if (Session["STAFFID"] != null)
    {
        Staffid = Session["STAFFID"].ToString();
    }
}
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/html" id="shangxiawu">
    {{# if(d.CCSJLX == 1){ }}
    上午
    {{# }else if(d.CCSJLX == 2){ }}
    下午
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="zhuangtai">
    {{# if(d.ISACTIVE == 1){ }}
    启用
    {{# }else { }}
    未启用
    {{# } }}
</script>

<script type="text/html" id="bar_TT">
    <a class="layui-btn layui-btn-xs" lay-event="watch">查看</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>

<script type="text/html" id="tb_fujian">
    <a class="layui-btn layui-btn-xs" lay-event="watch">查看</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>

<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>企业介绍</a>
    <a><cite>企业基本情况编辑</cite></a>
</span>
<br />
<br />

<div class="layui-form">
    <div class="layui-form-item">

        <button id="btn_cx" class="layui-btn" >查询</button>
        <button id="btn_back" class="layui-btn" style="display:none;">返回</button>
        <button id="btn_insert" class="layui-btn" style="display:none;">新增</button>
    </div>

    

    <div id="div_TT">
        <table id="tb_TT" lay-filter="tb_TT"></table>
    </div>
    

    <div id="div_MX">
        <table id="tb_MX" lay-filter="tb_MX"></table>
    </div>
    

</div>








<input id="staffid" hidden />

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/layui2.2.5/layui.all.js"></script>
<script>
    $(document).ready(function () {
        $("#staffid").val("@Staffid");

    });
</script>

@section scripts {
    @Scripts.Render("~/bundles/CRM/Company/Basic_Edit")
}