@using Sonluk.UI.Model.CRM.QYJS_MENUService;
@{
    ViewBag.Title = "LoadDownMenu";
    CRM_QYJS_MENU[] data = ViewBag.data;
}


@*@for (int i = 0; i < data.Length; i++)
    {

        <div style="height:200px;">
            <img src="@data[i].ML" />
        </div>



    }*@



<div class="layui-form">
    <div class="layui-form-item">
        @for (int i = 0; i < data.Length; i++)
        {
            <div class="layui-inline">
                <div class="layui-input-inline" style="text-align:center;">
                    <br /><br />

                    <img src="@data[i].ML" style="height:120px;" onclick="window.open('../Company/MenuMX?CATALOGID=@data[i].CATALOGID')" />
                    <label class="layui-form-label" style="width:inherit;height:50px;padding-left:0px;padding-right:0px;font-size:18px;text-align:center;">@data[i].NAME</label>


                </div>
            </div>
        }
    </div>
</div>