@using Sonluk.UI.Model.CRM.QYJS_FILEService;
@{
    ViewBag.Title = "LoadVideoIMG";
    CRM_QYJS_FILE[] data = ViewBag.data;
}

<div class="layui-form">
    <div class="layui-form-item">
        @for (int i = 0; i < data.Length; i++)
        {
            <div class="layui-inline">
                <div class="layui-input-inline" style="text-align:center;">
                    <br /><br />

                    <img src="@data[i].COVER" style="height:120px;" onclick="window.open('../Company/Video_Play?ID=@data[i].ID')" />
                    <label class="layui-form-label" style="width:inherit;height:50px;padding-left:0px;padding-right:0px;font-size:18px;text-align:center;">@data[i].TITLE</label>


                </div>
            </div>
        }
    </div>
</div>