<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccessSoap" />
                <binding name="EnqueueSoap" />
                <binding name="PendingSoap" />
                <binding name="LayoutSoap" />
                <binding name="PurchaseOrderSoap" />
                <binding name="SalesOrderSoap" />
                <binding name="ScheduleRequisitionSoap" />
                <binding name="VersionSoap" />
                <binding name="OutboundDeliverySoap" />
                <binding name="LogSoap" />
                <binding name="FlowSoap" />
                <binding name="ConsignmentNoteSoap" />
                <binding name="CarrierSoap" />
                <binding name="SenderSoap" />
                <binding name="CitySoap" />
                <binding name="ReceiverSoap" />
                <binding name="GoodsSoap" />
                <binding name="PackageSoap" />
                <binding name="FeedbackSoap" />
                <binding name="ComplaintSoap" />
                <binding name="UnitSoap" />
                <binding name="DestinationSoap" />
                <binding name="UserSoap" />
                <binding name="TableSoap" />
                <binding name="PriceSoap" />
                <binding name="RouteSoap" />
                <binding name="BarCodeSoap" />
                <binding name="UserSoap1" />
                <binding name="UserTokenSoap" />
                <binding name="NetWorkSoap" />
                <binding name="ComponentMoveSoap" />
                <binding name="KQinfoSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="AccessSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="EnqueueSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="PendingSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="LayoutSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="PurchaseOrderSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SalesOrderSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ScheduleRequisitionSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="VersionSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="OutboundDeliverySoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="LogSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="FlowSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ConsignmentNoteSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CarrierSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SenderSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CitySoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ReceiverSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="GoodsSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="PackageSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="FeedbackSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ComplaintSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="UnitSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="DestinationSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="UserSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="TableSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="PriceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="RouteSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="BarCodeSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="UserTokenSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="NetWorkSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ComponentMoveSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="KQinfoSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.132/API/BC/Enqueue.asmx"
                binding="basicHttpBinding" bindingConfiguration="EnqueueSoap"
                contract="BC.EnqueueService.EnqueueSoap" name="EnqueueSoap" />
            <endpoint address="http://192.168.0.132/API/BC/Enqueue.asmx"
                binding="customBinding" bindingConfiguration="EnqueueSoap12"
                contract="BC.EnqueueService.EnqueueSoap" name="EnqueueSoap12" />
            <endpoint address="http://192.168.0.132/API/Account/Access.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccessSoap"
                contract="Account.AccessService.AccessSoap" name="AccessSoap" />
            <endpoint address="http://192.168.0.132/API/Account/Access.asmx"
                binding="customBinding" bindingConfiguration="AccessSoap12"
                contract="Account.AccessService.AccessSoap" name="AccessSoap12" />
            <endpoint address="http://192.168.0.132/API/OA/Pending.asmx"
                binding="basicHttpBinding" bindingConfiguration="PendingSoap"
                contract="OA.PendingService.PendingSoap" name="PendingSoap" />
            <endpoint address="http://192.168.0.132/API/OA/Pending.asmx"
                binding="customBinding" bindingConfiguration="PendingSoap12"
                contract="OA.PendingService.PendingSoap" name="PendingSoap12" />
            <endpoint address="http://192.168.0.132/API/Print/Layout.asmx"
                binding="basicHttpBinding" bindingConfiguration="LayoutSoap"
                contract="Print.LayoutService.LayoutSoap" name="LayoutSoap" />
            <endpoint address="http://192.168.0.132/API/Print/Layout.asmx"
                binding="customBinding" bindingConfiguration="LayoutSoap12"
                contract="Print.LayoutService.LayoutSoap" name="LayoutSoap12" />
            <endpoint address="http://192.168.0.132/API/SD/SalesOrder.asmx"
                binding="basicHttpBinding" bindingConfiguration="SalesOrderSoap"
                contract="SD.SalesOrderService.SalesOrderSoap" name="SalesOrderSoap" />
            <endpoint address="http://192.168.0.132/API/SD/SalesOrder.asmx"
                binding="customBinding" bindingConfiguration="SalesOrderSoap12"
                contract="SD.SalesOrderService.SalesOrderSoap" name="SalesOrderSoap12" />
            <endpoint address="http://192.168.0.132/API/Setting/Version.asmx"
                binding="basicHttpBinding" bindingConfiguration="VersionSoap"
                contract="Setting.VersionService.VersionSoap" name="VersionSoap" />
            <endpoint address="http://192.168.0.132/API/Setting/Version.asmx"
                binding="customBinding" bindingConfiguration="VersionSoap12"
                contract="Setting.VersionService.VersionSoap" name="VersionSoap12" />
            <endpoint address="http://192.168.0.132/API/LE/OutboundDelivery.asmx"
                binding="basicHttpBinding" bindingConfiguration="OutboundDeliverySoap"
                contract="LE.OutboundDeliveryService.OutboundDeliverySoap"
                name="OutboundDeliverySoap" />
            <endpoint address="http://192.168.0.132/API/LE/OutboundDelivery.asmx"
                binding="customBinding" bindingConfiguration="OutboundDeliverySoap12"
                contract="LE.OutboundDeliveryService.OutboundDeliverySoap"
                name="OutboundDeliverySoap12" />
            <endpoint address="http://192.168.0.132/API/DEV/Log.asmx" binding="basicHttpBinding"
                bindingConfiguration="LogSoap" contract="DEV.LogService.LogSoap"
                name="LogSoap" />
            <endpoint address="http://192.168.0.132/API/DEV/Log.asmx" binding="customBinding"
                bindingConfiguration="LogSoap12" contract="DEV.LogService.LogSoap"
                name="LogSoap12" />
            <endpoint address="http://192.168.0.132/API/OA/Flow.asmx" binding="basicHttpBinding"
                bindingConfiguration="FlowSoap" contract="OA.FlowService.FlowSoap"
                name="FlowSoap" />
            <endpoint address="http://192.168.0.132/API/OA/Flow.asmx" binding="customBinding"
                bindingConfiguration="FlowSoap12" contract="OA.FlowService.FlowSoap"
                name="FlowSoap12" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Carrier.asmx"
                binding="basicHttpBinding" bindingConfiguration="CarrierSoap"
                contract="LE.TRA.CarrierService.CarrierSoap" name="CarrierSoap" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Carrier.asmx"
                binding="customBinding" bindingConfiguration="CarrierSoap12"
                contract="LE.TRA.CarrierService.CarrierSoap" name="CarrierSoap12" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Sender.asmx"
                binding="basicHttpBinding" bindingConfiguration="SenderSoap"
                contract="LE.TRA.SenderService.SenderSoap" name="SenderSoap" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Sender.asmx"
                binding="customBinding" bindingConfiguration="SenderSoap12"
                contract="LE.TRA.SenderService.SenderSoap" name="SenderSoap12" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/City.asmx"
                binding="basicHttpBinding" bindingConfiguration="CitySoap"
                contract="LE.TRA.CityService.CitySoap" name="CitySoap" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/City.asmx"
                binding="customBinding" bindingConfiguration="CitySoap12"
                contract="LE.TRA.CityService.CitySoap" name="CitySoap12" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Receiver.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReceiverSoap"
                contract="LE.TRA.ReceiverService.ReceiverSoap" name="ReceiverSoap" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Receiver.asmx"
                binding="customBinding" bindingConfiguration="ReceiverSoap12"
                contract="LE.TRA.ReceiverService.ReceiverSoap" name="ReceiverSoap12" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Goods.asmx"
                binding="basicHttpBinding" bindingConfiguration="GoodsSoap"
                contract="LE.TRA.GoodsService.GoodsSoap" name="GoodsSoap" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Goods.asmx"
                binding="customBinding" bindingConfiguration="GoodsSoap12"
                contract="LE.TRA.GoodsService.GoodsSoap" name="GoodsSoap12" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Package.asmx"
                binding="basicHttpBinding" bindingConfiguration="PackageSoap"
                contract="LE.TRA.PackageService.PackageSoap" name="PackageSoap" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Package.asmx"
                binding="customBinding" bindingConfiguration="PackageSoap12"
                contract="LE.TRA.PackageService.PackageSoap" name="PackageSoap12" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Feedback.asmx"
                binding="basicHttpBinding" bindingConfiguration="FeedbackSoap"
                contract="LE.TRA.FeedbackService.FeedbackSoap" name="FeedbackSoap" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Feedback.asmx"
                binding="customBinding" bindingConfiguration="FeedbackSoap12"
                contract="LE.TRA.FeedbackService.FeedbackSoap" name="FeedbackSoap12" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Complaint.asmx"
                binding="basicHttpBinding" bindingConfiguration="ComplaintSoap"
                contract="LE.TRA.ComplaintService.ComplaintSoap" name="ComplaintSoap" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Complaint.asmx"
                binding="customBinding" bindingConfiguration="ComplaintSoap12"
                contract="LE.TRA.ComplaintService.ComplaintSoap" name="ComplaintSoap12" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Unit.asmx"
                binding="basicHttpBinding" bindingConfiguration="UnitSoap"
                contract="LE.TRA.UnitService.UnitSoap" name="UnitSoap" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Unit.asmx"
                binding="customBinding" bindingConfiguration="UnitSoap12"
                contract="LE.TRA.UnitService.UnitSoap" name="UnitSoap12" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Destination.asmx"
                binding="basicHttpBinding" bindingConfiguration="DestinationSoap"
                contract="LE.TRA.DestinationService.DestinationSoap" name="DestinationSoap" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Destination.asmx"
                binding="customBinding" bindingConfiguration="DestinationSoap12"
                contract="LE.TRA.DestinationService.DestinationSoap" name="DestinationSoap12" />
            <endpoint address="http://192.168.0.132/API/BC/User.asmx" binding="basicHttpBinding"
                bindingConfiguration="UserSoap" contract="BC.UserService.UserSoap"
                name="UserSoap" />
            <endpoint address="http://192.168.0.132/API/BC/User.asmx" binding="customBinding"
                bindingConfiguration="UserSoap12" contract="BC.UserService.UserSoap"
                name="UserSoap12" />
            <endpoint address="http://192.168.0.132/API/DEV/TABLE.asmx" binding="basicHttpBinding"
                bindingConfiguration="TableSoap" contract="DEV.TableService.TableSoap"
                name="TableSoap" />
            <endpoint address="http://192.168.0.132/API/DEV/TABLE.asmx" binding="customBinding"
                bindingConfiguration="TableSoap12" contract="DEV.TableService.TableSoap"
                name="TableSoap12" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Price.asmx"
                binding="basicHttpBinding" bindingConfiguration="PriceSoap"
                contract="LE.TRA.PriceService.PriceSoap" name="PriceSoap" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Price.asmx"
                binding="customBinding" bindingConfiguration="PriceSoap12"
                contract="LE.TRA.PriceService.PriceSoap" name="PriceSoap12" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Route.asmx"
                binding="basicHttpBinding" bindingConfiguration="RouteSoap"
                contract="LE.TRA.RouteService.RouteSoap" name="RouteSoap" />
            <endpoint address="http://192.168.0.132/API/LE/TRA/Route.asmx"
                binding="customBinding" bindingConfiguration="RouteSoap12"
                contract="LE.TRA.RouteService.RouteSoap" name="RouteSoap12" />
            <endpoint address="http://192.168.0.218/API/LE/TRA/ConsignmentNote.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConsignmentNoteSoap"
                contract="LE.TRA.ConsignmentNoteService.ConsignmentNoteSoap"
                name="ConsignmentNoteSoap" />
            <endpoint address="http://192.168.0.218/API/LE/TRA/ConsignmentNote.asmx"
                binding="customBinding" bindingConfiguration="ConsignmentNoteSoap12"
                contract="LE.TRA.ConsignmentNoteService.ConsignmentNoteSoap"
                name="ConsignmentNoteSoap12" />
            <endpoint address="http://192.168.0.17/API/MM/ScheduleRequisition.asmx"
                binding="basicHttpBinding" bindingConfiguration="ScheduleRequisitionSoap"
                contract="MM.ScheduleRequisitionService.ScheduleRequisitionSoap"
                name="ScheduleRequisitionSoap" />
            <endpoint address="http://192.168.0.17/API/MM/ScheduleRequisition.asmx"
                binding="customBinding" bindingConfiguration="ScheduleRequisitionSoap12"
                contract="MM.ScheduleRequisitionService.ScheduleRequisitionSoap"
                name="ScheduleRequisitionSoap12" />
            <endpoint address="http://192.168.0.218/API/BC/BarCode.asmx"
                binding="basicHttpBinding" bindingConfiguration="BarCodeSoap"
                contract="BC.BarCodeService.BarCodeSoap" name="BarCodeSoap" />
            <endpoint address="http://192.168.0.218/API/BC/BarCode.asmx"
                binding="customBinding" bindingConfiguration="BarCodeSoap12"
                contract="BC.BarCodeService.BarCodeSoap" name="BarCodeSoap12" />
            <endpoint address="http://192.168.0.17/API/SSO/UserToken.asmx"
                binding="basicHttpBinding" bindingConfiguration="UserTokenSoap"
                contract="SSO.UserTokenService.UserTokenSoap" name="UserTokenSoap" />
            <endpoint address="http://192.168.0.17/API/SSO/UserToken.asmx"
                binding="customBinding" bindingConfiguration="UserTokenSoap12"
                contract="SSO.UserTokenService.UserTokenSoap" name="UserTokenSoap12" />
            <endpoint address="http://192.168.0.223/API/PS/NetWork.asmx"
                binding="basicHttpBinding" bindingConfiguration="NetWorkSoap"
                contract="PS.NetWorkService.NetWorkSoap" name="NetWorkSoap" />
            <endpoint address="http://192.168.0.223/API/PS/NetWork.asmx"
                binding="customBinding" bindingConfiguration="NetWorkSoap12"
                contract="PS.NetWorkService.NetWorkSoap" name="NetWorkSoap12" />
            <endpoint address="http://192.168.0.223/API/PS/ComponentMove.asmx"
                binding="basicHttpBinding" bindingConfiguration="ComponentMoveSoap"
                contract="PS.ComponentMoveService.ComponentMoveSoap" name="ComponentMoveSoap" />
            <endpoint address="http://192.168.0.223/API/PS/ComponentMove.asmx"
                binding="customBinding" bindingConfiguration="ComponentMoveSoap12"
                contract="PS.ComponentMoveService.ComponentMoveSoap" name="ComponentMoveSoap12" />
            <endpoint address="http://192.168.0.223/API/KQ/KQinfo.asmx" binding="basicHttpBinding"
                bindingConfiguration="KQinfoSoap" contract="KQ.KQinfoService.KQinfoSoap"
                name="KQinfoSoap" />
            <endpoint address="http://192.168.0.223/API/KQ/KQinfo.asmx" binding="customBinding"
                bindingConfiguration="KQinfoSoap12" contract="KQ.KQinfoService.KQinfoSoap"
                name="KQinfoSoap12" />
            <endpoint address="http://192.168.0.223/API/MM/PurchaseOrder.asmx"
                binding="basicHttpBinding" bindingConfiguration="PurchaseOrderSoap"
                contract="MM.PurchaseOrderService.PurchaseOrderSoap" name="PurchaseOrderSoap" />
            <endpoint address="http://192.168.0.223/API/MM/PurchaseOrder.asmx"
                binding="customBinding" bindingConfiguration="PurchaseOrderSoap12"
                contract="MM.PurchaseOrderService.PurchaseOrderSoap" name="PurchaseOrderSoap12" />
        </client>
    </system.serviceModel>
</configuration>