@{
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";
    ViewBag.Title = "导入产品组";
}

<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>产品管理</a>
    <a><cite>导入产品组</cite></a>
</span>
<br />
<br />

<div id="form1" class="layui-form">
    @*<div class="layui-form-item">

            <label class="layui-form-label">提交类型：</label>
            <div class="layui-input-inline">
                <select id="type" lay-filter="type">
                    <option value="1" selected="selected">产品组</option>
                    <option value="2">客户产品组</option>
                </select>
            </div>

        </div>*@
    <div class="layui-form-item">
        <button id="btn_insert" class="layui-btn" style="width:120px;">导入</button><br />

    </div>



</div>


<script src="~/Scripts/layui2.2.5/layui.all.js"></script>



@section scripts {
        @Scripts.Render("~/bundles/CRM/Product/DaoRu_ProductGroup")
    }