.print-page-body {
    height: 19.8cm;
}

.print-page-header {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.purchase-order-header-logo {
    float: left;
    width: 3.4cm;
    height: 2.4cm;
}
.purchase-order-header-logo-custom-number {
    float: left;
    width: 3.4cm;
    height: 0.5cm;
    font-size: 3.5mm;
    text-align:left;
}
.purchase-order-header-logo-img {
    float: left;
    width: 2.4cm;
    height: 1.9cm;
}

.purchase-order-header-title {
    float: left;
    margin-top: 0.5cm;
    margin-left: 2.7cm;
    height: 1.9cm;
    width: 6.8cm;
}

.print-page-header-report-name {
    font-size: 7.76mm;
}

.purchase-order-header-table-company {
    float: right;
    width: 6.1cm;
    height: 2.4cm;
    text-align: left;
}

    .purchase-order-header-table-company td {
        font-size: 3.5mm;
    }

.purchase-order-header-table-vendor {
    float: left;
    margin-top: 0.2cm;
    width: 11cm;
    text-align: left;
}

    .purchase-order-header-table-vendor tr {
        height: 0.5cm;
    }

.purchase-order-header-table-vendor-title {
    width: 1.6cm;
}

.purchase-order-header-table-purchaser {
    float: right;
    margin-top: 0.2cm;
    width: 6.1cm;
    text-align: left;
    font-size: 3.70mm;
}

    .purchase-order-header-table-purchaser tr {
        height: 0.5cm;
    }

.purchase-order-header-table-purchaser-title {
    width: 1.6cm;
}

.doc-type {
    text-align: right;
}

.print-page-body-table tr {
    height: 0.5cm;
}

.purchase-order-sn {
    width: 0.8cm;
}

.purchase-order-material {
    width: 2cm;
}

.purchase-order-uom {
    width: 0.8cm;
}

.purchase-order-date {
    width: 1.9cm;
}

.purchase-order-quantity {
    width: 1.9cm;
}

.purchase-order-remark {
    min-width: 0.8cm;
}

.purchase-order-request {
    margin-left: 0.2cm;
    text-align: left;
}

    .purchase-order-request tr {
        height: 0.5cm;
    }

    .purchase-order-request td {
        border: none;
    }

.purchase-order-notice {
    margin-left: 0.2cm;
    border: none;
    text-align: left;
}

    .purchase-order-notice tr {
        height: 0.5cm;
    }

    .purchase-order-notice td {
        border: none;
    }
