.print-page-header-table-title {
    width:2.4cm;
    font-size:0.37cm;
}
.print-page-header-table-po-number {
    width:9cm;
    font-size:0.37cm;
}
.report-iqcpm-line-po-number {
    border: 1px solid #000;
    border-top: 2px solid #000;
    text-align: left;
}

    .report-iqcpm-line-po-number td {
        padding-left: 4px;
        font-weight:bold;
    }

.print-page-dashed-line-alpha {
    border-top: 1px solid #000;
}
.print-page-dashed-line-beta {
    border-bottom: 1px dotted #000;
}
.print-page-dashed-line-gamma {
    border-bottom: 1px solid #000;
}

.report-iqcpm-line-delivery-request {
    border: 1px solid #000;
    text-align: left;
}

    .report-iqcpm-line-delivery-request td {
        border-top: 1px dotted #000;
        padding-left: 4px;
    }

.cell-size {
    width:120px;
}

.cell-result {
    width:100px;
}
.cell-qty {
    width:1.7cm
}
.cell-unit {
    width:0.7cm
}
.cell-item {
    width:0.8cm
}
.cell-qm {
    /*font-size:0.265cm;*/
    padding:0;
    /*height:2cm;*/
    width:3cm;
    text-align:left;
}
.cell-qm-content {

    border-bottom: 1px solid #000 !important;
}
.cell-mat {
    width:0.8cm
}
