@using Sonluk.UI.Model.LE.TRA.CarrierService
@model IEnumerable<CompanyInfo>
<div class="drop-list-body">
    <ul>
        @foreach (CompanyInfo carrier in Model)
        {
            <li>
                <div class="drop-list-item">@carrier.ShortName</div>
                <input type="hidden" value="@carrier.ID">
            </li>
        }
    </ul>
</div>