@{
    ViewBag.Title = "编辑出差申请";
    Layout = "~/Views/Shared/_Layout_CRM.cshtml";

    string Staffid = "";
    if (Session["STAFFID"] != null)
    {
        Staffid = Session["STAFFID"].ToString();
    }
}
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script type="text/html" id="shangxiawu">
    {{# if(d.CCSJLX == 1){ }}
    上午
    {{# }else if(d.CCSJLX == 2){ }}
    下午
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="qiandao">
    {{# if(d.ISQD == true){ }}
    已签到
    {{# }else if(d.ISQD == false){ }}
    未签到
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="QDWZ_Tpl">
    {{# if(d.ISQD == true){ }}
    {{ d.QDWZ }}
    {{# }else { }}

    {{# } }}
</script>

<script type="text/html" id="bar_CC">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>
<script type="text/html" id="bar_CCMX">
    @*<a class="layui-btn layui-btn-xs" lay-event="signin">签到</a>*@
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>
<script type="text/html" id="tb_fujian">
    <a class="layui-btn layui-btn-xs" lay-event="watch">查看</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>

<span class="layui-breadcrumb" lay-separator=">">
    <a href="../Public/Index1">首页</a>
    <a>考勤管理</a>
    <a><cite>编辑出差申请</cite></a>
</span>
<br />
<br />







<div id="div_jump" class="layui-form layui-form-pane" style="margin-left:10px">
    <div id="div1" class="layui-form">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <button id="btn_submit" class="layui-btn" style="margin-left: 0px;display:none">立即提交</button>
                <button id="btn_save" class="layui-btn">保存</button>
            </div>
        </div>
        <div class="layui-form-item">


            <label class="layui-form-label" style="width:160px;text-align:right;">出差人：</label>
            <div class="layui-input-inline" style="width:100px;">
                <input id="name" type="text" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width:160px;text-align:right;">部门：</label>
            <div class="layui-input-inline" style="width:120px;">
                <select id="department" lay-filter="department">
                    <option value="0" selected="selected"></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:160px;text-align:right;">出差地点：</label>
            <div class="layui-input-inline" style="width:390px;">
                <input id="address" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>

        </div>
        @* 第二行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:160px;text-align:right;">出差类型：</label>
            <div class="layui-input-inline" style="width:100px;">
                <select id="cctype" lay-filter="cctype">
                    <option value="0" selected="selected"></option>
                </select>
            </div>

            <label class="layui-form-label" style="width:160px;text-align:right;">是否本区域出差：</label>
            <div class="layui-input-inline" style="width:120px;">
                <select id="islocal" lay-filter="islocal">
                    <option value="0" selected="selected"></option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </div>

            <label class="layui-form-label" style="width:160px;text-align:right;">是否正常业务出差：</label>
            <div class="layui-input-inline" style="width:120px;">
                <select id="isnormal" lay-filter="isnormal">
                    <option value="0" selected="selected"></option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </div>


        </div>

        @* 第三行 *@
        <div class="layui-form-item">

            <label class="layui-form-label" style="width:160px;text-align:right;">出差日期：</label>
            <div class="layui-input-inline" style="width:100px;">
                <input id="time_open" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width:160px;text-align:right;">时间：</label>
            <div class="layui-input-inline" style="width:120px;">
                <select id="clock_open" lay-filter="clock_open">
                    <option value="0" selected="selected"></option>
                    <option value="08:00:00">8:00</option>
                    <option value="12:00:00">12:00</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:160px;text-align:right;">至：</label>
            <div class="layui-input-inline" style="width:100px;">
                <input id="time_end" type="text" placeholder="必填" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width:160px;text-align:right;">时间：</label>
            <div class="layui-input-inline" style="width:120px;">
                <select id="clock_end" lay-filter="clock_end">
                    <option value="0" selected="selected"></option>
                    <option value="12:00:00">12:00</option>
                    <option value="17:00:00">17:00</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">

            <label class="layui-form-label" style="width:160px;text-align:right;">工作日天数：</label>
            <div class="layui-input-inline" style="width:100px;">
                <input id="time_count" type="text" placeholder="必填" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        @* 第四行 *@
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:160px;text-align:right;">出行方式：</label>
            <div class="layui-input-inline" style="width:100px;">
                <select id="way" lay-filter="way">
                    <option value="0" selected="selected"></option>
                </select>
            </div>

            <label class="layui-form-label" style="width:160px;text-align:right;">预计总金额：</label>
            <div class="layui-input-inline" style="width:120px;">
                <input id="fee" type="text" placeholder="只输入数字" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d]/g,'')">
            </div>




        </div>

        <div class="layui-form-item">

            <label class="layui-form-label" style="width:160px;text-align:right;">其他出行方式：</label>
            <div class="layui-input-inline" style="width:100px;">
                <select id="way_other" lay-filter="way_other">
                    <option value="0" selected="selected"></option>
                </select>
            </div>

            <label class="layui-form-label" style="width:160px;text-align:right;">其他方式费用：</label>
            <div class="layui-input-inline" style="width:120px;">
                <input id="fee_other" type="text" placeholder="只输入数字" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d]/g,'')">
            </div>


        </div>

        <div class="layui-form-item">

            <label class="layui-form-label" style="width:160px;text-align:right;">备注：</label>
            <div class="layui-input-inline" style="width:390px;">
                <input id="remark" type="text" placeholder="" autocomplete="off" class="layui-input">
            </div>


        </div>
        @*<div class="layui-form-item">

                <label class="layui-form-label" style="width:160px;text-align:right;">实际金额：</label>
                <div class="layui-input-inline" style="width:390px;">
                    <input id="fee_actual" type="text" placeholder="必填" autocomplete="off" class="layui-input">
                </div>


            </div>*@

    </div>


    <div id="div_detail_table" class="layui-form">


        @* 第七行 *@
        <div class="layui-form-item">
            <table id="CC_detail" lay-filter="CC_detail"></table>
            <button id="insert_detail" class="layui-btn">新增</button>

        </div>

        <hr class="layui-bg-black">
        @* 第八行 *@
        <div class="layui-form-item">
            <table id="fujian_upload" lay-filter="fujian_upload"></table>
            <button id="uploadfile" type="button" class="layui-btn">
                <i class="layui-icon">&#xe67c;</i>附件上传
            </button>
        </div>


        <br />


    </div>


</div>



<div id="div_detail" class="layui-form" hidden>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:130px;text-align:right;">出差日期：</label>
        <div class="layui-input-inline" style="width:220px;">
            <input id="mx_time" type="text" placeholder="必填" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:130px;text-align:right;">时间段：</label>
        <div class="layui-input-inline" style="width:220px;">
            <select id="mx_timetype" lay-filter="mx_timetype">
                <option value="0" selected="selected"></option>
                <option value="1">上午</option>
                <option value="2">下午</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:130px;text-align:right;">地点：</label>
        <div class="layui-input-inline" style="width:220px;">
            <input id="mx_address" type="text" placeholder="必填" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width:130px;text-align:right;">工作内容和目标：</label>
        <div class="layui-input-inline" style="width:220px;">
            <textarea id="mx_target" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item" hidden>
        <label class="layui-form-label" style="width:130px;text-align:right;">目标完成情况：</label>
        <div class="layui-input-inline" style="width:220px;">
            <textarea id="mx_report" class="layui-textarea"></textarea>
        </div>
    </div>

</div>


<input id="staffid" hidden />
<input id="bbid" hidden />

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/layui2.2.5/layui.all.js"></script>
<script>
    $(document).ready(function () {
        $("#staffid").val("@Staffid");

    });
</script>

@section scripts {
    @Scripts.Render("~/bundles/CRM/KaoQin/Update_ChuChai")
}