@using Sonluk.UI.Model.CRM.COST_CLFTT_STAFFService;
@{
    ViewBag.Title = "Select_KACXY_Part";

    CRM_COST_CLFTT_STAFF[] TTdata = ViewBag.TTdata;

}
@for (int i = 0; i < TTdata.Length; i++)
{
   
        <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <em class="weui-form-preview__value">@TTdata[i].STAFFNAME</em>
        </div>
        <div class="weui-form-preview__bd">
            <p>
                <label class="weui-form-preview__label">分管领导</label>
                <span class="weui-form-preview__value">&nbsp;@TTdata[i].FGLDDES</span>
            </p>
            <p>
                <label class="weui-form-preview__label">省份</label>
                <span class="weui-form-preview__value">&nbsp;@TTdata[i].SFDES</span>
            </p>
            <p>
                <label class="weui-form-preview__label">成本中心</label>
                <span class="weui-form-preview__value">&nbsp;@TTdata[i].CBZXDES</span>
            </p>     
        </div>
        <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" onclick="Link_Do(@Newtonsoft.Json.JsonConvert.SerializeObject(TTdata[i]))">确定</a>
        </div>
    </div>
    <br />
}



@if (TTdata.Length == 0)
{
    <label class="weui-form-preview__label">暂无数据</label>
    <br /><br />
}

