@using Sonluk.UI.Model.CRM.COST_KADTTTService;
@{
    ViewBag.Title = "Select_KADT_Part";
    CRM_COST_KADTTT[] data = ViewBag.data;
}

@for (int i = 0; i < data.Length; i++)
{
    string isactive = "";
    switch (data[i].MX_ISACTIVE)
    {
        case 10:
            isactive = "未提交";
            break;
        case 20:
            isactive = "审核中";
            break;
        case 30:
            isactive = "已审核";
            break;
        default:
            break;
    }

    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <em class="weui-form-preview__value">@data[i].MC</em>
        </div>
        <div class="weui-form-preview__bd">
            <p>
                <label class="weui-form-preview__label">合同年份</label>
                <span class="weui-form-preview__value">&nbsp;@data[i].HTYEAR</span>
            </p>
            <p>
                <label class="weui-form-preview__label">客户编号</label>
                <span class="weui-form-preview__value">&nbsp;@data[i].CRMID</span>
            </p>
            <p>
                <label class="weui-form-preview__label">客户SAP编号</label>
                <span class="weui-form-preview__value">&nbsp;@data[i].SAPSN</span>
            </p>
            <p>
                <label class="weui-form-preview__label">活动开始日期</label>
                <span class="weui-form-preview__value">&nbsp;@data[i].HDBEGINDATE</span>
            </p>
            <p>
                <label class="weui-form-preview__label">活动结束日期</label>
                <span class="weui-form-preview__value">&nbsp;@data[i].HDENDDATE</span>
            </p>
            <p>
                <label class="weui-form-preview__label">最晚发货日期</label>
                <span class="weui-form-preview__value">&nbsp;@data[i].FHDATE</span>
            </p>
            <p>
                <label class="weui-form-preview__label">档期</label>
                <span class="weui-form-preview__value">&nbsp;@data[i].DQ</span>
            </p>
            <p>
                <label class="weui-form-preview__label">促销级别</label>
                <span class="weui-form-preview__value">&nbsp;@data[i].CXJB</span>
            </p>
            <p>
                <label class="weui-form-preview__label">活动方案说明</label>
                <span class="weui-form-preview__value">&nbsp;@data[i].HDFASM</span>
            </p>
            <p>
                <label class="weui-form-preview__label">备注</label>
                <span class="weui-form-preview__value">&nbsp;@data[i].BEIZ</span>
            </p>
            <p>
                <label class="weui-form-preview__label">创建时间</label>
                <span class="weui-form-preview__value">&nbsp;@data[i].CJSJ</span>
            </p>
            <p>
                <label class="weui-form-preview__label">状态</label>
                <span class="weui-form-preview__value">&nbsp;@isactive</span>
            </p>
        </div>
        <div class="weui-form-preview__ft">
            <button class="weui-form-preview__btn weui-form-preview__btn_primary" onclick="click_edit(@Newtonsoft.Json.JsonConvert.SerializeObject(data[i]))">编辑</button>
            <button class="weui-form-preview__btn weui-form-preview__btn" style="color:#E64340;" onclick="click_delete(@Newtonsoft.Json.JsonConvert.SerializeObject(data[i]))">删除</button>


        </div>
    </div>
    <br />
}
@if (data.Length == 0)
{
    <label class="weui-form-preview__label">暂无数据</label>
    <br /><br />
}



<input id="resultmodel" value="@Newtonsoft.Json.JsonConvert.SerializeObject(data)" hidden />