@{
    ViewBag.Title = "员工基本信息编辑";
    Layout = "~/Views/Shared/_Layout_RYXX.cshtml";
}
@using Sonluk.PC.Areas.HR.Models;
@model Sonluk.PC.Areas.HR.Models.MODEL_RYINFO_PRINTF
<script type="text/javascript" src="~/Scripts/ztree/jquery.ztree.all.js"></script>
@*<script type="text/javascript" src="~/Scripts/ztree/selectTree.js"></script>*@
<script type="text/javascript" src="~/Scripts/layui2.2.5/extend/formSelects-v4.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/ztree/plugin/css/index.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/layui2.2.5/css/formSelects-v4.css">
<script src="~/Scripts/ID_CARD/ID_Card.js"></script>
<div style="position:fixed;top:0;height:270px;width:100%;padding-left:10px">
    <div class="layui-form">
        <div class="layui-input-inline">
            <fieldset class="layui-elem-field">
                <div class="layui-upload">
                    <div class="layui-upload-list" style="margin:0px">
                        <img id="demo1" style="width:3.5cm;height:4.9cm">
                    </div>
                    <button type="button" class="layui-btn" id="test1" style="width:3.5cm;">上传图片</button>
                    <a id="pic_scr" hidden></a>
                </div>
        </div>
        <div class="layui-input-inline">
            <div class="layui-form-item" hidden>
                <label class="layui-form-label" style="width: 100px;">RYID：</label>
                <div class="layui-input-inline">
                    <label class="layui-form-label" id="text_RYID" style="text-align:left;font-size:x-large;">@Model.HR_RY_RYINFO_LIST.RYID</label>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">姓名：</label>
                <div class="layui-input-inline">
                    <label class="layui-form-label" id="text_name" style="text-align:left;font-size:x-large;width:200px"></label>
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title" style="color: #2F4056">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 100px;">部门：</label>
                    <div class="layui-input-inline">
                        <label class="layui-form-label" id="text_bm" style="text-align: left; min-width: 100px"></label>
                    </div>
                    <label class="layui-form-label" style="width: 100px;">归属部门：</label>
                    <div class="layui-input-inline">
                        <label class="layui-form-label" id="text_gsbm" style="text-align: left; min-width: 100px"></label>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 100px;">在职状态：</label>
                    <div class="layui-input-inline">
                        <label class="layui-form-label" id="text_zzzt" style="text-align: left; min-width: 150px"></label>
                    </div>
                    <label class="layui-form-label" style="width: 100px;">职称：</label>
                    <div class="layui-input-inline">
                        <label class="layui-form-label" id="text_zc" style="text-align: left; min-width: 100px"></label>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 100px;">入职日期：</label>
                    <div class="layui-input-inline">
                        <label class="layui-form-label" id="text_rzrq" style="text-align: left; min-width: 100px"></label>
                    </div>
                    <div id="lzxx" hidden>
                        <label class="layui-form-label" style="width: 100px;">离职日期：</label>
                        <div class="layui-input-inline">
                            <label class="layui-form-label" id="text_lzrq" style="text-align: left; min-width: 100px"></label>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="layui-body_ryxx">
    <fieldset class="layui-elem-field">
        <div id="div_addinfo" class="layui-form">
            <br />
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">工号：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_gh" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <label class="layui-form-label" style="width: 100px;">姓名：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_name" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">证照类型：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_zzlb" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <label class="layui-form-label" style="width: 100px;">证照号码：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_zzno" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">出生日期：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_birthday" name="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <label class="layui-form-label" style="width: 100px;">性别：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_sex" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">证照有效期：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_sfzdate" name="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <label class="layui-form-label" style="width: 100px;">职称：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_zc" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">学历：</label>
                <div class="layui-input-inline" style="width:120px">
                    <input type="text" id="addinfo_xxfs" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <div class="layui-input-inline" style="width:120px">
                    <input type="text" id="addinfo_xl" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <label class="layui-form-label" style="width: 100px;">专业：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_zy" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">员工类别：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_lb" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <label class="layui-form-label" style="width: 100px;">在职状态：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_zztype" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <div class="layui-input-inline" style="width:120px">
                    <div id="zzztbtn" hidden>
                        <button class="layui-btn layui-btn-sm" id="btn_rz">入职</button>
                        <button class="layui-btn layui-btn-sm" id="btn_bp">不聘</button>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">入职日期：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" name="date" id="in_DJRQ" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <label class="layui-form-label" style="width: 100px;">工龄起算日：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" name="date" id="in_GLQSR" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">公司：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_gs" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <label class="layui-form-label" style="width: 100px;">归属部门：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_gsbm" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">部门：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_bm" autocomplete="off" class="layui-input" readonly="readonly">
                </div>

                <label class="layui-form-label" style="width: 100px;">职务级别：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_zwlevel" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">当前职务：</label>
                <div class="layui-input-inline" style="width: 640px;">
                    <input type="text" id="addinfo_dqzw" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">旧工号：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_oldgh" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <label class="layui-form-label" style="width: 100px;">毕业院校：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_byschool" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">国籍（地区）：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_gj" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <label class="layui-form-label" style="width: 100px;">民族：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_mz" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">籍贯：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_jg" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <label class="layui-form-label" style="width: 100px;">联系电话：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_lxdh" autocomplete="off" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')" maxlength="11">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">户籍地址：</label>
                <div class="layui-input-inline" style="width:640px">
                    <input type="text" id="addinfo_hjdz" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">联系地址：</label>
                <div class="layui-input-inline" style="width:640px">
                    <input type="text" id="addinfo_lxdz" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">婚姻状况：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_hyzk" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <label class="layui-form-label" style="width: 100px;">政治面貌：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_zzmm" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">班制：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <select id="addinfo_bzinfo" lay-filter="addinfo_bzinfo"></select>
                </div>
                <label class="layui-form-label" style="width: 100px;">当前岗位：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_dqgw" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">短号：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_phoneshort" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">户籍类型：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_HJTYPE" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
                <label class="layui-form-label" style="width: 100px;">办公地点：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_OFFICEPLACE" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 130px;">是否存在以下情形：</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="like[cj]" lay-filter="like[cj]" title="残疾">
                    <input type="checkbox" name="like[ls]" lay-filter="like[ls]" title="烈属">
                    <input type="checkbox" name="like[gl]" lay-filter="like[gl]" title="孤老">
                    <input type="checkbox" name="like[jzz]" lay-filter="like[jzz]" title="居住证">
                    <input type="checkbox" name="like[hyz]" lay-filter="like[hyz]" title="婚育证">
                    <input type="checkbox" name="like[ecrz]" lay-filter="like[ecrz]" title="二次入职">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">残疾证号：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_cj" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label" style="width: 100px;">烈属证号：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_ls" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">居住证有效期：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_jzz" name="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">婚育证编号：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_hyz" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label" style="width: 100px;">有效日期：</label>
                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" id="addinfo_hyyxrq" name="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">备注：</label>
                <div class="layui-input-inline" style="width: 640px;">
                    <input type="text" id="addinfo_bz" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <br />
        <div class="layui-form-item">
            <div style="width: 650px; text-align: right">
                <button class="layui-btn" id="btn_save" style="width:100px">保存</button>
                <button class="layui-btn" id="btn_cancel" style="width:100px">取消</button>
            </div>
        </div>
    </fieldset>
</div>
<div hidden>
    <input type="text" id="ghid" value="@Model.HR_RY_RYINFO_LIST.GH">
    <input type="text" id="lzyy" value="@Model.LZYY">
</div>
@section scripts {
    @Scripts.Render("~/bundles/HR/RYGL/WS_RYINFOGL")
}
